[2020-12-01 17:18] JustinCappos commented on #189
I'm presuming the TAP 5 references are needed and not superfluous, so we
would need to replace them with something...

On Tue, Dec 1, 2020 at 7:30 PM Trishank Karthik Kuppusamy <
notifications@github.com> wrote:

[2020-12-01 17:21] jhdalek55 commented on #189
Maybe this is a stupid suggestion, because I understand why being able to cite a strategy makes it more credible, but could we take out the relevant information from TAP 5 without referencing it as such? Would that be a form of plagiarism?  Because it seems to me that it is the recommended strategy we need and not the reference.

[2020-12-01 17:22] trishankatdatadog commented on #189
You mean the use cases are not superfluous?

[2020-12-01 18:11] iramcdonald commented on #189
Hi,

I'm in favor of removing TAP-5 and NOT adding TAP-13 (or any other words)
in this first Uptane errata release.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary - IEEE-ISTO Printer
Work

[2020-12-01 18:33] mnm678 commented on #189
Because TAP 13 is slightly different, we would have to slightly re-word the standard rather than just replacing the references to TAP 5 (for example, in [Root Metadata](https://github.com/uptane/uptane-standard/blob/master/uptane-standard.md#root-metadata-root_meta) TAP 13 only allows a mapping of top-level targets). This may even be a breaking change if implementers are currently using TAP 5.

In

[2020-12-02 09:10] patrickvacek commented on #189
So to be clear, there are three places where TAP 5 is mentioned:
1. [5.2.2. Root metadata](https://uptane.github.io/uptane-standard/uptane-standard.html#root_meta): "If this mapping of URLs is used, the implementer SHOULD implement this functionality following [TAP-5] to avoid adding unforeseen security risks." This could be easily replaced with TAP 13 or it could just be removed for now.
2. [5.2.

[2020-12-02 09:13] #190 closed

[2020-12-02 14:27] iramcdonald commented on #189
Hi Patrick,

Thanks for your careful and concrete analysis.  I agree with your
conclusions.

But, if TAP-13 hasn't been officially approved yet, then we definitely
should NOT
reference it in Uptane v1.1.0.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair - TCG Metadata Access

[2020-12-04 12:55] jhdalek55 commented on #189
Can we get a resolution here? We need to do so soon if we are going to approve a final draft.

[2020-12-04 14:01] patrickvacek commented on #189
Here's a shot: https://github.com/uptane/uptane-standard/pull/196. I'm open to other options, but I wanted to get something going.

[2020-12-08 15:29] #189 closed

[2020-12-08 15:35] pattivacek opened #198 "Add references to TAP 13 (once it is accepted)"
We are [removing references to TAP 5](https://github.com/uptane/uptane-standard/issues/189), which has been more or less replaced by TAP 13, but TAP 13 isn't approved yet. Once it is, we should restore and rework some of [that text](https://github.com/uptane/uptane-standard/pull/196).

[2020-12-09 08:31] pattivacek commented on #186
No urgency here, but I'm still thinking about how to resolve this. I see a few issues at play here:

1. We need a better name for these ECUs that cannot even perform partial verification and/or that lack any storage. "Legacy Secondary" is imprecise and unclear. "Tertiary ECU" implies that these are somehow subjects of Secondaries, which is inaccurate and confusing. Some other options are "Non-Upta

[2020-12-09 16:39] mnm678 commented on #186
I like "Non-Uptane ECU", because these ECUs aren't able to perform Uptane verification

I don't think we need to mention these ECUs in the standard, as they don't actually perform Uptane verification and are therefore missing some in-vehicle security properties, but I think it would be worth describing how to push updates to them in the Deployment Best Practices.

I agree, these sections aren't ac

[2020-12-09 16:54] iramcdonald commented on #186
Hi Marina,

"Non-Uptane ECU" - excellent!

I agree that we should never mention them in the Uptane Standard.

Uptane Secondaries with limited secondary storage have a range of
constraints
(they might also have limited CPU performance).  Uptane has no business to
define concrete size of secondary storage.  In my real world experience,
very
constrained ECUs wind up mandating implementation of Delta

[2020-12-21 22:04] jhdalek55 commented on #162
We can leave this flagged for 2.0.0 for now, but based on discussions at our 12/8 meeting, it is most likely something that may need to wait for an even later version.

[2020-12-21 22:09] jhdalek55 commented on #169
In the 12/8 Standards meeting this was flagged as a 2.0.0 issue, though again its likely it might get held for a later version.

[2020-12-22 00:44] jhdalek55 commented on #174
In our meeting on 12/8, it was agreed that this should be split into two issues: one would focus on the uniqueness of private keys, while the other suggests a wording change to better frame the issues of working with  multiple primaries. I can open a new issue, but I can't seem to edit this one to change the title. Can someone assist in breaking these up. They both can be set for V.2.0.0./

[2020-12-22 02:35] jhdalek55 opened #200 "How do we address the security issues introduced by the use of aftermarket ECUs?"
First introduced at our industry workshop in May, this issue opens discussion on the complicated topic of how the use of aftermarket equipment and services impacts security systems.  Aftermarket companies refurbish and reuse equipment following end-of-life support from OEMs. This means introducing ECUs to a vehicle that the OEM has no control over. In addition, because aftermarket suppliers may no

[2020-12-22 02:53] iramcdonald commented on #200
Hi,

Aftermarket suppliers also manufacture new ECUs that add entirely new
features
to specific vehicle models that were never offered by the OEMs.  Garages
(including
OEM dealers) regularly install aftermarket ECUs (such as radiators), when
the OEM
has stopped producing them.  It's a fallacy that all aftermarket parts are
deficient
relative to OEM "official" parts.  Older vehicles depend heavily

[2020-12-22 03:22] jhdalek55 commented on #200
Thanks for opening up this discussion, @iramcdonald

[2021-01-04 13:33] jhdalek55 commented on #174
Ok. I'll open the new issue. Just getting started this morning.

Lois

On Mon, Jan 4, 2021 at 6:16 AM Patti Vacek <notifications@github.com> wrote:

[2021-01-05 14:54] jhdalek55 commented on #200
Can someone with the right privileges flag the milestone for this issue. Let's make it 2.0.0 for now.

[2021-01-19 16:36] jhdalek55 opened #201 "Designating a Primary for Secondary ECUs in Multiple Primary Configuration"
This issue splits off from Issue #174, which was actually two unrelated issues in a single package. Here, the question is managing configurations that feature more than one Primary. As explained in the original issue, posted by @allen-cain:

The Standard and Deployment Considerations have both been expanded to allow for a vehicle to have multiple Primaries.
The Standard Section 5.4.2 states If mul

[2021-01-19 16:38] jhdalek55 commented on #201
**Discussion moved over from Issue #174**

2\. **Proposal:** Modify the Standard to allow for multiple Primaries to interact with a Secondary.
    Proposed wording: `If multiple such Primaries are included within a vehicle, each Secondary ECU **SHOULD** have a single Primary responsible for providing its updates`
I think the choice to make this a SHALL in the standard was intentional to ensure tha

[2021-01-19 16:41] jhdalek55 commented on #174
OK, this took me longer than expected, but I have opened Issue #201  to address the multiple Primary issue. Can you change this one now to be just about ECU private keys

[2021-01-26 13:04] tkfu opened #202 "Unaddressed freeze attack (or denial of service) based on Director replay"
This issue relies on the following properties of director metadata and verification procedure:

* 5.2.3.1, "Each Targets role MAY provide a list of some images on the repository." Targets metadata in general can be empty.
* 5.4.4.6 (targets metadata verification procedure), there is no requirement that top-level targets metadata from the director contain an image.

Some implementations might choos

[2021-01-26 13:04] tkfu commented on #202
We could mitigate this by adding the VIN (or whatever vehicle identifier) as a required top-level field in director targets metadata, but if I understand correctly that would have to wait for 2.0 (please correct me if I'm wrong there, @iramcdonald).

In the near term, we can (and should) add something to deployment considerations warning about the risk of using empty director targets metadata. If

[2021-01-26 13:13] iramcdonald commented on #202
Hi Jon,

Yes - adding a new required field to Targets metadata would be a 2.0 change.

But I agree that we should quickly add a discussion of this issue to the
Deployments Best Practices
and say that Targets metadata should always include at least one target.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mo

[2021-01-26 13:13] JustinCappos commented on #202
Nice catch.  I agree that we need to consider this case and think that it
is sensible to address it in the manner you describe.

On Tue, Jan 26, 2021 at 9:05 PM Jon Oster <notifications@github.com> wrote:

[2021-01-26 13:27] tkfu commented on #202
Sorry for arguing with myself here, but I think it may be possible to read the current standard to permit adding extra fields to the metadata. I don't see anywhere where we say "the targets metadata MUST NOT contain any fields not explicitly mentioned in the standard". So if it's possible to add top-level fields to the targets metadata, we could potentially also recommend (as a mitigation in deplo

[2021-01-26 13:33] iramcdonald commented on #202
Hi,

Jon said:

" So, should we take that to mean that the only place where implementations
are permitted to add extra information is in the custom field we talk
about? Or can we have a baseline assumption that anything not explicitly
forbidden is permitted"

I prefer your baseline assumption.  I dislike saying that any additions go
into the "custom" field - that seems to constrain designs,
withou

[2021-01-26 14:36] tkfu commented on #202
I opened a PR for this (uptane/deployment-considerations#90), and I elected to describe both possible mitigations, because adding a VIN field would require an in-vehicle client change whereas simply ensuring director targets metadata isn't empty can be implemented entirely on the server side.

[2021-01-26 15:40] JustinCappos commented on #202
FYI: TUF supports the custom field.  There is an ongoing discussion
tangentially related.  https://github.com/theupdateframework/tuf/issues/1266

I can talk more about why it works this way in the next meeting if there is
interest.

[2021-01-27 21:56] jhdalek55 commented on #202
@JustinCappos @tkfu  let me know if I should add an agenda item to discuss the custom fields described above.

[2021-01-28 10:06] tkfu commented on #202
Please do @jhdalek55, thank you!

[2021-01-28 11:55] pattivacek commented on #174
Done.

[2021-01-28 15:54] jhdalek55 commented on #174
@pattivacek  Thank you.

[2021-01-28 16:08] iramcdonald commented on #201
I am strongly in favor of the use of SHALL here (in the Standard and in the Deployment Best Practices).  If a given Secondary can install updates from two different Primaries in the same vehicle, then the security posture of that Secondary cannot be deterministic and collisions between competing Prinmaries are inevitable.
Separately, there should be new text (in v2.0) for both Standard and Deploym

[2021-01-28 16:34] mnm678 commented on #201
I agree with @iramcdonald that we should add a SHALL that each Secondary is associated with a single Primary, but I think requiring the Primaries to coordinate would add unnecessary challenges for aftermarket ECUs, or more generally Primaries that are controlled by different parties.

[2021-01-28 16:55] iramcdonald commented on #201
Hi Marina,

Ah - but my point was specifically *about* both Aftermarket and "legacy"
Primaries (the latter
include so called "self-updaters" such as Infotainment ECUs and Telematics
ECUs).

For two different OEMs, I've written requirements that multiple Primaries
*must* coordinate,
or else the safety and security of OTA software updates for the collection
of Secondaries
cannot be deterministic.

T

[2021-01-28 19:12] jhdalek55 commented on #201
Can someone tag this for V.2.0.0.0? I'm not able to do that.

[2021-02-10 07:44] #186 closed

[2021-03-12 16:19] jhdalek55 commented on #198
@trishankatdatadog @mnm678 @JustinCappos what is the current status of TAP 13? Do you think it will be accepted before our June deadline for V.1.2.0? If not, we should change the milestone on this issue.

[2021-03-12 17:29] jhdalek55 commented on #202
@tkfu @JustinCappos according to the discussion notes from the 2/2/21 call, this issue was partially addressed by PR #90  on the Deployment pages, which was merged on 2/13. Can someone reframe the larger issue discussed here that would affect the Standard and then change the milestone label to 2.0.0. My notes state this would be "the larger issue of deciding whether to allow custom metadata anywhe

[2021-03-12 21:38] jhdalek55 commented on #181
What exactly has to be addressed to resolve this issue? I understand it is a breaking change and therefore has to wait till 2.0.0. But, does it require changes to the spec? Or is it simply a change in wording that can be quickly resolved when we're ready for 2.0.0? I am trying to get a sense of how much work some of these 2.0.0. changes might take when we are ready to make them.

[2021-03-12 22:24] jhdalek55 opened #204 "Complete Move of Glossary to Deployment Best Practices"
At @iramcdonald suggestion, I've moved the Glossary/Terminology section to the Deployment pages. Now, I need someone to remove the Terminology piece from the Standard and insert a pointer under the Terminology heading directing readers to the right place in the Deployment document. Thank you.

[2021-03-15 11:14] JustinCappos commented on #198
I think it's plausible.  Let's see.  The Notary V2 effort (and possibly
Python community too) will help debug this for us.

On Sat, Mar 13, 2021 at 12:19 AM Lois Anne DeLong ***@***.***>
wrote:

[2021-03-25 20:01] jhdalek55 commented on #204
@mnm678 can you perhaps take care of this for me?

[2021-03-25 20:08] jhdalek55 commented on #202
Can someone act on the request above of better and frame the 2.0.0 question of this issue?

[2021-03-26 20:22] mnm678 commented on #204
Yes, I opened pr #205 to add the pointer.

It looks like the glossary doesn't show up in the deployment best practices toolbar on the website, so I'll open a pr there as well to fix that.

[2021-03-26 20:28] mnm678 commented on #204
See also uptane/uptane.github.io#37.

[2021-03-26 20:38] jhdalek55 opened #206 "Securely requesting user consent to apply updates that must go through the cloud"
The following issue was brought to us from the field and it deals with an area that, to my knowledge, has not been discussed in the light of Uptane so far--utilization of mobile devices, and interacting with the cloud, to install update. '

The theoretical scenario is as follows:

A vehicle determines that an update is available and downloads the necessary images. Before they can be installed,  th

[2021-03-26 20:48] jhdalek55 opened #207 "Acting on attacks detected by a vehicle when communication with the cloud has been compromised"
Related to Issue #206, here is another issue related to possible cloud compromise submitted from the community.

If a vehicle owner gives consent for updates through a smart device, there may not be any method for direct communication between the vehicle and the mobile device, making end-to-end signing difficult. In such a scenario, we  also cannot assume there is any human-machine interface on th

[2021-03-30 14:59] jhdalek55 commented on #204
Fixed via PR #205  and  uptane/uptane.github.io#37

[2021-03-30 14:59] #204 closed

[2021-03-30 15:06] tkfu commented on #206
This is out of scope for Uptane. The guarantee we make for freeze attacks (denial of updates) is only that they are detectable in the face of a MITM, not that they're fully preventable.  (Because of course you can trivially deny updates by blocking all network communication.) Freeze attacks are detectable on the vehicle side via metadata expiry; if the vehicle's metadata is expired and it can't ge

[2021-03-30 15:25] tkfu commented on #207
I'm afraid the answer here is pretty tautological: if a vehicle is designed such that its only way to communicate a fault to the end user is via some cloud service, then yes, a total compromise of that cloud service would indeed mean that the vehicle has lost the ability to communicate the fault. There's no way around that.

However, even if the cloud service is completely compromised and all onli

[2021-03-30 22:06] jhdalek55 commented on #194
Per our 3/30 meeting, this check for slow retrieval attacks can be labeled as a SHOULD for 1.2.0 and then be made a SHALL for V.2.0.0

[2021-03-30 23:15] jhdalek55 commented on #162
Per our 3/16 meeting, it was recommended by @iramcdonald  that we add a mention of this issue to the Deployment pages as a way of letting the community know we are aware of this issue. Draft text could be added to "Exceptional Operations" page.

[2021-03-30 23:17] jhdalek55 commented on #200
At our 3/16 meeting,, it was suggested that we add a mention of these issues to the Deployment pages for our V.1.2.0.

[2021-04-01 19:00] mnm678 commented on #174
Back to the key uniqueness issue: When would an ECU key not be unique to the ECU? And would a non-unique key mess up the signing of the ECU version report?

For the image encryption case, I don't see any problem with allowing non-unique ECU keys at the OEM's discretion, but I think duplicate keys for signing may introduce a replay attack for version reports.

[2021-04-09 12:13] jhdalek55 commented on #194
Can someone open a pull request changing the requested language to a SHOULD?

[2021-04-09 12:26] jhdalek55 commented on #201
Can someone take a look at the issue and see if there is an interim step we could take?

[2021-04-09 18:23] mnm678 commented on #201
Any change to this part of the standard (reducing the SHALL) will have to wait for 2.0.0. What we can do now is decide if this is something we want to do, and how to specify the coordination between multiple primaries in the deployment considerations.

[2021-04-09 18:25] mnm678 commented on #194
It looks like #193 already adds a SHOULD, so I think this is just waiting for 2.0.0

[2021-04-13 13:59] jhdalek55 commented on #194
Ok. No interim 1.2.0 strategy needed.

[2021-04-13 14:18] jhdalek55 commented on #201
Add something about this issue to new "Emerging Issues" page on the website.

[2021-04-20 22:09] jhdalek55 commented on #174
As of 4/13/21, This issue remains unresolved as the group has not developed a consensus on whether we want to have non-unique keys for signing. Therefore, this is **deferred for the moment**

[2021-04-20 22:18] jhdalek55 commented on #181
This is just awaiting the wording change to MUST in 2.0.0.

[2021-04-20 23:00] jhdalek55 commented on #202
The interim step was taken I would still like to see the larger issue clarified somewhat better.

[2021-04-21 13:55] iramcdonald commented on #174
Hi,

An observation about weakening of crypto protections:

Using non-unique ECU private keys for signing images could easily result in
tens of thousands
(or more) of uses of the same key for each binary image.  This could
greatly facilitate attacker
recovery of the key.

In general, there's a darn good reason that private keys should be unique
to a single instance
of an entity.

Cheers,
- Ira

*I

[2021-04-21 21:45] allen-cain-tm commented on #174
Hi @iramcdonald , @mnm678 , @jhdalek55

Thank you for your comments and valuable feedback.
Completely understand that this request/issue must be deferred to v2.0 to ensure we do not impact backwards compatibility.

My intent of changing "SHALL" --> "SHOULD" is to allow OEMs to architect their key management infrastructure in a way that is not restricted by the standard.
This allows an OEM to perfo

[2021-04-23 18:41] mnm678 commented on #174
The Uptane uses `ECU key` to refer to a key performing 2 main functions:
* Signing the ECU version report
* Decrypting images

In the second case, the uniqueness can certainly be left up to the OEM. Encrypted images are supported by Uptane, but don't really affect the authenticity checks.

In the first case, it looks like a replay attack would be prevented by the use of the "ECU's unique identifie

[2021-04-26 16:05] jhdalek55 commented on #162
At our 4/13 meeting, it was agreed we should add an "Emerging Issues" page to Deployment Best Practices  that would address topics like this one where no definitive solution is on the horizon. PR # 104 opened a file for this page and @jhdalek55 will draft some initial text. In addition to this issue, the text will address Issues #200, #201  and Issue #86 on the Deployment pages.

[2021-04-26 16:07] jhdalek55 commented on #200
At our 4/13 meeting, it was agreed we should add an "Emerging Issues" page to Deployment Best Practices that would address topics like this one where no definitive solution is on the horizon. PR # 104 opened a file for this page and @jhdalek55 will draft some initial text. In addition to this issue, the text will address Issues #200, #201 and Issue #86 on the Deployment pages.

[2021-04-26 16:07] jhdalek55 commented on #201
At our 4/13 meeting, it was agreed we should add an "Emerging Issues" page to Deployment Best Practices that would address topics like this one where no definitive solution is on the horizon. PR # 104 opened a file for this page and @jhdalek55 will draft some initial text. In addition to this issue, the text will address Issues #200, #201 and Issue #86 on the Deployment pages.

[2021-04-27 14:15] plapczyn commented on #198
Per 2021-04-27 Uptane meeting, we think it should be plausible to release TAP 13 before the 1.2.0 Uptane release. @mnm678  to add to net TUF meeting agenda.

[2021-04-27 15:27] tkfu commented on #207
Closing this out due to lack of further activity.

[2021-04-27 15:27] #207 closed

[2021-04-27 15:31] tkfu commented on #206
Closing this as out of scope. Can be reopened if anyone wants to discuss further whether we should be addressing this is some future release or in the deployment considerations, but I'd argue pretty strongly that this isn't something we want to get into specifying--it increases the moving parts in the system way too much, and can be addressed in other ways and by general best practices.

[2021-04-27 15:31] #206 closed

[2021-04-28 16:49] mnm678 opened #209 "Clarify threshold requirement"
In a number of TUF implementations, duplicate signatures with the same keyid have been counted multiple times toward the same threshold (including [the reference implementation](https://github.com/theupdateframework/tuf/security/advisories/GHSA-pwqf-9h7j-7mv8)). The Uptane Standard does not explicitly state that only unique keys be counted toward the threshold, so I could see the same confusion ha

[2021-04-28 17:19] iramcdonald commented on #209
Hi Marina,

I much prefer your first option - it's unambiguous and easier to implement
and
verify in an audit.

Cheers,
- Ira

On Wed, Apr 28, 2021 at 12:50 PM Marina Moore ***@***.***>
wrote:

[2021-05-07 15:45] jhdalek55 commented on #209
@mnm678 could you draft a PR for the change you are suggesting?

[2021-05-07 15:47] jhdalek55 commented on #198
@JustinCappos @mnm678  should we still anticipate this as a 1.2.0 issue?

[2021-05-11 16:16] jhdalek55 commented on #209
Close with PR #210

[2021-05-11 16:37] #209 closed

[2021-05-25 16:13] jhdalek55 commented on #198
During the 5/25 Uptane Standards meeting it was decided we would re-label this for V.2.0.0. Though there has been some progress on TAP 13, it likely will require a little more time before approval.

[2021-05-25 18:29] jhdalek55 commented on #198
Thanks, Marina.

[2021-07-28 19:54] jhdalek55 commented on #181
At our Uptane Standards Meeting on 7/20, it was affirmed that this was just awaiting the wording change and that this change can be made now rather than waiting till right before the 2.0.0 deadline. However, we must approve PR #213 and resolve the must vs. shall issue, which will be discussed on the 8/3/21 call.

[2021-07-28 21:18] jhdalek55 commented on #174
This issue was discussed at our meeting on 7/20/21. @mnm678 @iramcdonald, correct this summary if it is not correct. Part of the problem seems to be that the term "private key" can be interpreted in different ways, one of them being a generic term for an identifier. Private keys must be unique. "Secret key" might be a better choice in some instances. What is needed is some clarifying text and perh

[2021-07-28 21:40] jhdalek55 commented on #194
At our Uptane Standards Meeting on 7/20, it was affirmed that this was just awaiting the wording change and that this change can be made now rather than waiting till right before the 2.0.0 deadline. However, we must approve PR #213 (which adds a statement that changes are made in real-time on the repository, but are not considered "official" till the next version is released) and resolve the must

[2021-07-28 21:41] jhdalek55 commented on #202
At our Uptane Standards Meeting on 7/20, it was affirmed that this was just awaiting the wording change and that this change can be made now rather than waiting till right before the 2.0.0 deadline. However, we must approve PR #213 (which adds a statement that changes are made in real-time on the repository, but are not considered "official" till the next version is released) and resolve the must

[2021-07-28 22:03] jhdalek55 opened #214 "Standardizing the use of MUST and SHALL"
Currently, the Standard uses the words MUST and SHALL interchangeably, which is fine in terms of their definition in RFC2119. But in other contexts, the two words carry slightly different meanings that could lead to slightly different perceptions when used in the Standard. Hence, we want to use only one of these terms in the Standard to show degree of required compliance.

Early and totally unoffi

[2021-07-28 22:56] jhdalek55 commented on #169
Here was the discussion of this issues from the 7/6 meeting:

This touches on architecture issues that Uptane is not designed to resolve. In section 5.4.2.5, the Standard currently includes a “conditional” requirement: “Unless the Secondary ECU has its own way of verifying the time or does not have the capacity to verify a time message, the Primary is CONDITIONALLY REQUIRED to send the time to eac

[2021-07-31 09:00] JustinCappos commented on #169
Another option is just always to require the primary to send the time.
Then we would need to deal with the issue of the times not matching, though
(which I think we should already comment on in the Deployment Best
Practices).

On Thu, Jul 29, 2021 at 6:56 AM Lois Anne DeLong ***@***.***>
wrote:

[2021-08-02 19:54] jhdalek55 commented on #181
PR#213 was merged. Wording changes for 2.0.0. can now be merged.

[2021-08-02 19:55] jhdalek55 commented on #194
PR#213 was merged. Wording changes for 2.0.0. can now be made in agreement with our SHALL vs MUST decision.

[2021-08-02 19:56] jhdalek55 commented on #202
PR#213 was merged. Wording changes for 2.0.0. can now be made in agreement with our SHALL vs MUST decision.

[2021-08-04 19:27] jhdalek55 commented on #214
On 8/3/21 Attendees agreed to establish SHALL as our RFC2119 word of mandatory compliance throughout the Standard. This will be added to the stylesheet for the Standard, and the word MUST should be replaced with SHALL wherever it appears in the Standard.

[2021-08-16 02:46] jhdalek55 commented on #162
At the Uptane Standard meeting on 8/3, it was suggested we may add some text about this issue may be added to the Deployment pages. This will focus only on the problems and will not put forward any solutions.

[2021-08-17 02:53] jhdalek55 commented on #162
We need a volunteer to ad some text to the Deployment pages on this topic.

[2021-08-17 02:54] jhdalek55 commented on #169
Can someone start a PR on the Deployment pages that addresses this issue?

[2021-08-17 03:00] jhdalek55 commented on #174
Still seeking a volunteer....

[2021-08-17 03:02] jhdalek55 commented on #181
We need a volunteer to make the wording change to SHALL.

[2021-08-17 03:08] jhdalek55 commented on #194
Need a volunteer to submit a PR changing a SHOULD to a SHALL. I believe this is what must be changed...
"A Secondary ECU SHOULD perform full verification if possible. If a Secondary cannot perform full verification, it SHALL, at the very least, perform partial verification."

[2021-08-17 03:11] jhdalek55 commented on #200
At our 8/3 meeting, the suggested action was "some text about this issue may be added to the Deployment pages. This will focus only on the problems and will not put forward any solutions." If we are adding this text, we need a volunteer to draft such text.

[2021-08-17 03:13] jhdalek55 commented on #201
The consensus was to add some text to the Standard, but as a SHOULD and not a SHALL (i.e. “Secondaries SHOULD only have one . If this text is added, then a rationale for the SHOULD needs to be included in the Deployment section. It was agreed that text should be drafted and the debate can continue from there."

Are we moving forward with this and can we get a volunteer?

[2021-08-17 03:19] jhdalek55 commented on #202
We need a volunteer to make the necessary wording change.

[2021-08-17 03:21] jhdalek55 commented on #214
The word "SHALL" and other conformance definition should be added to the Standard.

[2021-09-10 02:53] jhdalek55 commented on #201
We still need a volunteer to draft some text for this.

[2021-09-10 02:56] jhdalek55 commented on #169
@trishankatdatadog...is this the issue Datadog wants to pursue, as per our discussion at the 8/31 meeting? If so, could you or someone from your group open up a PR on the Deployment pages addressing this?

[2021-09-10 03:00] jhdalek55 commented on #174
Can someone please step in here and draft some new text that changes "private key" to "secret key" when used as a generic terms for an identifier?

[2021-09-13 15:15] jhdalek55 commented on #214
This issue is resolved via PR #215

[2021-09-13 15:35] #214 closed

[2021-09-13 21:25] jhdalek55 commented on #200
I can probably cobble together a rough draft for this, based on what we included in the first whitepaper, as long as several people agree to review the content. I'll try to get this done later in the week.

[2021-09-17 16:56] jhdalek55 commented on #174
@JustinCappos @iramcdonald @tkfu @trishankatdatadog or anyone else we cares to comment.

I just did a quick search in the Standard and the instance cited at the beginning of this issue thread (is the only place where the phrase "private key" is used. (and the term does not seem to appear in the Deployment Best Practices. Given that, do we need to make this wording change in this one instance? Woul

[2021-09-17 17:06] jhdalek55 commented on #181
@trishankkarthik @tkfu @JustinCappos or any others....please review and approve so we can close out #217

[2021-09-17 17:13] jhdalek55 commented on #194
Please review and approve PR #216 so we can close this...

[2021-09-17 19:06] iramcdonald commented on #174
Hi Lois,

Your text and wording make sense to me.

I will again say that the use of non-unique signing keys *anywhere* in
computer
systems is inherently dangerous and invites attacker efforts to acquire
those
fairly insecure signing keys.

I will also remind us that it has been security best practice (and
reflected in ISO,
TCG, Global Platform, US NIST, etc. standards) for more than twenty years t

[2021-09-17 23:43] jhdalek55 commented on #202
@tkfu or anyone. This is not an issue I feel comfortable drafting.

[2021-09-19 13:11] jhdalek55 commented on #169
We will discuss this issue in response to Datadog's interest in this topic at our meeting on September 28.

[2021-09-27 17:53] jhdalek55 commented on #162
Though we have mentioned the issue on the "Emerging Issues" page, it probably should have some text directly addressing it. While I would much prefer this be addressed by someone with more knowledge than I on the subject, I will put together some rough text if several of the group members will give it a careful reading.

[2021-09-28 13:11] #181 closed

[2021-09-28 14:16] #194 closed

[2021-09-28 18:08] jhdalek55 commented on #201
It was agreed that we should add some text to the Standard stating that, in  cases where a system has multiple primaries, each primary SHOULD have its one designated set of secondaries.  In the Deployment pages, we should explain that secondaries lack the resources to prioritize between primaries which could prevt secondaries from maintaining compliance.

[2021-09-28 18:21] iramcdonald commented on #201
Hi Lois,

Yes.  Specifically the Secondaries need to maintain their ISO 26262
Functional Safety
and ISO/SAE 21434 Cybersecurity Engineering compliance (for UNECE R155
audits)
and ISO 26262 Functional Safety and ISO 24089 compliance (for UNECE R156
audits).

Cheers,
- Ira

PS - Interesting inversion of our original text that a Secondary SHOULD
have only one
Primary into our discussion sense today t

[2021-09-28 21:11] jhdalek55 commented on #162
@pattivacek ...when you get a chance, can you change the title of this issue to "How do we handle government updates?"

This is per @iramcdonald's comments in the 9/28 Uptane Standard meeting that these updates may not always involve an emergency. Thanks,

[2021-09-29 15:14] pattivacek commented on #162
Done.

[2021-09-29 15:17] jhdalek55 commented on #162
Thanks, Patti.

[2021-09-29 15:26] jhdalek55 commented on #200
Addressed in part by Deployment PR #116

[2021-10-09 02:13] jhdalek55 commented on #162
PR #118 on the Deployment pages provides a partial answer to this issue. It will not close out the issue, but acknowledges the problem.

[2021-11-03 07:02] pattivacek opened #220 "Build-time requirement of preinstalled full set of metadata"
Section 5.4.1 says "Full verification ECUs MUST have a complete set of metadata (Root, Targets, Snapshot, and Timestamp) from both repositories". It points to the [Deployment Best Practices](https://github.com/uptane/deployment-considerations/blob/master/ecus.md) for more information, but that mostly just repeats the same information. I'm wondering why we need anything more than the Root. The purp

[2021-11-03 12:15] jhdalek55 commented on #198
TAP 13 has been approved as a draft as of 11-3-21. Is this sufficient acceptance to reference it in Uptane? Or, should we wait until it has been approved and merged?

[2021-11-03 12:50] joshuagl commented on #220
Drive by TUF comment, apologies if I am missing context.

In short – you need a prior version of the metadata to do rollback protection. We have a proposed TAP for formalising so-called backstop metadata, and bootstrapping from a known set of trusted metadata, here: https://github.com/theupdateframework/taps/pull/128

[2021-11-03 16:27] pattivacek commented on #220
Thanks, that does explain it pretty well! I was thinking of a case where you'd trust anything signed by the right keys, but I like this idea of the backstop metadata. That does sound like the right thing to do.

[2021-11-03 16:27] #220 closed

[2021-11-03 18:23] mnm678 commented on #198
We should wait until it's approved. Some of the implementation details might change, so Uptane implementers should probably wait to implement until acceptance.

[2021-11-04 22:20] jhdalek55 commented on #201
Thanks @mnm678 for PR #219 (which needs to be reviewed). We also discussed adding text to the Deployment pages with a justification for this action. Can someone take care of this?

[2021-11-04 22:36] jhdalek55 opened #221 "Add recommendation that Uptane use some type of transport security"
At the 10/26 Uptane Standards meeting, it was decided we should add a sentence to the Standard that recommends Uptane use some type of transport security.

[2021-11-04 22:41] jhdalek55 opened #222 "How does Uptane integrate with existing supply chain technologies?"
At the October 26 Uptane Standards meeting, it was decided we should add a few sentences to the Deployment Best Practices document on how Uptane integrates with other supply chain technologies.

[2021-11-04 23:26] iramcdonald commented on #221
Hi,

And the rationale for transport security (with *mutual strong
authentication*) is two reasons:
1) Defense in depth (i.e., augments the application layer image
signature/package signature)
2) Complete defense against MiTM attacks during update package download.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trus

[2021-11-05 00:34] jhdalek55 opened #223 "Add a note about Uptane costs"
At the 9/23 workshop, a question was raised about the cost of using Uptane. It was one of several very basic questions about implementing Uptane brought up at the workshop, and so it was decided we needed a line or two in the Standard to address it, even though implementation costs would likely be influenced by factors other than the requirements of the Standard. The sentences should emphasize tha

[2021-11-05 02:19] jhdalek55 commented on #221
@iramcdonald, Thanks for adding the motivation. This is helpful.

[2021-11-05 18:44] jhdalek55 commented on #174
Note: This should probably be "re-flagged" for Version 3.0.0, as we only partially addressed the issue with PR#218. I would recommend we change the title to "Must all private keys be unique?"

[2021-11-05 18:51] jhdalek55 commented on #200
Since this issue cannot be resolved at this time, can we make a new label, perhaps PENDING, for issues like this for which cannot say when they answered? I would prefer we did not leave a bunch of issues like this labeled 2.0.0 on the repo as it gives the appearance that we did not completed these on-time. Failing that can we leave it posted without a a label at all?

[2021-11-05 19:11] jhdalek55 commented on #198
Since this issue cannot be resolved at this time, can we make a new label, perhaps PENDING, for issues like this for which cannot say when they answered? I would prefer we did not leave issues like this (#162 #198) labeled "2.0.0" on the repo as it gives the appearance that we did not completed these on-time. Failing that can we leave it posted without a version label at all?

[2021-11-05 19:11] jhdalek55 commented on #162
Since this issue cannot be resolved at this time, can we make a new label, perhaps PENDING, for issues like this for which cannot say when they answered? I would prefer we did not leave issues like this (#162 #198) labeled "2.0.0" on the repo as it gives the appearance that we did not completed these on-time. Failing that can we leave it posted without a version label at all?

[2021-11-08 02:00] jhdalek55 commented on #221
As I was reviewing some old emails, I ran across a recommendation from @iramcdonald that we should add a definition of the concept of "defense in depth" and use this as the rationale for adding some type of transport security. I can probably take care of this and add a bit more to the short discussion of transport security in the Deployment  document. I will use the definition @iramcdonald shared

[2021-11-08 18:33] jhdalek55 commented on #221
See PR #120 in Deployment Best Practices.

[2021-11-08 22:21] jhdalek55 commented on #222
I honestly don't know what other "supply chain technologies" to write about here. Can someone else take the lead here? Or at least point me in the right direction?

[2021-11-08 22:30] iramcdonald commented on #222
Hi Lois,

The obvious one is "in-toto".  Either Justin or Marina could probably
suggest some text.

Cheers,
- Ira

PS - On today's NIST Supply Chain Security Workshop, one of the presenters
focused
on open source used "in-toto" as his example for a mature supply chain
security tool.
Hooray.

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair

[2021-11-08 22:48] jhdalek55 commented on #222
I should have added the clarifying comment "other than in-toto." I've been educating myself in all things supply chain to draft the white paper, but I have not yet found any other examples of supply chain security being applied in the automotive world. It's specifically a shout-out for that type of information. Also, as much as I would like to, I don't think our Deployment pages should just say "U

[2021-11-09 17:21] jhdalek55 commented on #223
There was quite a bit of discussion at the 11/9 Uptane Standards meeting about  what we could say on this topic. One suggestion was to offer some type of anecdotal evidence on the topic by a company that has implemented Uptane (such as HERE, so @pattivacek or @tkfu, could you weigh in on this issue?).  Another line of thought is that, at this point, any expense is going to be more expensive than d

[2021-11-09 19:48] mnm678 opened #225 "Add note about python-TUF's CVE-2021-41131"
As mentioned on the 11/9 standards call and in response to the [TUF CVE](https://github.com/theupdateframework/python-tuf/security/advisories/GHSA-wjw6-2cqr-j4qr), we should add a note to the standard (or at least the deployment pages) about the possible client path traversal and how to prevent it. To be clear, this is not a security issue in the standard, but it may affect Uptane implementations

[2021-11-10 02:47] JustinCappos commented on #222
I would mention it more as the properties we need and in-toto as an
exemplar of what can integrate in smoothly.

On Tue, Nov 9, 2021 at 6:48 AM Lois Anne DeLong ***@***.***>
wrote:

[2021-11-17 23:10] jhdalek55 commented on #222
I can take a stab at this. I'm in the midst of working out the text for the white paper so I can do this simultaneously.

[2021-11-22 20:30] tkfu commented on #223
I missed that meeting, so forgive me if I'm re-treading ground here.

I think there are basically two paths that an OEM can go down in choosing to implement Uptane: either buy an off-the-shelf solution and do an integration, or build a custom solution, with some greater or smaller degree of reliance on the open-source client and server components.

The relative costs of those two options (and the

[2021-11-23 03:40] JustinCappos commented on #223
This is great!  I'd like to propose that we figure out a good way to add
this to the documents so that others can benefit from your wisdom on the
topic.

On Tue, Nov 23, 2021 at 4:31 AM Jon Oster ***@***.***> wrote:

[2021-11-23 04:45] jhdalek55 commented on #223
We could add this text to the Deployment best practices, perhaps towards the end of the "Setting up Uptane repositories" section, as it would likely be a discussion to make when Uptane is initially implemented.

[2021-11-23 08:06] pattivacek commented on #223
I don't think I have much to add here, but this part got me thinking. I see three main ways of implementing Uptane:

1. Greenfield project: the extra cost will be minimal, because you need an organized way of developing a secure system anyway, so why not just use Uptane?
2. Upgrading a legacy solution: most likely you're going to want to do a risk assessment of the current solution and evaluate wh

[2021-11-23 15:15] tkfu commented on #223
Yeah, I think the implication of the cost question is, in fact, usually about the cost trade-off between taking shortcuts and sacrificing security or doing it right and spending more time/money. For example, robust key rotation is one of the most important pillars of TUF and Uptane, but it's also something that, in my experience, companies are often fully prepared to throw out the window if they t

[2021-11-23 15:19] hexsecs commented on #225
Should we add the advisory to the reference implementation advisory page https://github.com/uptane/uptane/security/advisories ?

[2021-11-23 15:23] mnm678 commented on #225
I tried to do so, but I don't think it's possible without un-archiving the repository

[2021-11-23 15:37] mnm678 commented on #201
solved in #219

[2021-11-23 15:37] #201 closed

[2021-11-23 15:38] mnm678 commented on #202
solved in #224

[2021-11-23 15:38] mnm678 commented on #225
Solved in #226

[2021-11-23 16:07] hexsecs opened #227 "Add a SECURITY.md security policy to uptane?"
Github now allows projects to define a security policy to clarify how to contact and report vulnerabilities.
![image](https://user-images.githubusercontent.com/89217603/143059284-450616c5-3ceb-4073-9030-c9dd52994990.png)

https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository

Is this something we feel should be add to our uptane repositories?

[2021-11-23 16:57] jhdalek55 commented on #227
This sounds like a good idea to me. What do others think?

[2021-11-23 18:07] jhdalek55 commented on #223
@jhdalek55 agreed to blend @tkfu and @pattivacek comments into a PR for 2.0.0.

[2021-11-23 18:21] jhdalek55 commented on #174
@mnm678 Can you either close this issue and re-open a new one, or just re-name it as "Must all private keys be unique?" PR #218 addressed only a small wording issue. We have yet to resolve the bigger issue about non-unique private keys.

[2021-11-23 21:11] jhdalek55 commented on #169
At the 11/23 meeting,@iramcdonald agreed to provide text to be used in a PR addressing this issue.

[2021-12-02 23:22] jhdalek55 commented on #223
See PR #122 on the Deployment page

[2021-12-04 04:26] jhdalek55 commented on #169
@iramcdonald will you be able to provide at least a rough version of text for this? All that is needed is the important points to be made. I will draft the PR, but you have the best handle on the issue.

[2021-12-05 14:23] jhdalek55 commented on #174
@mnm678 can you change the milestone label to Future?

[2021-12-05 14:27] jhdalek55 commented on #222
@mnm678 Even though we have a partial response for this in PR #121 in the Deployment pages, I think we should leave the issue open and marked as "Future" until we have an actual proposed in-toto/Uptane solution.

[2021-12-05 21:36] iramcdonald commented on #169
Hi Lois and Uptane folks,

With my apologies for text in the Standard or Deployment Best Practices
which may
already have changed since v1.2.0 - I get lost rooting through GitHub and
totally lost
reading Markdown (one of my least favorite markup languages).  So I'm
looking at
the published v1.2.0 text of these two documents.

OK - here are some rough ideas for text:

1) Uptane Standard
* Section 5

[2021-12-05 23:54] jhdalek55 commented on #169
Thanks, Ira. I will happily integrate these suggested changes tomorrow.

[2021-12-06 21:13] jhdalek55 commented on #169
Issue also address in Deployment PR #124

[2021-12-17 17:52] jhdalek55 commented on #221
We can close this if we get an approval of Deployment PR #120

[2021-12-17 17:55] jhdalek55 commented on #223
We can close this by approving PR#122 on the Deployment page

[2021-12-17 18:59] jhdalek55 opened #230 "Secure identifiers for hardware and software in vehicles"
There has been considerable efforts over the past few years to develop consistent and appropriate identifiers for both hardware and software components. Traditionally, a supplier-name-prefixed serial numbers, such as a VIN number, has been used to identify ECUs, but this method does not acknowledge the differing nature of ECUs. Given that not all ECUs share the same resources (as @iramcdonald obse

[2021-12-17 20:18] jhdalek55 commented on #230
Can someone give this the version label  "future"?

[2021-12-17 22:42] jhdalek55 commented on #200
Information added to Deployment via PR #116, which was merged on 12/17. Issue remains open however as we monitor pending developments.

[2021-12-17 23:15] jhdalek55 commented on #221
Closing this issue via approval of Deployment PR#120

[2021-12-17 23:16] #221 closed

[2021-12-17 23:17] jhdalek55 commented on #223
Closed via approval of Deployment PR#122 on12/17/21

[2021-12-17 23:17] #223 closed

[2021-12-19 03:32] jhdalek55 commented on #222
This issue was partially addressed by Deployment PR #121. However, we leave the issue up because a proposal for an in-toto/Uptane hybrid is under discussion. We will close the issue with that proposal.

[2021-12-21 16:39] jhdalek55 commented on #169
Can someone change the milestone here to Future?

[2022-01-18 02:58] jhdalek55 commented on #162
On 1-4-22, we reviewed all the open issues to see if any required reframing. After some discussion, we felt that this is clearly stated, and so we will leave it as is.

[2022-01-18 03:08] jhdalek55 commented on #169
We have addressed the immediate issue here, but I think a rewrite to clarify the remaining question is called for.

[2022-01-18 03:15] jhdalek55 commented on #174
After a good deal of discussion, it was decided this question should be rewritten. In addition there needs to be a separate issue added to the Deployment pages to make sure all understand the distinct difference between the types of keys.

[2022-05-10 14:22] tkfu commented on #230
As discussed in the 2022/05/10 standards meeting call:

* ECU serial numbers are definitely a question for deployment considerations. It's not clear, though, what should be added there, or what challenges need to be addressed. This would be a good topic for the USA industry workshop.
* CoSWID tags, however, are an excellent idea that could easily be included in the standard as a SHOULD. But exactl

[2022-05-20 23:29] jhdalek55 commented on #222
This issue has been addressed in part by the introduction of Scudo in an Uptane whitepaper (see https://uptane.github.io/papers/scudo-whitepaper.pdf). An ITE will follow and this will help determine how supply chain issues are addressed in either the Standard or the Deployment pages.

[2022-10-08 01:51] jhdalek55 commented on #222
This can likely be closed once PURE 3, which introduces Scudo as a supply chain security option, is reviewed and adopted.

[2022-10-08 01:56] jhdalek55 commented on #198
This is still waiting for TUF approval of TAP 13.

[2022-10-11 14:38] jhdalek55 commented on #230
By using a SHOULD, we should be able to add this to a V. 2.1.0

Also, we will need someone to milestone this for V.2.1.0

[2022-10-11 14:45] jhdalek55 commented on #200
Review the text in Deployment to see if there are more things we can address ---Any solution must be a in a major release

[2022-10-11 14:58] jhdalek55 commented on #174
See note above and resolved as directed. Then close the issue.

[2022-10-14 15:08] #227 closed

[2022-10-20 22:50] jhdalek55 opened #241 "Must all ECU identity keys be unique?"
This is a new presentation of an earlier issue (#174) initially raised by @allen-cain-tm on July 28, 2020. Though it went through several permutations, the original writer had started by pointing out that in 5.4.1 "when discussing the ECU key in the Standard, it states that this is a private key unique to the ECU," but in Deployment Considerations, in https://github.com/uptane/deployment-considera

[2022-10-20 22:53] jhdalek55 commented on #174
This is being closed so the core question can be more explicitly stated. I am making one more semantic change that relates to this issue and then I will be closing it.

[2022-10-20 23:25] jhdalek55 commented on #241
Closing #174

[2022-10-20 23:29] jhdalek55 commented on #174
Closing #174 in favor of #241

[2022-10-20 23:31] jhdalek55 commented on #174
I guess I don't have the ability to close this issue. Can someone help me with this?

[2022-10-21 01:41] jhdalek55 commented on #169
It's been almost 10 months since this was discussed. Can all or part of this question be addressed?

[2022-10-21 07:34] #174 closed

[2022-11-16 16:39] jhdalek55 commented on #230
Still seeking a volunteer to draft a PR for this.

[2022-11-16 16:45] iramcdonald commented on #230
Hi Lois,

I'm not volunteering, but making a couple of observations:

1) ECU Serial Number is essentially a free-form string.  To make it very
meaningful
(and reasonably unique), it should be prefixed with a manufacturer name
(Supplier
rather than meaningless OEM).

2) CoSWID - has been stalled in IETF process nonsense for over a year.
It's been
blocked in the RFC Editor queue since 20 July 2022 o

[2022-11-16 18:55] jhdalek55 commented on #230
@iramcdonald ...thanks for the input.

[2022-11-17 15:16] jhdalek55 commented on #241
I think this issue is worth discussing further at a very fundamental level, meaning is it worth even considering the original authors proposal that we make having unique keys optional? Or, because of potential security risks, is this something we just want to say "no" to and leave it at that?

[2022-11-17 17:39] jhdalek55 opened #243 "Licensing for Uptane Standard"
I have taken a quick look and I can't find any licensing statement mentioned either in the Standard or on the repository. Do we not have one? Or is this just an oversight in terms of making mention of it on the repo? Or is this not needed because we are under the auspices of a Standards organization?

[2022-11-17 17:53] iramcdonald commented on #243
Hi Lois,

No, we definitely need explicit licensing for the Standard and Deployment
Considerations
and any other public artifacts (white papers, slide sets, etc.) on our
website.

For the Standard and Deployment Considerations (because they're frameworks
with
concrete requirements), Apache v2 would be most appropriate (a superset of
BSD and
MIT).

Both IEEE-ISTO Printer Working Group and LF OpenPr

[2022-11-21 19:58] jhdalek55 commented on #243
Thanks @iramcdonald. Any volunteers out there that could help me work on this?

[2022-11-22 15:31] hexsecs commented on #243
For whitepapers, slides, etc, I suggest CC BY-SA or possibly CC BY. Share-alike, could be tricky the Uptane slides are part of slides that have information that cannot be shared.

[2022-11-22 15:37] jhdalek55 opened #244 "Must all Identity keys be unique?"

[2022-11-22 15:56] #169 closed

[2022-11-22 15:56] hexsecs commented on #243
For the standard itself, https://choosealicense.com/licenses/ does a great job describing the different tradeoffs of licence types.

[2022-11-22 16:01] jhdalek55 commented on #241
@mnm678 can you close this

[2022-11-22 16:01] #241 closed

[2022-11-22 16:02] #244 closed

[2022-11-22 16:16] jhdalek55 commented on #198
I'm pasting in the original references to TAP 5 that were removed. In all these cases, the reference to TAP was taken out, but nothing was substituted. Given that TAP 13 has probably changed a bit over the past three years, would it still be a relevant reference? If not, do we need to bother with this at all, or could we just close this issue?

[5.2.2. Root metadata](https://uptane.github.io/uptan

[2022-11-22 16:18] JustinCappos commented on #198
@mnm678 Is the right person to look at this, I think.

[2022-11-22 16:54] mnm678 commented on #198
TAP 13 only allows mapping for targets files, so isn't relevant in the 5.2.4 case at all.

In general, I think we could just close this until someone requests this feature specifically for Uptane. TAP 13 will work with Uptane, but I think we can leave it out of the standard until there's a need for it.

[2022-11-22 18:00] jhdalek55 commented on #198
It mnkes sense to me as well to close it, at least for now. Let's leave leave the PR open maybe for a week or so for any dissenting opinions, and then this we'll close it.