[2018-09-27 14:18] OYTIS opened #3 "Support separate keys for signatures and encryption"
Today Uptane specifies one ECU key that is used to sign ECU manifest and also to send encrypted firmware to ECU. It might work fine for RSA, but e.g. with ED/EC crypthography we normally have ED keys for signatures and a separate pair of EC keys for encryption. It shoud be supported in uptane.

[2018-09-27 14:25] OYTIS opened #4 "A way to specify packages"
Real-world cases not always match the simple "one ECU <-> one firmware image" scenario. At the very least we can also have:

- Multiple "slots" each with its own image.
- Package-based systems like debian, rpm, apk etc. where we can't realistically even enumerate slots.
- Dynamic data (might be out of scope for Uptane though).

We want to keep it in mind while defining Uptane metadata.

[2018-09-27 14:35] OYTIS opened #5 "Address update atomicity"
There is a gap in the current implementation specification concerning the behaviour when some ECUs fail to update. There is a tradeoff between

a. the necessity to update ECUs transactionally, i.e. either update all of the ECUs or leave all of them on their current versions.
b. the threat that a single compromised ECU will deny updates to the whole vehicle.

This problem looks relevant for securit

[2018-09-27 16:45] iramcdonald commented on #3
Hi,

Best practice in all current cryptography is to separate key usage.
Signing keys should never
be used for encryption keys (and vice versa).  This is important to get
right (including for RSA).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair -

[2018-09-27 16:50] iramcdonald commented on #5
Hi,

Firmware OTA packages MUST contain explicit metadata that includes the
order of installation
of firmware images on multiple ECUs *and* the dependencies (i.e., whether
or not to restore
the previous images for all the Target ECUs or only those in the same
"atomic cluster" where
the update failed).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solu

[2018-09-27 18:09] JustinCappos commented on #3
Agreed.  We'll clarify this case.

On Thu, Sep 27, 2018 at 12:45 PM iramcdonald <notifications@github.com>
wrote:

[2018-09-28 15:16] OYTIS commented on #3
@iramcdonald Yes, I totally agree, that's why I created this issue. As far as I understand current Uptane specification (the one in Google docs), it defines just one entity called "ECU Key" for both signatures and encryption. I think it should be changed.

[2018-09-28 16:00] iramcdonald commented on #5
Hi,

Uptane (or any other OTA architecture/solution) can only actually
communicate directly
between the Director (OTA Host Server) and the Primary ECU (OTA Master ECU
in
the vehicle).  Only the Primary ECU (OTA Master ECU ) can forward images
for their
installation to the one or more affected Secondary ECUs (OTA Target ECUs).

The network end-to-end security (e.g., TLS/1.2) is between the Director

[2018-09-28 19:17] JustinCappos commented on #5
There is a custom field of the targets metadata that can be used for opaque
instructions like this.

Of course, we will not drop support for multiple secondary ECUs.

On Fri, Sep 28, 2018 at 11:25 AM OYTIS <notifications@github.com> wrote:

[2018-10-02 14:01] OYTIS commented on #5
@iramcdonald
Having a full installation package delivered to primary, but also having individual firmware images listed in the metadata so that a secondary can verify them would probably the best alignment with current practices. But again it's not clear how it fits with Uptane's current "One ECU <-> One firmware image".

[2018-10-02 14:08] OYTIS commented on #5
@JustinCappos Sometimes these instructions are as safety/security critical as images themselves, so I would argue it is reasonable to have the same set of Uptane (or at least TUF) checks as for firmware images. Also they can be significantly large binary blobs by themselves.
On the other hand they can also be generated in runtime and we can't put them into offline-signed images targets metadata. S

[2018-10-02 14:45] JustinCappos commented on #5
Right, it's totally possible to have some things that only an online party
(director) signs and to scope this in a reasonable way with selective
delegations.  We will clarify this in the deployment guidelines.

Would you look at that point to tell us if you feel there is something
missing?

On Tue, Oct 2, 2018 at 10:08 AM OYTIS <notifications@github.com> wrote:

[2018-10-02 15:39] JustinCappos commented on #5
No, I don't think it is out of scope.  In fact, I think the mechanisms we
already have support this use case.  My plan is to make it clear in the
deployment document how to use those mechanisms to handle this case in a
secure and usable manner.

On Tue, Oct 2, 2018 at 11:26 AM OYTIS <notifications@github.com> wrote:

[2018-10-09 15:57] JustinCappos commented on #4
The first and third cases you mention, I think Uptane handles.  With
multiple slots, so long as they are not interdependent, this is just the
normal Uptane case with a destination slot for

The second case, we have a rudimentary understanding of the solution here,
but need to really check to understand how best to integrate Uptane with
them.  We're working on this now.

Note, that the systems you

[2018-10-11 12:59] koshelev commented on #5
@JustinCappos could you please elaborate on how existing mechanisms support the use case?

[2018-10-11 14:58] iramcdonald commented on #5
Hi,

Winding back a bit in this thread, any assumption of one ECU <=> one update
image
is frequently broken in current practice.  In addition to the two different
flash blocks
update (sometimes for different CPU cores in the same ECU), it's common to
have
an OEM validated firmware image (binary built by the vendor) and a separate
OEM
created "calibration" file that sets parameters and tolerances.

[2018-10-11 16:05] mnm678 commented on #5
@koshelev I'm looking into this now and will respond soon.

[2018-10-11 16:53] mnm678 commented on #5
@koshelev

There are two main issues being discussed here: what to do when some ECUs fail to update, and how to specify installation instructions for individual ECUs. These both have possible solutions within the current mechanisms of the spec.

For the first issue, it is addressed in the spec by use of the director role and version manifest. The director role picks updates to be installed togethe

[2018-10-11 16:55] trishankatdatadog commented on #5
There are a very good security reasons why we assumed the normal use case of one image per ECU.

The reasons mostly have to do with: (1) how to handle dependencies and conflicts between multiple images _per_ ECU, let alone _between_ ECUs, and (2) how to handle atomic updates of these dependencies.

A lot of these issues have been discussed in the Deployment Consideration document:

* [D.5 Atomic i

[2018-10-11 17:11] cajun-rat commented on #5
The one-image-per-ECU certainly makes things easier, but in nearly every case we've found that real systems have multiple images per ECU. In some of these it would be _possible_ to re-engineer the system to avoid it, but those decisions tended to have already been taken by the time we got on the project.

[2018-10-11 20:34] JustinCappos commented on #5
Right, so we'll definitely give guidance in all cases.  Most secure is 1
image per ECU.

On Thu, Oct 11, 2018 at 1:11 PM cajun-rat <notifications@github.com> wrote:

[2018-10-11 21:41] mnm678 commented on #3
I made a proposed change in section A.2 of the Deployment Considerations just above [this bookmark](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit#heading=h.u7thrpsnvihd). Let me know if you think this addresses the issue.

[2018-10-12 15:59] mnm678 opened #7 "Clarify ability to add custom install instructions"
Some ECUs require custom installation instructions. See the discussion in [#5](https://github.com/uptane/uptane-standard/issues/5) for background.

A description of how uptane can be used to include these custom instructions should be included in the Deployment Considerations document.

[2018-10-12 16:03] mnm678 commented on #5
I created a [new issue](https://github.com/uptane/uptane-standard/issues/7) to address custom installation instructions. The links posted by @trishankatdatadog seem to address the ability for atomic updates, so I'm going to close this issue. More discussion about custom instructions can happen in the new issue.

[2018-10-12 16:03] #5 closed

[2018-10-22 14:33] OYTIS opened #11 "Threat model"
How the community feels about the idea of first describing Uptane threat model and security guarantees before diving into the implementation requirements?
I strongly feel that the standard needs it so that implementers can understand what are the security tradeoffs when adapting the standard to one's needs. On the other hand I'm not confident that I can write this document because by expertise in

[2018-10-22 17:42] JustinCappos commented on #11
So, I like the idea.  I do like explaining the rationale and feel this has
value.

As for encouraging people to adapt things for their use case, the
deployment guidelines will cover this.  The rest of the standard consists
of things that should absolutely be done for security.

On Mon, Oct 22, 2018 at 10:33 AM OYTIS <notifications@github.com> wrote:

[2018-10-23 19:15] mnm678 commented on #4
It would be possible to implement a package-based system using existing Uptane mechanisms as a secure transport mechanism for other popular package managers. This would involve the director packaging files into any packaging system (e.g., debian or rpm) and using ECU ids to enumerate where various files will go. The package would be transmitted to the primary ECU, which would then unpackage it and

[2018-10-23 21:07] iramcdonald commented on #4
Hi,

Requirements for dependency resolution and file-granular resource
tracking (e.g., multiple deltas plus calibration updates for each of
several target ECUs in a single package) are common requirements
for at least one OEM I'm very familiar with.  ADAS is rapidly changing
the typical complexity of OTA updates for ECUs.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG

[2018-10-25 13:02] tkfu commented on #11
I've expanded the threat model chapter in commit 7829f81b1238d0bacb01df60cf42381c3cb5e5d6 in #10. I haven't done anything yet on security guarantees, though.

[2018-11-02 15:52] mnm678 commented on #7
@OYTIS
I added section D.9 to [Deployment Considerations](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit?usp=sharing) to address this issue. Any feedback would be appreciated.

[2018-11-02 15:52] mnm678 commented on #7
@OYTIS
I added section D.9 to [Deployment Considerations](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit?usp=sharing) to address this issue. Any feedback would be appreciated.

[2018-11-06 15:45] mnm678 commented on #4
Explanations of how to do [dependency resolution](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit#bookmark=id.g1jn0kq1drz), [delta updates](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit#bookmark=id.qm9eyfdabyt9), and [dynamic data](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit#bookmar

[2018-11-06 16:08] iramcdonald commented on #4
Hi,

Thanks for these updates.

Yes a section about combining these three elements allow dynamically
installing delta-based updates would be good.

Otherwise, I think we're now in much better shape.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair

[2018-11-13 23:36] JustinCappos commented on #3
I feel this has addressed it.  If anyone objects, please reopen and we can discuss.

[2018-11-13 23:36] #3 closed

[2018-11-13 23:36] JustinCappos commented on #7
I believe @mnm678 has addressed this.  If there are concerns, please reopen.

[2018-11-13 23:36] #7 closed

[2018-11-13 23:41] JustinCappos commented on #11
These additions look good to me.

[2018-11-13 23:41] #11 closed

[2018-11-14 11:13] tkfu opened #15 "ABNF isn't a good fit to describe metadata syntax"
I know that we had agreed on ABNF for a format to describe the metadata syntax, but after trying to actually implement that decision, I no longer think it is a good one.

The basic problem is this: ABNF is good at, and appropriate for, situations when you need to describe a protocol in great detail, including the exact order and format in which things appear. However, we want to make a spec that d

[2018-11-14 15:44] JustinCappos commented on #15
Let's make this a discussion item for Friday.

@Lois Anne Delong <lad278@nyu.edu>

On Wed, Nov 14, 2018 at 6:13 AM Jon Oster <notifications@github.com> wrote:

[2018-11-14 18:44] JosiahOne opened #16 "Usability Concern w.r.t Proposed Uptane Site"
Justin suggested I leave my feedback on the draft uptane site here:

Overall, looks great! I did notice though that the usability is a bit poor on
mobile devices. The main issue seems to be that a lot of content is
separated into pages. On desktop this is fine, but on mobile it causes
poor workflow. e.g.:

  1. You open the home page, and scroll down to read more. You quickly
come to the end of th

[2018-11-14 22:54] JustinCappos commented on #16
I'll mention that we at NYU don't have the skillset to do this as far as I am aware.  I'm hoping someone in the community can help out...

[2018-11-17 08:53] tkfu commented on #15
As agreed in the meeting, I'll prepare a PR with something like bullet point lists describing the necessary data fields. That means closing #14, as well.

[2018-11-17 08:53] #15 closed

[2018-11-18 19:04] JosiahOne commented on #16
The WIP source is located here: https://github.com/awwad/awwad.github.io

I'm going to try to take a look. Fix might be as simple as picking a different Jekyll theme.

[2018-11-27 21:54] JosiahOne opened #18 "Partial bundle vs. Freeze Attack vs. Mix-and-match"
In the section 4.3 ("Description of threats") three attacks are presented (as well as others):

1. "Freeze attack": Continue to send a previously known update to an ECU, even if a newer update exists.
2. "Partial bundle installation attack": Install updates to some ECUs, but freeze updates on others.
3. "Mix-and-match attack": Install a set of images on ECUs in the vehicle that are incompatible wi

[2018-11-27 22:02] jhdalek55 commented on #18
First off, this is good work...it represents the type of close reading we could use at this point in the standard's development.
What would be your suggestion for resolving this problem? It seems we need to define "bundles" somewhere. Would a definition in Section 2 be enough, or should we add a brief definition/description in this section as part of the explanation of this group of attacks?

[2018-11-27 22:11] JosiahOne commented on #18
I think defining the term in section 2, and then referencing it (similar to my last enumerated list) would probably be adequate.

[2018-11-29 12:54] OYTIS commented on #18
+1 for defining bundles. It would bring the standard closer to how updates are done today.

[2018-11-29 15:58] jhdalek55 commented on #18
I am planning to do a "proofing run" on the document today. I've been making some notes of some minor wording issues throughout the document on a hard copy and can address these comments, as well. I appreciate Josiah pointing to this missing term. It's the kind of close reading we could really use at this point.

Given the problems I have had with formatting in the past I will leave the PR for rev

[2018-11-30 20:06] mnm678 commented on #4
I added a section the [deployment considerations](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit#bookmark=kix.8d6ux04zwo0) that addresses this use case. I'm closing this issue, but can reopen if there's any further discussion.

[2018-11-30 20:06] #4 closed

[2018-12-07 18:59] JosiahOne commented on #18
Hey @jhdalek55 ,

Have you already done that "proofing run" you mentioned above? If not, would it be helpful if I created a PR with a fix for this issue?

[2018-12-07 20:58] jhdalek55 commented on #18
To be honest, Josiah, I've done the proofing, but haven't committed
anything to github. My initial batch of changes a few months ago created
formatting issues, and though the have long since been corrected, I have
been a bit leary about re-using my forked copy and haven't figured out a
way to get my corrections in yet. So, yes, why don't you go ahead and
fix what needs correcting on that branch. T

[2018-12-10 22:50] jhdalek55 commented on #18
I posted the pull request. Let me know if what I came up with is sufficient or do we need a bit more explanation about bundles.

[2018-12-12 18:17] JosiahOne commented on #16
I'm way behind on this, but I do still plan on investigating this before 2019.

[2018-12-18 16:55] JosiahOne commented on #18
This was resolved in #24

[2018-12-18 16:55] #18 closed

[2019-01-24 17:49] JosiahOne commented on #16
Unfortunately, I won't be able to look at this anytime soon. In addition to work, I'm now a graduate student, and can't seem to make time for this.

[2019-01-24 17:52] jhdalek55 commented on #16
Understood. We will look for another way to resolve this. Thanks for
letting us know.

Lois

On Thu, Jan 24, 2019 at 12:49 PM Josiah Bruner (:JosiahOne) <
notifications@github.com> wrote:

[2019-01-30 16:59] cajun-rat opened #29 "Delegations should apply to Hardware Identifiers, not Target Names"
I've been looking a bit deeper into the Delegations part of the Uptane spec, and I think the current design isn't powerful enough to represent trust relationships like "I trust this Tier 1 supplier to provide updates for the ECUs that they manufacture"

Delegations today provide permissions like "Supplier A can sign-off any image with a name that matches foo/*". This works fine for TUF, but Uptane

[2019-01-31 11:24] lbonn commented on #29
That's a very good point, I agree.

However, I believe that using a list of hardware identifiers would only cover first order delegations as it doesn't leave room for building a hierarchy of suppliers. Still, the question remains whether higher order delegations are part of a realistic deployment case, as an OEM will probably want to control the global list of possible hardware ids in a  vehicle.

[2019-02-06 18:34] JosiahOne opened #30 "Ambigious Assumption: "Vehicles have regular connectivity established.""
In Section 3.2.1 (https://uptane.github.io/uptane-standard/uptane-standard.html#rfc.section.3.2.1) of the standard, the first assumption presented is that:

I am worried this is overly ambiguous and may scare away potential implementers. What does "regular connectivity" mean here? Normal?

If so, does Uptane fail to work for vehicles who have subpar connectivity (poor location, limited data plans,

[2019-02-06 18:39] JosiahOne commented on #30
Actually, limited data plans are explicitly mentioned as an exception in Section 3.3 (https://uptane.github.io/uptane-standard/uptane-standard.html#rfc.section.3.3)

[2019-02-06 18:53] iramcdonald commented on #30
Hi,

I agree with Josiah's comments.  I strongly disagree with *explicitly*
mentioning
cellular connectivity at all for vehicles in Uptane standard.

Given current IEEE 802.11 NGV activity (now chartered as 802.11bd task
group),
it is quite likely that, in some geographic regions, high-speed urban Wi-Fi
will in
fact be the preferred V2X connectivity choice (including in safety
regulations).

Also,

[2019-02-06 22:13] sam-m-weber opened #31 "Security vulnerabilities involving time"
There seems to be two (related) security vulnerabilities present in this version of the specification.  The impact of each of these vulnerabilities is that the ECUs in an affected vehicle will be unable to ever be updated in the future, and I believe that both of these attacks are easily mountable.

Both of these vulnerabilities involve an attacker successfully compromising the time server (or oth

[2019-02-06 23:00] JosiahOne commented on #30
I opened https://github.com/uptane/uptane-standard/pull/32 which resolves this in my mind.

Of course, review/feedback is needed and encouraged.

[2019-02-06 23:51] sam-m-weber commented on #31
Here is my proposed solution to the vulnerabilities described.  I know that it is a non-trivial change to the specification, but I think it not only solves the issues but makes the update process simplier.

Briefly, I'd like to remove the knowledge of time from Uptane -- time is difficult to establish and make secure.  (Notice that in the current specification the time server needs a cryptographic

[2019-02-07 01:49] JustinCappos commented on #31
Thanks for weighing in!  I think this issue is a misunderstanding in the
spec.  If the time server's key is revoked, then the time information it
provided is discarded.  (The same issue you mention here would exist for
version numbers in files, etc. but is handled by discarding the old data
when the key changes as is detailed in the Mercury paper.)

We will make a pass and be sure that there is no

[2019-02-07 03:44] sam-m-weber commented on #31
No, this is not a misunderstanding.  If you read the section "Downloading and distributing updates on a primary ECU" you'll see the time is checked in step 2, BEFORE any key revocation is done.  And, in the Full verification process a failure will be reported when attempting to update the Root metadata.

[2019-02-07 15:27] awwad commented on #31
Justin and I discussed this fast-forward attack some time ago and IIRC we had a less damaging solution along the lines of what Justin outlined above.  It's possible that the spec hasn't captured the order correctly.  (It's necessary for the root role's change of the timeserver key to occur even if the current time on the ECU seems to be past the new, timeserver-key-revoking root metadata's expirat

[2019-02-07 21:25] awwad commented on #31
Fast-forward attacks relying on time or version numbers are all resolved by the same basic approach as that in the Mercury paper (using a higher-trust role to reset that time/version information).  We discussed these Uptane extensions of that defense in late 2017, but there was some debate because of partial verification ECUs, and it seems I didn't update the implementation specification at the ti

[2019-02-07 21:46] JustinCappos commented on #31
Well, Sam's proposal is pretty similar in spirit to the use of HTTPS to
talk with the director and to avoid the use of the time server that way.
To me this feels like a pretty similar piece of functionality for groups
that are willing to have a different threat profile.

Maybe putting it in the deployment considerations next to that discussion
makes the most sense?  If so, I'd like to think more a

[2019-02-07 22:14] trishankatdatadog commented on #31
0.02 BTC: in 2019, TLS between the director / image repositories and
primaries may just be safely assumed. I believe Ira has been calling
strongly to mention TLS, too. If so, should we just get rid of the time
server complication from the standard altogether?

[2019-02-08 09:11] #30 closed

[2019-02-11 11:18] cajun-rat commented on #29
See PR #33 which fixes this issue

[2019-02-11 19:47] awwad opened #35 "Full Verification Algorithm Errors (5.4.4.2:11.2)"
The full verification algorithm for finding image metadata in 5.4.4.2:11.2 is wrong.  (There's an additional, more complex problem that I'll put into a separate issue.)

1. It misses the path/wildcard matching for all delegations.
1. It misses the terminating delegation check for multi-role delegations, and also does not include the minimum-roles-in-agreement threshold for multi-role delegations.

[2019-02-11 20:05] awwad opened #36 "Full Verification algorithm does not verify delegated roles (5.4.4.2:11.2)"
While the algorithm in 5.4.4.2 seems to correctly capture verification of the top-level metadata roles (root, timestamp, snapshot, targets), **it does not seem to include verification for delegated targets roles**, which must be verified based on a traversal of the graph of delegations in step 11.2.

There's a lot of discussion about this [in TUF issue 660](https://github.com/theupdateframework/tu

[2019-02-11 20:35] awwad commented on #35
The three added PRs referenced here (#37, #38, #39) address these four issues.  Please take a peek and yell if there are issues. :)

[2019-02-14 15:13] cajun-rat opened #42 "One does not simply "compare" Unicode strings"
In a couple of places in the spec we talk about comparing strings. Since these are likely to be Unicode, there is not a single method to perform a comparison. We should be explicit about which Unicode canonicalization should be used, and which comparison algorithm is implied when we say that a pair of  'Hardware Identifiers match' or a delegation's wildcard path matches a target.

[2019-02-14 15:52] iramcdonald commented on #42
Hi,

And to be compatible with *all* IETF standards-track protocols (including
TLS),
all strings MUST be *created* by the Sender and *normalized* by the Receiver
into UTF-8 encoding (RFC 3629) and normalized to comply w/ Net Unicode
(RFC 5198) into Unicode Normalization Form C (NFC) defined in:

http://www.unicode.org/reports/tr15/

That "C" stands for "composed" (i.e, if a Unicode code point is d

[2019-02-15 21:09] mnm678 commented on #42
Hi,

In the TUF area, we have been discussion creating shared wireline formats
to allow for interoperability between implementations (details here:
https://github.com/theupdateframework/taps/blob/21a2ee49b395346789074cc8ad8b73b5f89e5b0f/tap11.md).
I think a version of this could be useful in allowing Uptane users to
specify Unicode canonicalization (and comparison method) for their
implementation.

[2019-02-15 22:35] iramcdonald commented on #42
Hi Marina,

Interesting - thanks.

The reason that I mentioned ECU-side string conversion is that the
native RTOS APIs as well as many/most application libraries do NOT
actually exchange NFC canonical UTF-8, so the ECU will have to do
some string conversion before sending (and some on receiving before
pouring into local APIs).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair -

[2019-02-19 21:07] sam-m-weber opened #43 "Minor Issues and Clarification Requests"
Here is a list of more minor issues or requests for clarification, in no particular order.

1. According to the section "Downloading and distributing updates on a primary ECU" the primary will never be updated.  This is probably not what is intended. :-)

2. If full or partial verification fails, then the specification states that an error code should be returned.  To what, and how?  The only plac

[2019-02-19 23:03] JustinCappos commented on #43
Thanks for the feedback!

Can you break these out into separate issues?  It is hard to track as a big
list.

On Tue, Feb 19, 2019 at 4:07 PM sam-m-weber <notifications@github.com>
wrote:

[2019-02-19 23:03] #43 closed

[2019-02-19 23:05] JustinCappos commented on #43
I will say that #13 isn't an issue w/ IEEE/ISTO unless we collectively
decide it shouldn't work this way.

The TAPs are effectively standards docs and won't change in a relevant way
for Uptane w/o feedback from this community.

I'm happy to discuss more if there are thoughts / concerns from others.

On Tue, Feb 19, 2019 at 6:03 PM Justin Cappos <justincappos@gmail.com>
wrote:

[2019-02-20 02:18] iramcdonald commented on #43
Hi,

I disagree with Justin about #13 (normative out-references to TAP-5).

I strongly feel that all out-references to TAP-n should be changed in the
IEEE-ISTO Uptane Alliance standard to SHOULD (Recommendation).

I think that automotive OEMs would dislike the current normative out-refs
and I'm sure that SAE vehicle security committees would dislike them.

Cheers,
- Ira

Ira McDonald (Musician / S

[2019-02-20 13:03] patrickvacek commented on #35
Since all the PRs have been merged, can we close this issue?

[2019-02-20 13:28] sam-m-weber opened #44 "Updating primary"
According to the section "Downloading and distributing updates on a primary ECU" the primary will never be updated.  This is probably not what is intended. :-)

[2019-02-20 13:32] sam-m-weber opened #45 "Error Codes"
If full or partial verification fails, then the specification states that an error code should be returned.  To what, and how?  The only place I see reference to this elsewhere is in the ECU version report -- will an update failure only be noticed when the next version report is generated?  And will the primary update itself (assuming issue 44 is fixed) even if one of the secondaries has failed?

[2019-02-20 13:34] sam-m-weber opened #46 "Writing flash"
In previous discussions, it was stated that because flash memory fails if it is written too many times, the number of writes should be minimized.  My recollection is that writing every time an update is checked for was considered too frequent.  Is this still a consideration and, if so, what is the acceptable frequency of updates?

(I had previously put this in with other minor issues, but Justin r

[2019-02-20 13:36] sam-m-weber opened #47 "Role definitions"
The definition and descriptions of "roles" seem inconsistent and unclear to me.  In the "Uptane Role Terminology" and "Roles on repositories" sections the roles are described as active entities; "Distributes and revokes..." etc, but aren't actually defined.  The impression gained is that a role is simply a public/private key pair that is used for one of four or five possible purposes in Uptane.  C

[2019-02-20 13:40] sam-m-weber opened #48 "Role instances and kinds"
How many role instances are there, and what kinds are there?  From the "Detailed Design of Uptane" it can be inferred that there are at least eight, from the statement that "each" repository has the Root, Timestamp, Snapshot and Target roles. Ie, there is the image repository's Root role, the Director repository's Root role, etc.

Unfortunately, at other places the document talks about "The Root r

[2019-02-20 13:42] sam-m-weber opened #49 "Authenticated communications between ECUs"
In the "Out of Scope" section, it says that "Problems associated with OBD or UDS programming of ECUs, such as authentication of communications between ECUs" are out of scope.  Authentication of communications between ECUs is a problem that isn't restricted to OBD/UDS programming.  This statement could be misread to imply that either
- Uptane will only work on vehicles in which communication betwee

[2019-02-20 13:46] sam-m-weber opened #50 "Gateways and primary/secondary communications"
The spec assumes that the primary is able to communicate directly with all of the secondaries.  Is this realistic?  Even if one assumes that gateways will forward communications to/from the primary and secondaries on another network, Uptane will have to be aware of this because the gateways themselves might be updated -- flashing new firmware onto a gateway while it is in the middle of forwarding

[2019-02-20 13:50] sam-m-weber opened #51 "Targets metadata file"
In the "Targets Metadata" subsection, it is explicitly stated that a Targets metadata file MUST provide information about EVERY image in the repository.  I would think that it is not feasible to send to every vehicle the complete list of all images for all parts that have ever existed!  Presumably this should be re-worded.

(I had previously put this in which a number of other small clarification

[2019-02-20 13:54] sam-m-weber opened #52 "Time server response"
In the Time Server section, it says that "it SHALL sign each token together with the current time," which seems to say that if n tokens are sent to it, the server will send back n signed objects: token 1 together with the time, token 2 with the time, etc.  I presume that the server will actually combine the time with the list of tokens and do one signature operation on the combination.  Could this

[2019-02-20 13:56] sam-m-weber opened #53 "Repository mapping metadata"
In the "Repository mapping metadata" section it states that the repository mapping metadata MUST contain a list of repositories that MUST sign the targets metadata for the image paths.  However, I cannot find where this is used.  Should this be in the full verification process?  And does the partial verification process use this as well?

[2019-02-20 13:58] sam-m-weber opened #54 "Uptane security guarantees"
Technically, this algorithm has another obvious vulnerability: if the attacker takes over the primary (which it is allowed to in the threat model), then it can deny installation of updates by simply refusing to run the update process.

Of course, it isn't reasonable to expect otherwise: if an attacker is preventing the use of the wireless communication mechanism, you aren't going to be doing any w

[2019-02-20 14:09] sam-m-weber opened #55 "Request for data and message tables"
Quite a few of the issues that I previously raised revolve around clarity.  I like the description of the time server (despite issue 52) because it states exactly what messages it expects to receive and what it will return.  Can we do the same for the rest of the system?  To be precise, I would recommend having two tables:
1. Data Table:
    This table would have for each kind of entity in the sys

[2019-02-20 14:13] sam-m-weber opened #56 "Normative out-references to TUF"
As a process concern, at a number of places the specification says things like "A primary ECU SHALL download metadata and images following the rules specified in {{TAP-5}}".  Would this cause problems with the IEEE, since it would allow changes to be made to the specification by the maintainers of TUF, outside of the IEEE process?

[2019-02-20 15:33] JustinCappos commented on #43
Okay, let's discuss this in the workshop.

I'm not opposed to changing this.  I don't feel that strongly.

Justin

On Tue, Feb 19, 2019 at 9:18 PM iramcdonald <notifications@github.com>
wrote:

[2019-02-20 15:52] JustinCappos commented on #50
I read through the spec and do not see where it says the primaries and secondaries directly communicate.  It says multiple places that the secondary and primary transmit information but nowhere does it say that they must be on the same network or that an intermediary cannot forward traffic.  Similarly, the document repeatedly talks about primary to director communications, but of course this will

[2019-02-20 15:55] JustinCappos commented on #51
I do not find the text you claim exists in the document or read the text
that exists the way you do.  Can you quote the text?

On Wed, Feb 20, 2019 at 8:50 AM sam-m-weber <notifications@github.com>
wrote:

[2019-02-20 16:00] JustinCappos commented on #52
Should be easy to clarify.  Perhaps just "In response, it SHALL sign each token together with the current time." -> "In response, it SHALL return a signed response that covers each token and the current time.  This may be done in a variety of ways, including in a single message covering all tokens or as a separate signed response for each token."

[2019-02-20 16:06] sam-m-weber commented on #51
To quote:

    -The image filename
    -The length of the image file in bytes
    -One or more hashes of the image file, along with the hashing function used

(Is there any way to have a hyperlink to a specific spot in the document?)

[2019-02-20 16:10] JustinCappos commented on #54
This is described already in the threat model and analysis as a "drop-request attack" (if the traffic is outright dropped) or a "freeze attack" (if old metadata is replayed).  This is covered repeatedly in the standards document and is also discussed in the papers about Uptane.

My belief is that the standards docs really aren't meant to argue about the security of the system, but instead are supp

[2019-02-20 16:11] JustinCappos commented on #55
If you'd like to send a PR for this, feel free.

On Wed, Feb 20, 2019 at 9:09 AM sam-m-weber <notifications@github.com>
wrote:

[2019-02-20 16:21] sam-m-weber commented on #50
The fact that it isn't addressed is the issue.  The protocol described in "Installing images on ECUs" can't be followed as-written if the ECU is a gateway, which means that each implementer will have to come up with their own way of dealing with the situation.  Personally, I can think of a number of ways of doing this, but who knows what a particular implementer will do and therefore what security

[2019-02-20 16:27] JustinCappos commented on #51
Okay, I see the confusion now.

@awwad , @jhdalek55 : Can you make it clearer what a repository is in this context?  The terminology section does not clarify that there may be more than one repository per physical server, etc.  It likely should also be clear in the part of the document Sam references and/or in the deployment considerations.

[2019-02-20 16:30] awwad commented on #51
Ah, that could certainly be misleading, yes!  Sure.

[2019-02-20 16:31] JustinCappos commented on #49
Feel free to send a PR with a wording change that clarifies.  I don't see the issue you do when I read it.

[2019-02-20 16:34] awwad commented on #51
@sam-m-weber It seems tough to link to a line in a `.md` file in the repo, since it likes to render them (and the "raw" option is not useful).  One way to do it is to link to the "blame" view, like this: https://github.com/uptane/uptane-standard/blame/master/uptane-standard.md#L456

(`Raw`, `Blame`, and `History` buttons are in the top right.)

[2019-02-20 16:34] jhdalek55 commented on #35
I would say yes. Sebastien, any reason to keep it open?

Lois

On Wed, Feb 20, 2019 at 8:03 AM Patrick Vacek <notifications@github.com>
wrote:

[2019-02-20 16:36] JustinCappos commented on #46
Since this will be handled by folks during deployment, do you want to propose PR for the deployment considerations that indicates that people deploying Uptane need to take flash write wear into account?

If so we will review it.  My view is that it seems perhaps a bit too obvious to state, but I don't feel strongly.

[2019-02-20 16:59] awwad commented on #35
Oh, definitely, thank you.

[2019-02-20 16:59] #35 closed

[2019-02-20 19:52] awwad commented on #51
The ambiguity partly stems from the fact that "Targets metadata" can mean:
1. the metadata in the top-level targets role, "Targets"
2. the metadata in a particular targets-type role (whether top-level or delegated)
3. the metadata of all targets-type roles  <-- this is what is meant in the quoted section above
4. metadata relating to a specific target/image in any targets-type role (a.k.a. "image

[2019-02-20 19:58] JustinCappos commented on #51
What about using:

targets-role metadata (for the top level targets metadata)
delegated-targets-role metadata (for the delegated metadata)
targets-role or delegated-targets-role metadata (for both)

Lois: this is really your wheelhouse, so please weigh in.

On Wed, Feb 20, 2019 at 2:52 PM Sebastien Awwad <notifications@github.com>
wrote:

[2019-02-20 20:05] jhdalek55 commented on #51
I'm doing our writing workshop right now, but will weigh in afterwards
if this needs to be resolved immediately.

Lois

On Wed, Feb 20, 2019 at 02:58 PM, Justin Cappos wrote:
What about using:

targets-role metadata (for the top level targets metadata)

delegated-targets-role metadata (for the delegated metadata)

targets-role or delegated-targets-role metadata (for both)

Lois: this is really you

[2019-02-20 20:11] awwad commented on #51
Please see #58, which resolves this.

[2019-02-20 20:26] #51 closed

[2019-02-20 20:44] awwad commented on #53
There are definitely clarifications required here, at least.  I'll discuss this with some folks and write a PR.

[2019-02-20 20:48] awwad commented on #51
No rush.  This was auto-closed by merge of associated PR.  If there's more re-wording to be done, don't let the merge or auto-close stop you. 😁

[2019-02-20 21:37] jhdalek55 commented on #51
I will be happy to take a look at this as soon as I can.

Lois

On Wed, Feb 20, 2019 at 2:58 PM Justin Cappos <notifications@github.com>
wrote:

[2019-02-20 22:27] iramcdonald commented on #56
Hi,

I disagree with Justin about this issue (normative out-references to TAP-5).

I strongly feel that *all* out-references to TAP-n should be changed in the
IEEE-ISTO Uptane Alliance standard to SHOULD (Recommendation).

I think that automotive OEMs would dislike the current normative out-refs
and I'm sure that SAE vehicle security committees would dislike them.

Speaking from 25 years experienc

[2019-02-20 22:32] iramcdonald commented on #52
Hi,

It's a Secondary (not the Primary) that created each token.  A Secondary
shouldn't
have to parse a signed list of returned tokens to find the relevant one.

If we have signed time tokens (and I always liked this feature), then they
really should
be individually signed, so that the Primary can break them out and pass
each signed
time token to the appropriate Secondary.

Cheers,
- Ira

Ira McDo

[2019-02-20 22:37] iramcdonald commented on #54
Hi,

I know this was closed, but I think it's an important point to make in
the main Uptane standard that a Primary might be compromised
and a Full or Partial Verification Secondary should be able to
determine that the Primary is misbehaving and gracefully resist
accepting bad update instructions from that upstream Primary.

Am I missing something in your Uptane philosophy Justin?

Cheers,
- Ira

[2019-02-20 22:45] iramcdonald commented on #50
Hi,

Without describing details, I note that this issue (i.e., updating gateways
is fundamentally
different than updating endpoint Secondaries) was raised a long time ago in
my work on
FOTA requirements at a large OEM and we wound up explicitly treating this
topic.

We also wound up acknowledging that because of evolution over model years,
even when
a central FOTA mechanism like Uptane was deploye

[2019-02-20 23:21] iramcdonald commented on #49
Hi,

Both SAE and ISO have committees working on explicitly securing and
authenticating *all* OBD port and UDS interfaces within vehicles.

AUTOSAR has very poorly designed SecOC security mechanisms for
use between ECUs.

A number of Tier 1 suppliers (and OEMs) have propriety schemes
for securing inter-ECU communications.

Ethernet in-vehicle doesn't help (everyone thought naively it would),
becau

[2019-02-20 23:27] iramcdonald commented on #46
Hi,

In Deployment Considerations, I think flash wear is important to address.
It's actually a hard problem throughout the computer industry.

The TCG TPM 2.0 has mechanisms for what I'll call "lazy" writes to NVRAM
to mitigate flash wear, based on the wildly wrong assumption that almost
all system shutdowns are orderly and the TPM firmware will have enough
warning to do a commit on all the pendin

[2019-02-21 14:30] JustinCappos commented on #56
I'd favor moving the duplicating the content and adding it into the spec,
rather than externalizing it in this case.  These are not optional features
that should be considered, but are key to the security guarantees of Uptane.

On Wed, Feb 20, 2019 at 5:27 PM iramcdonald <notifications@github.com>
wrote:

[2019-02-21 14:33] JustinCappos commented on #54
Yes, you are correct that dealing with a malicious or buggy primary is
central to what Uptane provides.

I'm not sure where this fits in the standard.  We do say this repeatedly in
other documents that are more focused on the security guarantees Uptane
provides, etc.

Where should tis be added?

On Wed, Feb 20, 2019 at 5:37 PM iramcdonald <notifications@github.com>
wrote:

[2019-02-21 16:19] jhdalek55 commented on #29
Phil, if PR #33 has addressed the problem, can we close this issue?

[2019-02-21 16:22] awwad commented on #29
That PR isn't merged yet, so we'd have to wait.

[2019-02-21 16:33] jhdalek55 commented on #29
Ok. It looks like there a merge conflict on #33. Is that why this is awaiting merger or are decisions still to be made on the copy? We currently have a lot of open issues and I just want to be aware of the status of each of them.

[2019-02-21 16:36] awwad commented on #29
The conflict isn't really an issue; I'll fix it now.  The rest I'll discuss on that PR itself.

[2019-02-21 16:37] jhdalek55 commented on #31
What about this issue. Did #41 address the concern?

[2019-02-21 16:47] jhdalek55 commented on #29
Thanks, Sebastien. Just trying to do a little housecleaning to see what
is or is not being addressed.

Lois

On Thu, Feb 21, 2019 at 11:36 AM, Sebastien Awwad wrote:

The conflict isn't really an issue; I'll fix it now.  The rest I'll
discuss on that PR itself.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://urldefense.proofpoint.com/v2/url

[2019-02-21 16:57] awwad commented on #31
@jhdalek55 I think it addresses the vulnerabilities discussed.  Thoughts, @sam-m-weber?

The question of the use of the time server overall is larger, and I don't know if this issue should be kept open to address it, or if it belongs somewhere else.

[2019-02-21 17:13] jhdalek55 commented on #52
Would PR#57 need some modification in response to Ira's concern?

Lois

[2019-02-21 17:14] awwad commented on #52
https://github.com/uptane/uptane-standard/pull/57#pullrequestreview-206345249

[2019-02-21 17:45] jhdalek55 commented on #51
I will take a look at it later today then, just to make sure. These issues came in such a great flurry that this morning was really the first change I had to pick through everything and see where I could be of assistance.

[2019-02-21 17:50] awwad opened #59 "Full verification secondaries requiring all delegated metadata roles?"
Section {#send_metadata_primary} says [here`*`](https://github.com/uptane/uptane-standard/blame/master/uptane-standard.md#L736) that full verification secondaries must have "a complete copy of all repository metadata".  Is this meant to include all delegated targets roles on an image repository?  That could be a lot.  Is it meant instead to mean all top-level metadata?  All top-level metadata and

[2019-02-21 19:40] sam-m-weber commented on #55
Every organization that attempts to implement Uptane will have to determine all the messages that an ECU has to handle and make sure that all of them are handled correctly.  Therefore, it seems to be rather unpleasant that this information isn't made clear in the specification and a likely source of errors.

I'd be happy to write a PR for this (although a subcontract would have to be issued to CMU

[2019-02-21 19:47] sam-m-weber commented on #54
(Can this be re-opened?)

Either the "Threat Model" or "Design Requirements" sections would be reasonable, I think.

(And if a secondary is taken over, is it acceptable for it to prevent all vehicle updates?  Or to prevent updates to another ECU?)

[2019-02-21 20:27] sam-m-weber commented on #46
I think that the issue is whether the current Uptane specification
- requires that flash be updated too often, or
- if implemented in the obvious fashion would result in too frequent flash updates, but there are mitigation strategies available that could be used.

If neither of these cases is true, then there is no problem.  If the first holds, then Uptane needs to be changed to address this.  If

[2019-02-21 20:38] sam-m-weber commented on #31
I'm afraid I don't think this does fully address the issue -- the primary still checks to see if the new time is greater than the current time and won't go further in the update process if it isn't.

[2019-02-21 21:36] awwad commented on #31
I don't understand:
Can you clarify how [this](https://github.com/uptane/uptane-standard/pull/41/files#diff-aaf9170627e7d94a7c20fa9ef96f3ae1R827) does not resolve that issue?  The clock is reset before that check occurs, if the timeserver key is changed....

[2019-02-21 21:42] awwad commented on #45
The ECU version report is what we expected, yes, and it can be generated in response.  If implementers want to provide the report immediately or in the next cycle, that's up to them, I think.

I think we've regarded questions of dependency resolution like this out of scope, since the OEM (or whoever is directing) may want or need to do things differently from other OEMs.  I don't think this standa

[2019-02-21 22:00] JustinCappos commented on #46
Since we don't specify when an update must occur (could be every day,
month, year, etc.), we don't *require* it to be updated too often.

I don't know what the obvious fashion is in this case.  Perhaps check on
ignition would be something commonly thought of?  I suppose it would be
fine to add a short statement mentioning that the deployment should
consider flash wear when considering how often to

[2019-02-21 22:03] JustinCappos commented on #54
I guess I'd rather raise this discussion to the philosophical level of how much of the security analysis, etc. should be repeated in the specification.  I think once we agree on this, then what to do about this ticket is clearer

[2019-02-21 22:05] awwad commented on #44
The section you refer to, "Downloading and Distributing Updates on a Primary ECU" ([permalink to today's](https://github.com/uptane/uptane-standard/blob/995bf57f3e32096cf34ba2635d9d02ee063207b1/uptane-standard.md#downloading-and-distributing-updates-on-a-primary-ecu); [live doc](https://uptane.github.io/uptane-standard/uptane-standard.html#rfc.section.5.4.2))  specifically relates to what primarie

[2019-02-22 04:45] tkfu commented on #47
So, in my view a "role" is an abstract concept denoting an area of responsibility within the security framework. The real elements that comprise a role are:
1. The role metadata
2. The signing keys for the role

So, you have root metadata and root keys, targets metadata and targets keys, etc.

That being said, the question of what the heck a role is comes up a lot, and I'm less and less convinced

[2019-02-22 13:54] sam-m-weber commented on #44
I'd prefer to make the section "what the primary does", because otherwise you'd have the primary verifying the metadata, downloading the images, etc, twice, which nobody would implement.

[2019-02-22 14:02] trishankatdatadog commented on #47
@tkfu I agree it's confusing to refer to both when we almost always mean one or the other (keys or metadata). At the same time, we do need a word to refer to the party (a.k.a. the role, whether man or machine) that will be signing the metadata using the key. I think as long as we make the distinction between all three super-clear, we should be fine.

[2019-02-22 14:05] sam-m-weber commented on #31
Not according to my reading of the document.  In the section "Downloading and distributing updates on a primary ECU" it says:

And at this point the update process will stop,

[2019-02-22 17:28] JustinCappos commented on #47
We've worked on this a bit, specifically @Marina Moore <mnm678@gmail.com>,
trying to make this consistent.  We'll take another look for clarity.

On Fri, Feb 22, 2019 at 9:02 AM Trishank K Kuppusamy <
notifications@github.com> wrote:

[2019-02-22 17:45] awwad commented on #47
It's a lot easier to define roles in a world without targets delegations.  Recall that a delegation is a construct that imposes key and threshold expectations on a role.  Roles and delegations are distinct.

It's possible that this observation is not helpful at the level of these explanations....  Something to consider, at least....

[2019-02-22 18:05] jhdalek55 commented on #47
I have been holding off on offering any input in these discussion because I wanted to make sure the technical questions were answered before I suggested pure wording changes. I actually think, though, that Sebastien's observation that Roles and Delegations are distinct is important. However, doesn't a delegation carry out the same essential tasks as a role? Or am I misunderstanding something impor

[2019-02-22 19:10] awwad commented on #31
No.  You'd check the current time.  You check the time attestation's signature and update your clock.  That's all that happens there.

[2019-02-22 19:18] awwad commented on #31
Ahh, I think I see the confusion here.  When I read your earlier message ([this](https://github.com/uptane/uptane-standard/issues/31#issuecomment-466157372) one), I I incorrectly read it as referring to the full verification algorithm (since that's where there is an actual fast forward attack issue, and that's where it's fixed by the PR).

The part you're pointing to instead -- {#check_time_primar

[2019-02-22 20:14] mnm678 commented on #47
The terms for roles, role keys, and role metadata are not well separated in the specification. I think that the concept of roles is still useful, especially when considering thresholds and delegations. I can go through and clarify the uses in the specification. How do the following definitions look:

* Role: a party (or machine) responsible for signing a certain type of metadata. The role controls

[2019-02-22 20:22] iramcdonald commented on #47
Hi Marina,

Yes - good definitions.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Protocol WG
IETF Designated Expert - IPP & Printer MIB
Blue Roof Music / High North In

[2019-02-22 20:30] iramcdonald commented on #55
Hi,

I agree with Sam about the importance of these tables.

Also, any conceivable Uptane Certification procedure would certainly
need those tables for conformance checking.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Worki

[2019-02-22 22:30] JustinCappos commented on #55
Some of this is uniform across the standard, but much of it is specific to
the profile (i.e. the wireline format).  How should we handle this?

On Fri, Feb 22, 2019 at 3:30 PM iramcdonald <notifications@github.com>
wrote:

[2019-02-23 02:45] iramcdonald commented on #55
Hi Justin,

I'm confused.

I would have thought that the required Uptane application layer
metadata elements would have been invariant, irrespective of
the protocol binding (the correct standards term, i.e., what you
called the "wireline format")?

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Cha

[2019-02-23 02:55] JustinCappos commented on #55
So, quite a bit of what goes into what Sam called the "Message Handler
Table" will differ by wireline format.  Or at least the set of things we
would list would be a minimum and quite under-specified.  So, for example,
if we are talking about hardware IDs and some profiles specify using a key
value store and others use strings, we would just want to say "hardware ID"
in the spec.

Also, some imple

[2019-02-23 09:39] tkfu commented on #49
I agree with @JustinCappos here--I don't think there's a problem. "Such as" quite clearly indicates that the statement is non-exclusive.

I think that's already very clearly addressed. From [Section 4.2](https://uptane.github.io/uptane-standard/uptane-standard.html#capabilities) (emphasis added):

[2019-02-23 10:15] tkfu commented on #59
That's a good point. As far as I can see, the security properties are the same for either option, so I think it's okay to make it a SHOULD. I'm preparing a quick PR to address this now.

[2019-02-23 10:19] tkfu commented on #59
#62 addresses this. Reviews/comments welcome.

[2019-02-23 10:28] tkfu opened #63 "Rendering of full verification steps doesn't work well"
The full verification procedure goes 6 levels deep in the section that describes how to resolve delegations, and this makes the HTML rendering really ugly, wrapping the text of the deeply-nested instructions at one word per line:
<img width="633" alt="screen shot 2019-02-23 at 18 26 50" src="https://user-images.githubusercontent.com/4501758/53285175-b1db3280-3798-11e9-8081-fd8e9b7f3b35.png">

This

[2019-02-23 15:18] iramcdonald commented on #63
Hi,

I suggest unwinding the deeply nested levels into separate named/numbered
sections and
using forward references from the top-level algorithm.

Also, deeply nested verification algorithms are inherently suspect.  Errors
and side-effects
from ordering become very hard to spot (until they hit you in the field).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted M

[2019-02-23 21:09] trishankatdatadog commented on #63
I agree --- the nesting has gotten especially ridiculous with the recent
TAP 3 clarifications.

[2019-02-24 02:30] iramcdonald commented on #55
Hi Justin,

This thread goes to the heart of my concern about whether it could
ever be practical to have a formal certification process for Uptane
implementations.

There are no rigorous definitions (or alternative definitions) for
specific normalization and encoding of metadata elements.

I cannot imagine how "interoperability" can be reasonably applied
to multiple Uptane implementations.  At lea

[2019-02-24 05:54] tkfu commented on #63
I’m working on a PR for this now.

On Feb 23, 2019, at 22:09, Trishank K Kuppusamy <notifications@github.com<mailto:notifications@github.com>> wrote:

I agree --- the nesting has gotten especially ridiculous with the recent
TAP 3 clarifications.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://emea01.safelinks.protection.outlook.com

[2019-02-25 00:13] JustinCappos commented on #31
Yes, please clarify this point.  Better safe than sorry.

[2019-02-25 01:04] jhdalek55 commented on #31
Planning to take a look tomorrow at this and at anything else that
appears to be purely semantic issues.

Lois

On Sun, Feb 24, 2019 at 07:13 PM, Justin Cappos wrote:

Yes, please clarify this point.  Better safe than sorry.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_uptane_u

[2019-02-25 06:51] sam-m-weber commented on #31
The wording does need to be changed, alas.  #check_time_primary says "Verify that the signatures are valid, and that the time the server attests is greater than the previous attested time."  In many other places in the document the word "verify" means that it is an error if the condition is not true.  (Which is also the common meaning, I think.)

[2019-02-25 08:20] cajun-rat commented on #29
I've updated PR #33 to fix the merge conflicts

[2019-02-25 16:03] #48 closed

[2019-02-25 17:45] mnm678 commented on #47
I updated the definition of a role in the pr (#60).

[2019-02-25 18:29] tkfu commented on #47
@trishankatdatadog (and others): Why do we actually need this word/term? Can you point to the places where having a specially defined term meaning "the person or entity who signs a type of metadata" makes things clearer? Are there enough of those places to make it worthwhile to keep the term "role" around? What if we examined the places where we actually use the term role, and replaced that term w

[2019-02-25 18:54] trishankatdatadog commented on #47
@tkfu So long as we are confident that Uptane implementors are never going to read any of the TUF specifications and proposals, and not get confused about the differing terminology, I'm not married to the idea of having the use the word "role."

[2019-02-25 18:57] jhdalek55 commented on #47
It's true that our ultimate goal here is clarity and therefore we need to
take a hard look at every term we might use, even ones that are legacies
from Uptane's TUF predecessor. If you look back at the way roles are
defined in TUF, it sound like there is more involved than just signing
metadata. On the TUF web site it reads  "TUF uses roles to define the set
of *actions* a party can perform. The c

[2019-02-25 18:58] jhdalek55 commented on #47
I wrote my response before I saw Trishank's, but its essentially the same
point. These are "legacy" terms from TUF.

Lois

On Mon, Feb 25, 2019 at 2:00 PM Lois A DeLong <lad278@nyu.edu> wrote:

[2019-02-25 19:08] mnm678 commented on #47
I think that the term role is helpful in situations where there is more than one "person" signing the metadata. There may be a threshold of keys - all associated with the same role - that are needed to sign metadata. The use of role allows this to be talked about as "the role signs the metadata" rather than "a threshold of keys associated with the metadata signs the metadata" which I think offers

[2019-02-25 19:42] jhdalek55 commented on #31
I'd be happy to try to correct this, but I just want to clarify the issue. Are we questioning how the word "verify" is used across the board? If so, that's obviously a much bigger issue.   Let me know.

[2019-02-25 19:47] awwad commented on #31
So, it just needs to be clear in the document that:
- If a time attestation is verified, the device's time is updated.
- If a time attestation is not verified, the device's time is not updated, but neither do we abort any of the algorithms in which this occurs.

It's probably a short addition.

[2019-02-25 20:49] jhdalek55 commented on #46
Any idea where such a statement would go? And is this in the standards or are we still talking about deployment?

[2019-02-25 21:05] JustinCappos commented on #46
Definitely in the deployment guidelines.

On Mon, Feb 25, 2019 at 3:49 PM Lois Anne DeLong <notifications@github.com>
wrote:

[2019-02-25 21:09] jhdalek55 commented on #46
Ok. Then do we want to make a note of it for the Deployment document and
remove it as an issue here?

Lois

On Mon, Feb 25, 2019 at 4:06 PM Justin Cappos <notifications@github.com>
wrote:

[2019-02-25 21:36] iramcdonald commented on #31
Hi,

While I agree with the spirit of Sebastian's reply, I note that it's
actually
important (eventually) that we *never* use either the word "verify" or
"verification" except in a formal algorithm, where *normally* an abort
is the correct result of a failed "verification" step.

In this particular case, there are two levels of algorithms that are too
informally intertwined (i.e., updating local n

[2019-02-25 21:54] iramcdonald commented on #47
Hi,

My two cents - please *keep* the term "role" - it appears almost
universally in recent IETF architecture specs across the whole
spectrum of Internet protocols.

Marina made a good point about "role" to help to clarify the case
where threshold cryptography is used, which might well become
very relevant to Uptane implementations in the future due to laws
and regulations that cut across industri

[2019-02-25 21:54] jhdalek55 commented on #56
If this is a matter of importing something directly from the TAP 5 into the document, I could probably take care of it, as long as I'm directed where to get it from and exactly where it belongs.

[2019-02-25 21:56] trishankatdatadog commented on #56
I think TAP 5 is unnecessary for Uptane, and vote against any mention or import of it. I am open to being proven wrong.

[2019-02-25 21:59] sam-m-weber commented on #46
Maybe.  I think Justin's statement "Since we don't specify when an update must occur...we don't *require* it to be updated too often" might be misread, since it seems to imply that a flash-write only occurs when an update is applied to an ECU.  Currently, however, as I read it, Uptane has every ECU do a flash-write every time updates are checked for.

Is this unreasonable, even if this is document

[2019-02-25 22:05] jhdalek55 commented on #59
Can this issue be closed now? The PR addressing it has been marged.

[2019-02-25 22:09] awwad commented on #59
Resolved, yes, thanks. :)

[2019-02-25 22:09] #59 closed

[2019-02-25 22:15] iramcdonald commented on #46
Hi,

For a 15-to-30 year life ECU, *no*, a flash write every check for
updates isn't reasonable (unless ECUs and vehicles are lazy
and never check for updates in a timely manner).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer

[2019-02-25 22:29] JustinCappos commented on #46
If an ECU performs a check every day and always writes to the same block, a
10K write cycle flash memory would wear out after 27.4 years.  Do ECUs, as
they are programmed today, do any write leveling?

Even if not, just writing the thing you're downloading to a different
location (which is required by the spec) would mean you write to each block
1/2 as often.

This all being said, the meat of this

[2019-02-25 22:40] iramcdonald commented on #46
Hi Justin,

I agree the whole topic needs to be discussed in Deployment
Considerations.

No, ECUs often don't do any wear-leveling at all.  Also for cost
reasons, they sometimes use el cheapo flash that doesn't have
a reliable 10K cycle lifetimes.  Also, for security, the ECUs may
well be keeping all these counters in *dirt* cheap hardware
security elements (w/ very minimal onboard flash).

We sho

[2019-02-26 00:35] mnm678 commented on #56
TAP 5 is mentioned in #root_meta (quoted above). It looks like there are references to TAPs 3, 4, and 5 at various places in the current document.

The text of these TAPs are rather long (for example [tap 5](https://github.com/theupdateframework/taps/blob/01726d203c9b9c029d26f6612069ce3180500d9a/tap5.md#downloading-metadata-and-target-files)). Is there a way to only include the critical informatio

[2019-02-26 00:47] jhdalek55 commented on #56
I would think we only need whatever specific sentences in the TAP that
explain how the influence the process in question. I don't think we
would want to use the entire TAP.

Lois

On Mon, Feb 25, 2019 at 07:35 PM, mnm678 wrote:

TAP 5 is mentioned in #root_meta (quoted above). It looks like there are
references to TAPs 3, 4, and 5 at various places in the current
document.

The text of these TAPs

[2019-02-26 05:01] awwad commented on #56
We don't refer to the TUF specification in the standard (with one exception in 5.2.7), so it seems likewise unnecessary to refer to the TAPs in the standard.  It stands to reason that we'd integrate only any necessary language from TAPs into the Uptane standard, the same way that we've integrated the necessary elements of the TUF specification (which is most of them).  In the case of TAP 5, I thin

[2019-02-26 09:27] patrickvacek commented on #47
As someone that just implemented delegations over the last couple months, it is entirely unrealistic to expect an Uptane implementer to be able to ignore TUF. In fact, I ended up using the TUF spec more than the Uptane spec, although to be fair, I'm more familiar with Uptane than with TUF.

I'm not sure where I fall on this argument, but again, as an implementer, I found the distinction between th

[2019-02-26 15:15] trishankatdatadog commented on #47
@patrickvacek 💯

[2019-02-26 15:36] JustinCappos commented on #56
Thanks for raising this.  Let's discuss the value (or lack of value) of
this during the workshop.  It would be better to decide with automaker
feedback.

On Mon, Feb 25, 2019 at 4:56 PM Trishank K Kuppusamy <
notifications@github.com> wrote:

[2019-02-26 16:01] jhdalek55 commented on #47
If this is just a wording issue, I'd be happy to take a run at clarifying
things. I would like to ask , though, precisely what is vague or confusing
about these terms. I have worked on TUF project write-ups since the
beginning of my stay here, so maybe I have just absorbed the terminology.
If someone can articulate what is unclear, I'd be happy to propose some
edits.

Lois

On Tue, Feb 26, 2019 at

[2019-02-27 11:28] patrickvacek commented on #47
I'm also somewhat infected by that problem as well at this point. However, delegations are interesting because we treat them slightly differently than other roles. They only exist in the images repository and they aren't quite as tightly controlled and specified as the four "main" roles. So right there is one opportunity for improvement: how do we describe those four required roles as opposed to t

[2019-02-27 15:48] JustinCappos commented on #47
@awwad Can you chime in about code reuse?  I'd imagine much of the signing, etc. code is identical.  You can't actually tell if a targets file is the top level target's role or a delegated role by looking at it, so I would imagine this code would be identical...

[2019-02-27 15:53] jhdalek55 commented on #47
Ok, so what I take from Patrick's opening comments is we may need a
different term to label those image repository roles and at the very least,
just a better explanation as to why these delegated roles may behave
differently than the four principle roles we discuss?

I will leave the coding issues to those who know better.

Lois

On Wed, Feb 27, 2019 at 6:28 AM Patrick Vacek <notifications@github.

[2019-02-27 16:40] awwad commented on #47
#### Code Reuse for Top-level Targets and Delegated Targets
Yes, the same code handles almost everything about these two in the reference implementation.  The main difference is that Targets is always verified based on Root, so it can be verified without being concerned about a particular traversal of the delegation graph, and that Targets is refreshed whenever it has been changed (as opposed to w

[2019-02-27 22:02] jhdalek55 commented on #47
So, do we have to add/delete/change anything in the Standards beyond the revised definitions Marina suggested? And, should we develop something on this topic for the deployment pages?

[2019-02-27 23:28] sam-m-weber commented on #54
I think it is extremely important to state in the specification what security incidents Uptane will prevent.

Part of any specification that I am aware of is a statement of what the entity being described is supposed to do.  In Uptane's case, this is a level of security.  Uptane requires a large investment by its users: they have to develop new code and require it be deployed by all of their suppl

[2019-02-28 08:35] patrickvacek commented on #47
Same with our implementation. I think this is a benefit: we can reuse a lot of logic and use the TUF spec as a guide for how these roles should work at a basic level.

For whatever reason, it wasn't immediately obvious to me that I could reuse logic in the Root and and Targets roles for key management. I figured it out quickly enough, but it was a bit of a challenge to get it working correctly for

[2019-02-28 15:48] jhdalek55 commented on #47
Patrick, could you make a note of where the issues discussed in this thread
should be addressed in the Deployment pages? Would it fit under one of the
designated headings, or do we need to create a new page for these concerns?

If you have a chance to think about the above in the next few days, let me
know. I am going to be circulating a list of the topics on the Deployment
page to see if we can s

[2019-03-02 00:16] awwad commented on #45
Closing as answered, but if there are other questions, or if I'm missing something, feel free to follow up.

[2019-03-02 00:16] #45 closed

[2019-03-02 00:21] JustinCappos opened #66 "Move time server designs to deployment considerations..."
As was resolved in the Uptane workshop today, we will move the time server mechanisms to the deployment considerations.  The spec will instead state why a notion of wall clock time is important for checking expiry of certificates and point to the deployment considerations for options.

@awwad, Would you kindly take a first crack at this?  Please remember to leave a place for Ira to add text about

[2019-03-02 00:25] JustinCappos commented on #42
Today we resolved to make the requirements `unique encoding', etc. in the specification.  @iramcdonald , would you kindly help?

When Mike + others from Airbiquity and @awwad / @mnm678 write their profiles, they will have this level of specificity.

[2019-03-02 00:28] JustinCappos commented on #56
We resolved to link to specific version numbers of the TUF spec / TAPs (at a minimum).  I'll push for us to link and refer to the head of the branch containing that version so it is completely clear.

@jhdalek55 Can you help to resolve this?

[2019-03-02 00:32] JustinCappos commented on #55
In the workshop today, we talked around this issue a bit.  I think the resolution that makes the most sense is to have the profiles and the spec list this at the appropriate level of specificity.

If anyone disagrees, please raise it here.  Otherwise, we will add this moving forward.

[2019-03-02 00:33] JustinCappos commented on #54
We resolved in the Uptane workshop today to have a link to the technical materials that contain this information rather than duplicating it in the spec.

[2019-03-02 00:37] JustinCappos commented on #44
I think Sam's suggestion makes sense.  Please make the change.

[2019-03-02 03:21] jhdalek55 commented on #56
I think I can do this. I'll give it a go on Monday. Glad the meeting provided some answers to so many of these open issues.

[2019-03-02 08:37] #47 closed

[2019-03-02 15:22] #49 closed

[2019-03-02 15:45] JustinCappos commented on #50
I added text to the deployment considerations in E.3 addressing this.

[2019-03-02 15:45] #50 closed

[2019-03-02 15:46] JustinCappos commented on #46
I added text to the deployment considerations (E.7) to address this.

[2019-03-02 15:46] #46 closed

[2019-03-02 15:51] JustinCappos opened #68 "Convert Deployment Considerations to MD"
The google doc containing deployment considerations needs to be merged into markdown and added to github so that we can easily collaboratively edit / comment on changes.  Simply making edits to the doc (as we have been), isn't the right model.  We should be doing more rigorous reviews as we did for the standards doc.

I read through the document and tried to resolve all of the open comments in a s

[2019-03-02 16:20] JustinCappos opened #69 "Please check new Uptane costs section..."
I took a rough cut at a section that talks about the computational costs of Uptane in E.8 of the deployment considerations.  This is all 'off-the-cuff' and is just meant as an outline of how this would go.  Fixes welcome (and likely needed)!

[2019-03-02 16:22] jhdalek55 commented on #68
I agree that duplication of effort at this point is a waste of time. If
most of the existing document will be eventually serve as the raw text
for the deployment pages, why don't we just use that text to fill in the
blanks. In other words, why don't I just cut and paste the existing text
onto the web pages?

If that's is needed right now, I can take care of that this week.

Lois

On Sat, Mar 02, 2

[2019-03-02 16:29] JustinCappos commented on #68
Yes, this would be helpful.

Also, forgive my bad memory, but did we resolve to make these into webpages or into a separate standards doc?  I recall the discussion but do not recall the outcome.

[2019-03-02 16:35] jhdalek55 commented on #68
Webpages, for which Jon Oster has already set up individual markdown
files and established subheads. I can just cut and paste in the text and
then the commitee can review the individual entries.

I can get this done the early part of next week.

Lois

On Sat, Mar 02, 2019 at 11:29 AM, Justin Cappos wrote:

Yes, this would be helpful.

Also, forgive my bad memory, but did we resolve to make these i

[2019-03-02 16:39] JustinCappos commented on #56
FYI: the resolution was that implementers MAY support TAP 5.  #70 is the proposed fix for this.  Review kindly requested.

[2019-03-02 16:42] JustinCappos commented on #68
Okay, sounds good.  FYI: I added an E.8 this morning, and I imagine other heading names will be added, removed,
 or revised over time.

[2019-03-02 16:49] jhdalek55 commented on #68
No problem. I'll add files if needed.

Lois

On Sat, Mar 02, 2019 at 11:42 AM, Justin Cappos wrote:

Okay, sounds good.  FYI: I added an E.8 this morning, and I imagine
other heading names will be added, removed,

or revised over time.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.c

[2019-03-04 08:48] #52 closed

[2019-03-04 11:16] patrickvacek commented on #47
I think most of the interesting parts would be in the `deployment/key_management.md` page, assuming that I understand correctly that both server-side and client-side implementation will be discussed there. Possibly there could be some places in `deployment/normal_operation.md` that could talk about code reuse (like the text that Sebastien wrote a few comments up), perhaps such as the  `What can an

[2019-03-04 11:43] JustinCappos commented on #47
@mnm678 would also be a good person to have a look once we get the deployment doc into a format that is easier to collaboratively edit.  She made the changes to the other docs to get them in line...

[2019-03-05 08:04] JustinCappos commented on #29
Fixed in #33.

[2019-03-05 08:04] #29 closed

[2019-03-05 08:24] JustinCappos commented on #56
#70 was merged, but the broader normative out-reference issue still remains.  @jhdalek55 is working on this.s

[2019-03-06 17:26] #54 closed

[2019-03-06 23:21] JustinCappos commented on #31
FYI: @awwad is adding a unit test for this case to the test suite.  We'll also fix the language as discussed above.

[2019-03-06 23:25] JustinCappos opened #72 "Refer to other specifications"
The Uptane specification should appropriately refer to other specification documents.  The requirements we have are higher (and often a proper super-set) of many related standardization efforts.  We should somewhere make it clear our relation to these specs.

@iramcdonald, we'd appreciate some guidance here.  We can do most of the work, but need to know what things we might be missing and/or how t

[2019-03-07 17:07] jhdalek55 opened #73 "Develop an open profile to serve as a template for future compliance evaluation practices"

[2019-03-07 17:11] jhdalek55 commented on #73
At the recent Uptane workshop, it was agreed that the Uptane Alliance was not ready to consider an official certification program. But it was agreed it would be valuable to develop an open profile that could serve as a template for future certification testing.

[2019-03-07 17:36] iramcdonald commented on #73
Hi Lois,

My pedantic clarity comment:

The title should replace: to serve as a template for future certification
practices
with:
to serve as a template for future compliance evaluation practices
Because there was a strong aversion in the room last Friday from many
participants to any
"certification" process - if you fix your bug, then your product is no
longer certified - the
Achilles heel of Com

[2019-03-07 17:48] jhdalek55 commented on #73
Ira, I will certainly make that change, I was not at Friday's meeting
and so I'm doing my best to put together these minutes from someone
else's notes.

I may be adding a few more issues here, so feel free to check and
critique.

Lois

On Thu, Mar 07, 2019 at 12:36 PM, iramcdonald wrote:
Hi Lois,

My pedantic clarity comment:

The title should replace: to serve as a template for future
certificati

[2019-03-07 18:00] jhdalek55 commented on #73
Fixed. Thank you.

[2019-03-07 18:43] jhdalek55 commented on #56
Honestly, I may need some guidance on this. I understand what needs to be done and initially I thought I could figure this out. But, my git hub skills are not very advanced and I think I need also some clarification as to what within TAP 5 I'm linking to. I'm still willing to try to fix it this, as I want to be able to do in future iterations, but I think I will need some help.

[2019-03-07 18:48] trishankatdatadog opened #74 "How many places should we list HW IDs?"
Right now, HW IDs are listed in both: (1) the custom targets metadata on both the director and image repositories, and (2) delegations on the targets metadata of the image repository.

This seems redundant and error-prone (could lead to accidental self-denial-of-service "attacks"). However, it's not trivial to remove one or the other, especially because the first method is already in use. We need

[2019-03-07 19:06] awwad commented on #56
Poke me whenever. :)

[2019-03-07 19:12] jhdalek55 commented on #56
Thanks. Maybe we can look at this tomorrow.

[2019-03-07 20:13] jhdalek55 opened #76 "What SHOULD be included in the ECU Manifest?"
What are the key data that must be completed here. I believe @iramcdonald and @cajun-rat  offered to provide some language for this.

[2019-03-07 20:28] jhdalek55 opened #77 "Adding cautionary note in the Standard with respect to Bugs"
We need to add a statement in the Standards document along the lines that bugs must be fixed in the most prompt and and efficient manner possible

[2019-03-07 23:17] jhdalek55 opened #78 "Consider CMAC when referencing HMAC in Uptane documents"
HMAC discussions need to be looked at to potentially include CMAC text because the latter is widely used.

[2019-03-07 23:24] JustinCappos commented on #77
I think this got a bit garbled in the meeting notes.  The point here was to make it so that any Uptane implementation must patch bugs promptly.  This isn't about external references to other documents (unless I was misunderstanding the conversation at that point).

[2019-03-07 23:44] jhdalek55 commented on #77
Ok. I hadn't shared the link yet, so I fixed it in the repo and the
document.

Lois

On Thu, Mar 07, 2019 at 06:24 PM, Justin Cappos wrote:

I think this got a bit garbled in the meeting notes.  The point here was
to make it so that any Uptane implementation must patch bugs promptly.
This isn't about external references to other documents (unless I was
misunderstanding the conversation at that poi

[2019-03-08 14:14] iramcdonald commented on #78
Hi,

My two cents.

Replace all "HMAC" w/ "CMAC/HMAC" and surrounding references to "hash"
should be replaced with "authentication value" or simply "MAC" (for
example).

CMAC does *not* produce a hash value.

Because AES accelerators are common, but SHA2/SHA3 accelerators are
uncommon in automotive ECUs, CMAC is dominant for MAC checks.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)

[2019-03-08 16:06] tkfu opened #79 "Custom metadata in multi-role delegations"
In a multi-role delegation, we must verify that the **non-custom** metadata from each role (or rather, from a sufficient threshold of roles) matches. However, we don't say what to do if **custom** metadata does not match. I'm going to spitball a bunch of ideas, here. We could:

* Return all of the different custom metadata along with information about which role it came from, and leave it to the i

[2019-03-08 16:58] trishankatdatadog commented on #79
I propose updating [this rule](https://github.com/uptane/uptane-standard/pull/75/files#diff-aaf9170627e7d94a7c20fa9ef96f3ae1R938) to say:

[2019-03-08 18:00] awwad commented on #79
It is worth considering whether the policy toward custom metadata matching should differ between multi-repository (TAP 4 -- e.g. Director + Image Repo) and multi-role (TAP 3) delegations.  Having a different policy toward custom metadata with the two types might be confusing.

Note that the standard currently says that ECU ID (Director only), hardware ID (generally all repos), and release counter

[2019-03-08 19:07] iramcdonald commented on #79
Hi Jon,

[hopefully this reply isn't just noise]

In the IETF and IEEE-ISTO PWG Internet Printing Protocol (IPP), we have
long had a Client request feature for the "MUST match" attributes and
values.
The required Printer behavior is that, if any "MUST match" fails, then the
Job
MUST be aborted and detailed errors returned to the Client.

As custom metadata attributes are likely to proliferate over

[2019-03-08 23:50] JustinCappos commented on #78
Awesome.  This seems straightforward enough.  @Lois Anne Delong
<lad278@nyu.edu> , will you make this edit please?

On Fri, Mar 8, 2019 at 9:14 AM iramcdonald <notifications@github.com> wrote:

[2019-03-09 00:13] tkfu commented on #63
Closed by #75.

[2019-03-09 00:13] #63 closed

[2019-03-09 01:02] jhdalek55 commented on #78
Sure. That seems straightforward enough.

Lois

On Fri, Mar 08, 2019 at 06:50 PM, Justin Cappos wrote:
Awesome.  This seems straightforward enough.  @Lois Anne Delong

<lad278@nyu.edu> , will you make this edit please?

On Fri, Mar 8, 2019 at 9:14 AM iramcdonald <notifications@github.com>
wrote:

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Git

[2019-03-11 16:11] jhdalek55 commented on #78
Ok. I opened the repo today to make this change, and I'm not seeing references to HMAC, at least not using that acronym. What section would I find this in? Or is this not in the Standards document but in the Deployment pages?

[2019-03-11 21:24] iramcdonald commented on #78
Hi Lois,

You're right - it must be a Deployment Considerations issue.

The only occurrence of "HMAC" in the current standard text is in
the title of the reference RFC 4634.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Worki

[2019-03-11 21:27] jhdalek55 commented on #78
Ok. I guess then we mark this as a deployment issue. Thanks for getting
back to me.

Lois

On Mon, Mar 11, 2019 at 5:24 PM iramcdonald <notifications@github.com>
wrote:

[2019-03-11 23:00] jhdalek55 commented on #78
Ok...I did a search in the Deployment Google Doc and couldn't find either
of these terms there either. Maybe this came up in a pull request for
Standards?

Lois

On Mon, Mar 11, 2019 at 5:30 PM Lois A DeLong <lad278@nyu.edu> wrote:

[2019-03-12 13:21] tkfu commented on #36
I've opened a PR (#81) that specifies the "naïve and correct and inefficient way". I'm hoping to close this off, just so we don't have such a big backlog of issues.

[2019-03-12 13:29] tkfu commented on #56
I'd just like to point out that, since the beginning, I've been referencing specific commits in all normative references. As long as SHA-1 isn't broken, those normative references cannot be changed. And given that they reference an open-source git repo, I think it's reasonable to assume that they are durable, even if the github links eventually rot.

[2019-03-12 13:32] tkfu commented on #72
Just for the mechanics of this: there's an existing structure in the IETF RFC format that we use; links (or citations, in the case of published standards that aren't online) can be added as either normative or informative in the header of the document, and then referenced later on. We already do this for a number of RFCs, as well as for TAPs from TUF.

[2019-03-12 13:34] tkfu opened #82 "ECU identifiers are a SHOULD, not a MUST"
ECU identifiers (e.g. serial numbers for ECUs that should install a particular target) are currently specified as a SHOULD in Director targets metadata. Shouldn't this be a MUST?

[2019-03-12 13:53] iramcdonald commented on #56
Hi Jon,

Um.  SHA-1 was rather famously broken by Google in February 2017:

https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html

SHA-1 has long been deprecated by IETF and US NIST standards.  The use of
SHA-1 is now prohibited in any future or updated IETF protocol.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co

[2019-03-12 14:01] iramcdonald commented on #82
Hi,

My two cents - YES.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Protocol WG
IETF Designated Expert - IPP & Printer MIB
Blue Roof Music / High North Inc
http://si

[2019-03-12 14:10] tkfu commented on #56
If we were talking about relying on it for security properties, I would be worried...but I think it’s still secure enough to identify a particular and stable version of a text. Perhaps I should have said, “as long as a person with commit rights to an authoritative source for the TUF git repositories doesn’t find a SHA-1 collision, then rewrite the history of the repo without causing anyone to noti

[2019-03-12 14:41] jhdalek55 commented on #36
I am all for closing these issues as soon as we can, as long as any "loose threads" are captured somewhere.

Lois

[2019-03-12 15:09] jhdalek55 commented on #56
So, just to clarify, do we need additional copy along with the appropriate reference link?

[2019-03-13 13:21] tkfu commented on #42
I've opened up https://github.com/uptane/uptane-standard/pull/84 to address this, or at least start to.

[2019-03-13 14:15] tkfu commented on #16
Closing as wontfix for now; this is also an issue that should be on the [uptane.github.io repo](https://github.com/uptane/uptane.github.io).

[2019-03-13 14:15] #16 closed

[2019-03-13 14:31] JustinCappos commented on #53
@awwad Can you have this conversation soon?  Perhaps someone else can write the copy, but it feels like this is blocked on you now.  Let's get someone else to help with it so we can unblock it.

[2019-03-13 15:07] awwad commented on #53
The short(-ish) version of the story:

The text in the various verification procedures (and possibly some of the constraints on the repositories in other sections -- someone should check that part after this) assumes that there are two repositories -- one Director and one Image Repository.

We discussed having much more flexibility in the number of distinct repositories with distinct metadata, to

[2019-03-13 15:10] awwad commented on #53
If that's adequate for someone to make a pass at the document, great.  If more discussion is required, great. 😄

[2019-03-13 15:48] #56 closed

[2019-03-13 15:50] #72 closed

[2019-03-13 15:56] #78 closed

[2019-03-13 16:05] #82 closed

[2019-03-13 16:06] tkfu commented on #76
On the 03/13 standards call, we agreed to leave this issue open for the next two weeks so that people can comment here informally about what kinds of things to include. We will ask for a volunteer to aggregate the suggestions and write the text on the 03/27 standards call.

[2019-03-13 16:08] tkfu commented on #55
Action plan from 03/13 standards call: @OTAINFO will work on this and submit a PR.

[2019-03-13 16:11] tkfu commented on #72
On the 03/13 standards call, we agreed that we don't want to overspecify and force people into using particular formats, encodings, etc., but also that we can use some reasonable judgement: for example, we are comfortable in requiring RFC5198 encoding of strings in metadata to facilitate comparison.

[2019-03-13 16:12] tkfu commented on #69
On the 03/13 standards call, we discussed closing this and moving it to https://github.com/uptane/uptane.github.io/, but didn't reach a conclusion. Discussion about the most appropriate place/format for deployment considerations will continue on the mailing list.

[2019-03-13 16:13] tkfu commented on #68
On the 03/13 standards call, we discussed closing this and moving it to https://github.com/uptane/uptane.github.io/, but didn't reach a conclusion. Discussion about the most appropriate place/format for deployment considerations will continue on the mailing list.

[2019-03-13 16:16] tkfu commented on #53
On the 03/13 standards call, we noted that @awwad added the above comments just a few minutes before the meeting. Since nobody has had a chance to digest them yet, we're leaving this open for discussion.

[2019-03-13 16:17] tkfu commented on #73
On the 03/13 standards call, we noted that @mnm678 is still working on this, and will leave it open for now.

[2019-03-13 16:19] tkfu commented on #42
On the 03/13 standards call, we noted that there's a PR open and awaiting review. Once it's reviewed/accepted/merged, we can close this.

[2019-03-13 16:20] tkfu commented on #36
On the 03/13 standards call, we noted that @tkfu has a PR open (#81) addressing this. Once the change requests from that are taken care of and it is reviewed/approved, we can close this.

[2019-03-13 16:22] tkfu commented on #79
On the 03/13 standards call, @JustinCappos pointed out that this issue affects TUF more broadly, and suggested that we bring the discussion to the wider community. @tkfu will open an issue in the main TUF repository.

[2019-03-13 16:23] tkfu commented on #77
On the 03/13 standards call, @jhdalek55 volunteered to make a PR for this addition.

[2019-03-13 16:24] tkfu commented on #74
On the 03/13 standards call, we agreed to discuss this further on the 03/27 standards call, since neither @awwad nor @trishankatdatadog were able to be present today. Comments and suggestions in the thread here are, of course, still welcomed.

[2019-03-13 16:26] tkfu commented on #66
On the 03/13 standards call, we noted that this overlaps with #31, which @awwad is working on.

[2019-03-13 16:27] tkfu commented on #31
On the 03/13 standards call, @JustinCappos said that @awwad was working on these issues. We'll look at it again on the next call.

[2019-03-13 16:50] tkfu commented on #42
In my view, mandating that all strings in the metadata conform to RFC5198 takes care of the string comparison issue. #84 is merged after an approving review, so I am going to close this. If anyone thinks it's not yet resolved, please leave a comment and I'll re-open.

[2019-03-13 16:50] #42 closed

[2019-03-13 17:45] mnm678 opened #86 "Ensure TAP references do not have TUF specific content"
As discussed in the 3/13 standards meeting, we need to ensure that any referenced TAPs have consistent TUF/Uptane terminology.

[2019-03-13 21:31] JustinCappos commented on #53
I think that solution 1 above is the clear winner.  Would someone have time to make a pass?

Also, to answer the other part of Sam's question, no this doesn't apply to PV secondaries.

[2019-03-14 10:39] patrickvacek commented on #76
Are Sections [5.4.2.1.1](https://uptane.github.io/uptane-standard/uptane-standard.html#vehicle_version_manifest) and 5.4.2.1.2 not enough to describe this already? I checked our implementation of what we send and the default information is exactly what is described there.

[2019-03-14 11:05] tkfu commented on #76
@patrickvacek: The idea here is to gather ideas about what would be _useful_ to include in the custom metadata. For example, perhaps a useful custom field would be a list of libraries and versions used in building the image, or some sort of diagnostic data. We're leaving it open especially to folks from OEMs to give their input on the kinds of things that would be helpful here.

We're not talking

[2019-03-18 16:01] jhdalek55 commented on #77
Closing via corrections in PR #87

[2019-03-18 16:01] #77 closed

[2019-03-20 20:05] mnm678 commented on #86
I went through TAP 3, 4, and 5 to look for inconsistencies with Uptane terminology. Other than a couple of TUF examples, I think these TAPs are consistent with Uptane. There are a couple of very minor TUF/Uptane differences that come up in the TAPs (for example whether to verify custom metadata), but the terminology all seems to be consistent.

Overall I would say the references to these TAPs make

[2019-03-20 20:05] #86 closed

[2019-03-21 07:25] willllllllllllll opened #88 "about downloading latest image"
From on the latest standard, I cannot find out the strategy for primary ECU to select source of storage for downloading images. Based on the demo code, the new image file for ECU is added to both repositories. Which repository should be selected, image repo or director repo? or both repositories share the same image file storage?
Is it possible to add some clear description to address this concern

[2019-03-21 07:42] willllllllllllll opened #89 "Confused description about ECU keys"
{#director_repository}:

does the **storing encrypted images...** mean use offline ECU key? I don't think it is applicable since ECU key is unique.

{#inventory_db}:

Here, **a public key** means ECU key? if yes, this is not precise enough, since ECU key has option to use symmetric key.

And, ECU key are also used by ECU to sign version manifest and image decryption. so it should be installed duri

[2019-03-21 11:52] JustinCappos commented on #88
We'll clarify.  The actual location of the image that is downloaded may come from anywhere (director repo, image repo, CDN, etc.)  It seems most likely that an image repo or a CDN would be used in practice.

The director and image repository metadata MUST both contain the secure hash of the image, however.

[2019-03-22 16:21] patrickvacek opened #90 "Snapshot contents inconsistency"
The standard is inconsistent about what it claims are the required contents of the Snapshot metadata. This may be related to differences between the 0.9 and 1.0 TUF spec versions.

[Section 5.2.4. of the Uptane spec (Snapshot Metadata)](https://uptane.github.io/uptane-standard/uptane-standard.html#snapshot_meta) says "The Snapshot metadata lists version numbers and filenames of all Targets metadat

[2019-03-22 19:14] trishankatdatadog commented on #90
Hi @patrickvacek, yes, I can see why this is confusing. Most of these changes came from [Mercury](https://www.usenix.org/conference/atc17/technical-sessions/presentation/kuppusamy).

The TLDR is that for most use cases, only the filenames and corresponding version numbers of all targets metadata files are necessary.

It used to be that TUF had hashes and file sizes instead, but this had two drawba

[2019-03-22 19:29] JustinCappos commented on #90
Yes, I agree with Trishank's assessment and call for action.  There is a
very narrow case where hashes have an advantage over version numbers, but
versions are far superior overall in security and file size.

On Fri, Mar 22, 2019 at 3:14 PM Trishank K Kuppusamy <
notifications@github.com> wrote:

[2019-03-25 15:04] patrickvacek commented on #90
Thanks for the explanations. I reviewed the Mercury paper again and now I have a better understanding of the intentions. I agree that if hashes in snapshot.json are removed, we should mention it in the threat model. Alternatively we could list hashes as a "MAY include" instead of the current language, but that is probably more confusing for little benefit.

There is one other aspect that I think m

[2019-03-25 15:34] jhdalek55 commented on #68
I'm planning to begin moving the Deployment materials to the markdown files today. Before I begin, I did want to make a few comments about formatting issues in  the current Google Doc version of Deployment Considerations.

First, there are a large number of figures in the document. My experience in embedding figures in Markdown is somewhat limited. Also, I'm assuming these figures may require upda

[2019-03-25 15:54] iramcdonald commented on #90
Hi Patrick et al,

Offline backups is a large, complex area that probably should be
out-of-scope to Uptane Standard (or Deployment Considerations).

Recovery from offline backups *always* requires the intervention
of one or more human administrators (otherwise, they're not really
"offline" backups).

In a OTA systems architecture team that I was part of in the past, the
Primary was responsible for

[2019-03-25 16:44] trishankatdatadog commented on #90
I concur with @iramcdonald

[2019-03-25 16:45] trishankatdatadog commented on #68
Of course, Lois. I can help with the figures later. Thanks so much for doing this! @jhdalek55

[2019-03-25 18:30] mnm678 opened #91 "Targets Metadata metadata about images"
At the top of Targets Metadata is its stated that targets metadata "MAY contain metadata about images on a repository". Later in the Targets Metadata section (under Custom Metadata) it says that "the Targets metadata file SHOULD contain extra metadata for each image on the repository". Is this a SHOULD or a MAY? Or are these statements referring to different metadata?

[2019-03-25 18:39] trishankatdatadog commented on #91
Yeah, this is partly what I meant in #71

[2019-03-25 18:46] iramcdonald commented on #68
Hi Lois,

Crosslinking:  In the recent SAE J3101 Hardware Protected Security
Environment Requirements
spec (120 pages), we finally removed *all* crosslinking by active links
and/or explicit section numbers
and replaced it with *names* of referenced sections only - we did this on
the advice of the SAE staff
technical writers (who will soon take over the J3101 draft for publication
in summer 2019).

[2019-03-26 07:52] patrickvacek commented on #68
The current crosslinking scheme for the Uptane standard works great IMO. You can link by section name or section number, and it is easy to maintain. For the deployment considerations, it seems essential to have crosslinking, especially if we deploy them as a website.

However, Lois, I understand that at the moment that shouldn't be the highest priority. I see no problem with you copying text as yo

[2019-03-26 08:30] patrickvacek commented on #90
Fair enough. I'd overlooked that the old Deployment Considerations do actually mention this explicitly in [section A.3](https://docs.google.com/document/d/17wOs-T7mugwte5_Dt-KLGMsp-3_yAARejpFmrAMefSE/edit#heading=h.h65c8rsw9cfw).

[2019-03-26 10:41] patrickvacek commented on #90
I made a PR to address these issues (https://github.com/uptane/uptane-standard/pull/92) but I still have a question about lengths. (See the PR for details.)

[2019-03-27 14:50] #90 closed

[2019-03-27 15:17] JosiahOne commented on #44
This was fixed in https://github.com/uptane/uptane-standard/pull/85

[2019-03-27 15:18] #44 closed

[2019-03-27 15:22] #69 closed

[2019-03-27 15:26] #76 closed

[2019-03-27 15:27] awwad commented on #31
A branch of code on [Uptane PR #171](https://github.com/uptane/uptane/pull/171) demonstrates this timeserver fast-forward attack resolution via timeserver key rotation.  The test code is visible [here](https://github.com/uptane/uptane/blob/59b4ca2900d1c21ede512ec985906afcfca11c14/tests/test_secondary.py#L864-L1085) and a test run showing the test succeeding is visible [here](https://travis-ci.org/

[2019-03-27 15:31] tkfu commented on #88
Closed--dupe of #53

[2019-03-27 15:31] trishankatdatadog commented on #88
I think this is related to #53, will clarify, thanks

[2019-03-27 15:31] #88 closed

[2019-03-27 15:31] trishankatdatadog commented on #53
Related to #88

[2019-03-27 15:44] awwad commented on #31
Before we can actually close issue, the [{check_time_primary}](https://github.com/uptane/uptane-standard/blob/762a92857bee6554d3d479e1f5b5b8e6a4857f68/uptane-standard.md#download-and-check-current-time-check_time_primary) section of the standard still requires clarification.  Specifically, as noted above:
- If a time attestation is verified, the device's time is updated.
- If a time attestation is

[2019-03-27 16:01] jhdalek55 commented on #31
Very early on in this discussion I said I would do something with this, but if you have the time, you seem to be better positioned to write it than me. I can wordsmith drafted text if needed.

[2019-03-27 16:02] jhdalek55 commented on #31
On the 3/27 Standards call, this issue was left open pending completion of text.

[2019-03-27 16:18] jhdalek55 commented on #76
This was closed on 3/27 after discussion on the Standards calls noted there had been no suggestions generated on the topic.

[2019-03-27 16:21] jhdalek55 commented on #69
This was closed as per the discussion on the 3/27 Standards conference call. The new copy will be reviewed as part of the roll-over of materials to Markdown files.

[2019-03-27 16:23] jhdalek55 commented on #44
Closed 3/27 after confirmation on the Standards conference call that the issue had been addressed in PR#85

[2019-03-27 16:25] jhdalek55 commented on #53
In our 3/27 conference call @trishankatdatadog  agreed to provide the needed copy.

[2019-03-27 16:27] jhdalek55 commented on #55
Update from 3/27 standards call @OTAINFO is working on this issue and will submit a PR.

[2019-03-27 16:29] jhdalek55 commented on #66
On the 3/27 standards call, it was noted that this is connected to PR#31 which is being worked on by  @awwad .

[2019-03-27 16:33] jhdalek55 commented on #68
On the 3/27 conference call @jhdalek55 reported that she has begun making this transfer and hopes toc complete it in the next week or so.. She met with @tkfu  and @patrickvacek after the regular to discuss a few issues related to this transfer.

[2019-03-27 16:34] tkfu commented on #55
@OTAINFO: Regarding your trouble with submitting a PR, there's documentation on how to use GitHub Flow to contribute content in the readme of this repository: https://github.com/uptane/uptane-standard#contributing

[2019-03-27 17:05] jhdalek55 commented on #91
on the 3/27 Standards call, @trishankatdatadog  agreed to address this issue.

[2019-03-27 17:48] jhdalek55 commented on #73
On the 3/27 standards call, @mnm678 reported that work proceeds on this issue.

[2019-03-27 17:55] jhdalek55 commented on #88
On the 3/27 standards call, @trishankatdatadog noted that this was related to Issue #53. This issue was closed as it will be addressed in the response to #53.

[2019-03-27 17:58] jhdalek55 commented on #89
On  the 3/27 conference call @patrickvacek agreed to review this issue this issue and open a PR.

[2019-03-27 17:59] tkfu commented on #89
That was actually me--we were just using the same microphone.

[2019-03-27 18:03] jhdalek55 commented on #89
Ok. Sorry about the confusion.

Lois

On Wed, Mar 27, 2019 at 1:59 PM Jon Oster <notifications@github.com> wrote:

[2019-03-27 18:17] jhdalek55 commented on #74
On the 3/27 Standards call, @trishankatdatadog agreed to make a few edits and then close this issue.

[2019-03-27 21:31] jhdalek55 commented on #31
I opened PR#93 to address the wording issue that remained in this issue. Please review and let me know if this is sufficient.

Lois

[2019-03-27 21:39] jhdalek55 commented on #73
As the profile is not a part of the Standards Document, does this issue need to be here, other than perhaps to remind us we should define the term? I can write such a definition tomorrow.

[2019-03-28 11:53] jhdalek55 commented on #31
@tkfu @trishankatdatadog  can one of you check this verbiage and approve so we can merge this and close out Issue 31? Thanks.

Lois

[2019-03-28 15:28] trishankatdatadog commented on #31
@jhdalek55 Looks like you guys are handling this already :)

[2019-03-28 16:45] #31 closed

[2019-04-01 23:12] jhdalek55 commented on #79
According to my notes from the 3/27 call, there was no resolution on this. If this is being addressed by TUF, do we need to keep this open?

[2019-04-02 16:07] jhdalek55 commented on #66
Question--Since issue #31  has now been addressed and closed, is there any need to keep this open?

[2019-04-02 16:58] awwad commented on #66
I think this is a separate issue:
I think the intention here was to extract all the timeserver material from the Standard and move it into the deployment considerations, making sure to leave only minimal requirements about assuring trustworthy time, probably pointing to the section of the deployment considerations that includes it.  Unless that has changed, I think this issue should probably remai

[2019-04-02 17:08] jhdalek55 commented on #66
Ok. But, perhaps then the intentions of this issue need to be reframed.
Maybe even just mark it for now as "Leave open pending establishment of
deployment markdown files."

I think it could be helpful if someone in the group could begin to
earmark what material should be removed from the Standard.

Thanks for the clarification.

Lois

On Tue, Apr 02, 2019 at 12:58 PM, Sebastien Awwad wrote:

I thi

[2019-04-04 09:19] tkfu commented on #79
We should leave this open, at least until there's a resolution upstream. I'll link an upstream issue soon.

[2019-04-04 15:47] tkfu opened #94 "An update check should not necessarily require sending a full vehicle version manifest"
In a vehicle with a lot of secondary ECUs, a vehicle version manifest can get very large very fast, especially if there is a lot of custom metadata. I'd like to make it optional to send a manifest as the first step in checking for an update. Instead, sending the manifest would only be a MUST when it changes.

In the common case, where there's no update, this would allow clients to check for an upd

[2019-04-04 16:00] tkfu opened #95 "In full verification, we require custom metadata from Director and Image repo to match, which is impossible"
This is mostly a housekeeping issue.

Currently, [full verification](https://uptane.github.io/uptane-standard/uptane-standard.html#full_verification) step 11.2.2 says "Check that the custom metadata (e.g., hardware identifier and release counter) are the same in both sets of metadata." This is impossible, because director custom metadata includes an ECU identifier, which by definition cannot exist

[2019-04-04 16:21] tkfu commented on #89
Regarding the first question, Uptane is pretty flexible about options for encrypted images. You might find, for example, that encrypting every image uniquely per ECU is overkill, but you still want some level of encryption. So, you decide to store an encrypted image on the director repo with some master key, send that decryption key to each individual ECU (encrypted with the ECU's key), and period

[2019-04-04 17:57] #89 closed

[2019-04-04 19:17] #36 closed

[2019-04-04 20:21] iramcdonald commented on #94
Hi,

In a past life, working with an OEM Systems Architecture team looking
at deployment of Uptane OTA, there was strong consensus that the
initial step of Manifest from vehicle before a Primary requests updates
from a Director had to be a MUST.

I would suggest Uptane keep the requirement for the Manifest (because
backend Vehicle Inventory databases could have defects), but support
for Custom Met

[2019-04-04 20:41] JustinCappos commented on #94
There isn't a requirement to send a complete manifest, right?  An ECU could
always just send a diff.  Each ECU does need to send *something* though, if
only to say that nothing changed for that ECU.

Justin

On Thu, Apr 4, 2019 at 4:21 PM iramcdonald <notifications@github.com> wrote:

[2019-04-04 21:30] awwad commented on #94
Just my $0.02, subject to inflation:
Timing and completeness of ECU manifests sounds less security-critical and more implementation-specific, which is why I've personally always thought of when they get sent as out of scope for Uptane, so long as _it happens sometimes_.  A Director can always make judgment calls about what it wants to see before it issues new metadata for a vehicle.

[2019-04-05 12:53] #95 closed

[2019-04-05 13:08] tkfu commented on #79
Closed by #98.

[2019-04-05 13:08] #79 closed

[2019-04-05 15:05] iramcdonald commented on #94
Hi,

Let me expand a bit here on rationale for a mandatory Manifest.

The OEM System Architecture team I collaborated with pointed out that
an ECU could be replaced or updated by an aftermarket shop without
the knowledge of the OEM backend.  The requirement for a full Manifest
was to allow re-sync of the backend Vehicle Inventory DB.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-

[2019-04-08 06:07] OTAINFO commented on #55
The data and messages are added. I will review it one more time and open a pull request.

[2019-04-08 15:15] jhdalek55 commented on #55
Thanks for completing this

Lois

On Mon, Apr 08, 2019 at 02:07 AM, OTAINFO wrote:

The data and messages are added. I will review it one more time and open
a pull request.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_uptane_uptane-2Dstandard_issues_55-23issuecomment-2D480696018&d=D

[2019-04-09 16:38] iramcdonald commented on #94
Hi Patrick,

I'm probably being naive here.

How would a *vehicle* know a priori that the OEM backend Vehicle Inventory
DB
was out-of-date?  The Uptane Primary wouldn't know if a service tool
(dealer or
independent) had reported/negotiated a firmware update with the OEM backend.

Also, if a Manifest is entirely left out in some circumstances, then there
are two
downsides:

(1) OEM Director logic h

[2019-04-10 15:16] tkfu commented on #68
Moved to https://github.com/uptane/uptane.github.io/issues/11.

[2019-04-10 15:16] #68 closed

[2019-04-10 15:22] #74 closed

[2019-04-10 15:52] jhdalek55 commented on #53
On  our 4/10 Standards call, it was noted that pull request #99 will addressed this issue. It is pending review of some wording and then this issue will be closed.

[2019-04-10 15:54] jhdalek55 commented on #55
In the 4/10 Standards call @OTAINFO reported that he has prepared a draft will be submitting a PR for this shortly.

[2019-04-10 15:56] jhdalek55 commented on #66
On the 4/10 Standards call, it was agreed to close this issue and open an issue noting the work is ongoing on the Uptane web site.

[2019-04-10 15:58] jhdalek55 commented on #66
On the 4/10 Standards call, @tkfu  agreed to submit a pull request to close out this issue.

[2019-04-10 16:20] jhdalek55 commented on #73
On the 4/10 Standards call, @tkfu agreed to open up a separate repo for issues related to profiles. This issue can then be closed as the profile language needed has been added to the Standard.

[2019-04-10 16:24] jhdalek55 commented on #91
On the 4/10 Standards call, @trishankatdatadog noted he was still working on this but will complete it shortly.

Lois

[2019-04-10 16:54] jhdalek55 commented on #94
On the 4/10 Standards call, it was noted that after some discussion on the issue page a consensus has been reached. @tkfu will submit a PR to add the needed language.

[2019-04-11 12:48] tkfu commented on #91
I'm reopening this because of my comment in #100.

[2019-04-17 16:12] jhdalek55 commented on #91
@trishankatdatadog @tkfu  can one of you let me know the status of this issue. Has the PR #102 mentioned above resolved the problem?

[2019-04-24 15:11] tkfu commented on #73
New repo opened at https://github.com/uptane/profiles

[2019-04-24 15:11] #73 closed

[2019-04-24 15:40] jhdalek55 commented on #53
On our 4/24 Standards call, it was agreed that this issue should be kept open for some additional discussion. Please review pull request #99 to see the most recent changes in content. @awwad  and @trishankatdatadog have made a number of changes, and additional comments are welcomed.

[2019-04-24 15:43] jhdalek55 commented on #55
On the 4/24 Standards Call, it was noted that a PR had been submitted, but the issue required a different approach. The Standards group is seeking a volunteer to submit a new PR to present this information.

[2019-04-24 16:19] jhdalek55 commented on #66
On the 4/24 Standards call, @tkfu agreed to complete work on this issue. See PR #104.

[2019-04-24 16:22] jhdalek55 commented on #91
On the 4/24 Standards Call, the confusion over PR#102 opening and closing was addressed. @tkfu will issue a new PR to close this out.

[2019-04-24 16:24] jhdalek55 commented on #94
On the 4/24 Standards call, @tkfu agreed to complete the work needed to close out this issue.

[2019-04-24 17:16] jhdalek55 commented on #73
Issue was closed based on the decision that Uptane will not officially host any profiles other than a sample.

[2019-05-02 21:46] jhdalek55 commented on #55
I posted a notice on the Uptane Forum asking for a volunteer to prepare these tables.

[2019-05-02 21:50] jhdalek55 commented on #53
Can we get some review and feedback on this issue, preferably before our next meeting? Thanks.

Lois

[2019-05-02 22:48] trishankatdatadog commented on #53
On Thu, May 2, 2019 at 5:50 PM Lois Anne DeLong <notifications@github.com>
wrote:

I am just too swamped at work, sorry. I'll try to see what I can do before
next meeting...

[2019-05-07 16:55] jhdalek55 commented on #55
The posting on the forum has so far attracted no volunteers. Can I ask the Standards members if one of you can take this on?

[2019-05-07 17:00] jhdalek55 commented on #66
Can we get a review on the PR cited above?

[2019-05-07 17:05] JustinCappos commented on #55
We could also just wontfix this.  I think this is of dubious value,
especially as the profile will contain the actual relevant information of
this type.

Justin

On Tue, May 7, 2019 at 12:55 PM Lois Anne DeLong <notifications@github.com>
wrote:

[2019-05-07 22:50] jhdalek55 commented on #66
Unrelated to the review of this pull request, I am transferring the last of the Deployment files to the setting up repositories page. There seems to be quite a bit in this section about the Time server. Should I bring in everything from the deployment document that mentions the Timeserver? And if there are pieces of the existing standard that plan to be brought in, if someone could suggest what pa

[2019-05-08 05:58] OTAINFO commented on #55
Hi Justin,

I think this ticket is important and would be willing to work with someone
to crack it out.  To get a clear path on this ticket, it will be good if we
can talk with OEMs or Update providers to OEMs and find out the current
update communication sequence and message contents. Using this information,
create a proposal for Uptane messaging requirements.

In my opinion, these tables will be

[2019-05-08 06:02] OTAINFO commented on #55
FYI: In my previous message "ticket" means "issue".

[2019-05-08 15:38] mnm678 commented on #55
I agree that the data and message tables would fit better for profiles than
the standard. Profiles are already required to have most of the information
that would be in these tables, and the table format might make it easier to
read and implement the profile. I can adjust the profile requirements to
include this.

-Marina

On Wed, May 8, 2019 at 9:15 AM iramcdonald <notifications@github.com> wrote

[2019-05-08 18:01] jhdalek55 commented on #53
On the 5/8 Standards call, @patrickvacek offered to review PR#99, which will close this issue.

[2019-05-08 19:05] trishankatdatadog commented on #53
On Wed, May 8, 2019 at 2:01 PM Lois Anne DeLong <notifications@github.com>
wrote:

Thanks, Patrick, much appreciated, sorry for dropping the ball on this.
Happy to help address comments.

[2019-05-08 19:53] jhdalek55 commented on #55
@sam-m-weber As you can probably tell from the lengthy discussion here, we have decided not to include the data and message tables proposed in the standard. Since you introduced this issue thread, the committee has developed the idea of using profiles, or a separate layer of customizable code, to specify protocol, usage, and formats. As such, each profile will require its own set of data and messa

[2019-05-08 20:06] jhdalek55 commented on #66
On the 5/8 Standards call, @JustinCappos  agreed to review PR #104 which would close out this issue.

[2019-05-08 20:08] jhdalek55 commented on #91
On the 5/8 Standards call, @patrickvacek noted that he believed this was still on @tkfu TODO list and that he will follow up with @tkfu .

[2019-05-08 20:10] jhdalek55 commented on #94
On the 5/8 Standards call, @patrickvacek noted that he believed this was still on @tkfu TODO list and that he will follow up with @tkfu .

[2019-05-09 21:01] sam-m-weber commented on #55
I'm afraid I don't understand the rationale behind this decision, especially the statement "Specific message flows and required metadata/data elements are very specific to implementations."

For example, when the specification states that the primary must "Send metadata to secondaries", clearly the message format and probably the addressing of the message(s) that are sent will be implementation-sp

[2019-05-09 21:15] JustinCappos commented on #55
Some parts are standard (and required).  Others are not.

The profiles are the place where details exist at a finer grained level
(which is more appropriate for this representation).  So, we've decided to
move it there.

On Thu, May 9, 2019 at 5:01 PM sam-m-weber <notifications@github.com> wrote:

[2019-05-09 21:16] #55 closed

[2019-05-09 21:22] iramcdonald commented on #55
Hi Sam,

In addition the profiles will list the actual set of implementation messages
(operations).

That is, the Uptane Standard will NOT specify the exact set of messages
or the complete ordering of message exchanges to accomplish the specific
functions.  Partly, this recognizes and embraces the existing divergence
of implementor choices in message sets.

Cheers,
- Ira

Ira McDonald (Musician /

[2019-05-15 13:13] #66 closed

[2019-05-16 01:53] #94 closed

[2019-05-18 22:37] #91 closed

[2019-05-22 18:24] tkfu commented on #53
On the 5/22 standards call, we agreed to close the existing PRs, and only include the 2-repo case directly in the standard. Guidance on how to implement more complicated setups will go in deployment considerations. @tkfu will put together a PR this week to do that.

[2019-05-28 06:16] allen-cain opened #109 "Redefine a "primary""
Current definition of a primary in the spec is: "A primary ECU downloads from a repository and verifies update images and metadata for itself and for secondary ECUs, and distributes images and metadata to secondaries. Thus, it requires extra storage space and a connection to the internet."

I believe the requirement for the primary to have a connection to the Internet does not allow for different

[2019-05-29 12:31] JustinCappos commented on #109
So part of the reason this is a fairly loaded suggestion is that by having multiple active primaries in a vehicle, there needs to be some mechanism for deciding which primary should update an ECU.  If multiple primaries might try to update the same ECU, this can lead to a host of mix-and-match-eque attacks.

What are your thoughts on the best way to handle this?  We discuss having backup primaries

[2019-06-03 18:00] trishankatdatadog commented on #109
What's our decision on this? Are you making a PR @allen-cain ?

[2019-06-03 18:05] jhdalek55 commented on #109
See PR#112

[2019-06-05 15:28] #53 closed

[2019-06-14 17:58] tkfu commented on #109
Closed by #112

[2019-06-14 17:58] #109 closed

[2019-06-19 16:12] plapczyn opened #116 "[Minor Issue] Inconsistent capitalization of "Image", "Director", and "Target" repositories"
It seems to be about 50/50 that we capitalize "Image" "Director", and "Target" when talking about the repositories. We should make a decision one way or another and make the document consistent.

[2019-06-19 16:18] jhdalek55 commented on #116
I agree. I actually did a pass sometime back and capitalized these terms
throughout (as they really are proper nouns). But I'm assuming as new
additions were made that the consistency was lost.

I think they should be capitalized, but if it reads like overkill, we can
change them. The key as you state is to be consistent. I can take care of
this once I know the will of the group.

Lois

On Wed, Ju

[2019-06-19 17:13] plapczyn opened #118 "Grammar and spelling fixes"
I created a pull request #117 for some minor fixes. I suspect that most of these will be non-controversial.

[2019-06-19 22:20] iramcdonald commented on #116
Hi Phil and Lois,

I strongly agree that these always be capitalized.  They're fundamental
entities in any Uptane implementation.  I also strong feel that Primary
and Secondary should always be capitalized.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Se

[2019-06-24 15:24] mcvand opened #119 "Misc clarifications needed"
Section 2.2.
Primary/Secondary ECUs: Terms used to describe the control units within a ground vehicle. **A primary ECU** downloads and **verifies update images and metadata for itself and for secondary ECUs**, and distributes images and metadata to secondaries. Thus, it requires extra storage space and a means to download images and metadata. **Secondary ECUs** receive their update images and meta

[2019-06-24 15:38] jhdalek55 commented on #116
If we are agreed that Image, Target and Director should always be capitalized, I can probably do a pass early this week and correct all these. Should I change Primary and Secondary as well, as per Ira's suggestion?

[2019-06-24 15:45] iramcdonald commented on #116
Hi,

Rationale:  Primary and Secondary are the client ends (Secondary indirectly
via Primary) of all transactions with the Director and Image Repository (who
are the server ends).  Therefore they should be titlecase (first letter
capped).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linu

[2019-06-24 16:00] jhdalek55 commented on #119
@trishankkarthik,  @patrickvacek, @plapczyn can one or several of you jump here and review these clarifications?

[2019-06-25 07:07] patrickvacek commented on #119
Yes, doubly verified. In the full verification case, they are essentially the same verification. In the partial verification case, it is different, which may be why there is some ambiguity here. What is your concern? I'm not sure if I've understand what you mean by needing a "metadata definition".

Yes, this is a complicated scenario. IIRC this is mentioned in the deployment considerations. (If it

[2019-06-25 12:16] iramcdonald commented on #119
Hi,

I agree with Patrick that it's too late too make substantial changes
to Uptane Standard v1.0.  I also think that discussion of many use
cases belongs in the Deployment Considerations.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-IST

[2019-06-25 12:18] trishankkarthik commented on #119
(Sorry, I'm OOO this week... thanks for covering for me!)

[2019-06-25 16:47] JustinCappos opened #120 "Support updates that are not bound to an ECU in very limited cases"
Having updates that are bound to a specific ECU prevents a director's metadata from being replayed by a malicious party.  However, there are some circumstances where it is desirable for piece of director metadata to be used by many ECUs across different vehicles.

For example,
1) location focused updates (e.g., maps).   --- Note, this could be a situation where having a third repository sign metad

[2019-06-25 22:09] jhdalek55 commented on #116
Fine. I'll take care of this.

Lois

[2019-06-25 23:31] mcvand commented on #119
Thank you very much for your response Patrick.
Fully agree it would be too late for changes. Answers are satisfactory and will watch for the opportunity to put them into the Deployment considerations when the time comes.

​​​​​
Thanks,
Michaela~

From: iramcdonald <notifications@github.com>
Sent: Tuesday, June 25, 2019 5:17 AM
To: uptane/uptane-standard <uptane-standard@noreply.github.com>
Cc: Mic

[2019-06-26 16:07] zabbal opened #121 "Clarify "download and verify images" language"
In "Download and verify images" subsection spec says:
"There may be several different filenames that all refer to the same image binary, as described in {{targets_meta}}. The primary SHALL associate each image binary with each of its possible filenames."

1) I think this should actually refer to #metadata_filename_rules because that's where bit about different names for the same file is actually c

[2019-06-26 18:24] mcvand commented on #119
Agreed in 6/25 mtg to add definition of metadata from NIST (https://csrc.nist.gov/glossary/term/metadata) but those are either circular or not directly applicable.  Suggest this, veterans please correct: "Information associated with a role or an image, containing characteristics or parameters thereof: e.g. cryptographic material parameters, file names and versions."

 Also agreed to slightly modif

[2019-06-26 18:43] iramcdonald commented on #119
Hi Michaela,

Thanks very much for your careful reading of the Uptane Standard draft!

I like your suggested definition of metadata within the context of Uptane.

But, the US NIST Glossary definition at:

  https://csrc.nist.gov/glossary/term/metadata

doesn't look circular or inapplicable to me:

  "Information describing the characteristics of data including, for
example, structural
metadata des

[2019-06-26 18:48] mcvand commented on #119
Hello Ira,

Glad you find the NIST one applicable (the “syntax” and “info security labels” seemed strange to me).
About the circular nature: the NIST definition of metadata contains 2 counts of the word “metadata”.

Thanks,
​​​​​
Michaela Vanderveen
Senior Standards Manager
Mobile +1 (925) 596-8608
Office +1 (925) 242-8563
Email: mivanderveen@blackberry.com<mailto:mivanderveen@blackberry.com>

[ht

[2019-06-26 18:55] iramcdonald commented on #119
Hi Michaela,

I was thinking of "syntax" as being very important in POUF profiles of
Uptane
implementations.

While the NIST definition of metadata contains two instances of metadata,
those are in *examples* of classes of metadata - which seemed like useful
examples to me, because we use the word metadata in both of these senses
in various parts of the Uptane Standard.

Cheers,
- Ira

PS - Running

[2019-06-28 18:35] jhdalek55 commented on #121
Can we get some feedback on this and if one or two are in agreement we can ask Max to do a pull request.

[2019-06-28 20:41] jhdalek55 commented on #119
I can add this definition as I'm making at capitalization changes.

[2019-06-29 13:56] iramcdonald commented on #121
Hi,

I agree with all of Max's comments.  The current text is obscure
and would lead to inconsistent implementations.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Prot

[2019-06-29 14:10] iramcdonald commented on #119
Hi Lois,

Thanks.

Capitalization:  Conformance keywords (MUST, SHALL, SHOULD,
and *MAY*) must be all-caps throughout.  In addition, by IETF BCP 14
rules, they must not be used in lowercase anywhere.  In particular,
*MAY* is probably still misused in lowercase.  IEEE-ISTO PWG and
others use "could" or "can" to replace lowerocase "may" where it was
not meant to specify a formal conformance option.

[2019-07-01 15:14] zabbal opened #123 "Clarify image encryption being optional"
Just a minor note: everywhere throughout the spec we talk about image encryption as being optional (which I think is the right thing - not every deployment needs it).  Yet in Sec. 4.3 we describe eavesdropping as part of our threat model. Should we explicitly mention there that eavesdropping attack is not necessarily considered as a threat for every deployment?

[2019-07-01 16:59] #118 closed

[2019-07-02 20:10] jhdalek55 commented on #116
PR#125 takes care of this concern.

[2019-07-02 20:14] jhdalek55 commented on #119
PR#125 adds the definition of metadata discussed in this issue. I believe we agreed the other issues here would be moved to the pending deployment issues list. @mcvand, if you want to summarize the other concerns touched on here, I will add them to my offline deployment issues list until our deployment materials have a new home.

[2019-07-02 20:17] mcvand commented on #119
Yes, we agreed that the other issues raised in #119 can be addressed in the deployment considerations later. Thus yes, the offline issue list you are keeping is a good place for now.
Should I close this issue now myself or can you?

​​​​​
Thanks,
Michaela~

From: Lois Anne DeLong <notifications@github.com>
Sent: Tuesday, July 2, 2019 1:15 PM
To: uptane/uptane-standard <uptane-standard@noreply.gith

[2019-07-02 20:21] jhdalek55 commented on #119
I'm not sure I can close it. I guess you can try, as the creator, but maybe wait till after tomorrow's meeting. Since I referenced this issue in my PR I'm not sure how that might be affected if you close this now. It probably has no effect, but don't know enough about github to be sure.

[2019-07-02 21:42] #121 closed

[2019-07-03 15:26] zabbal commented on #120
I think it might make sense to split this into 2 issues because the 2 use-cases are vastly different:
- the factory ECU is something which happens once, it's the same kind of image which Uptane normally handles
- maps update is something which happens regularly, it's not firmware-related etc.

I think those should be discussed separately as they might have different fesibility, security requiremen

[2019-07-03 19:37] jhdalek55 commented on #116
This issue can now be closed via PR#125.

[2019-07-03 19:38] jhdalek55 commented on #119
This issue can now be closed via PR#125

[2019-07-03 19:43] #116 closed

[2019-07-03 19:44] #119 closed

[2019-07-03 21:29] sam-m-weber commented on #55
Although I don't want to continue beating a dead horse, I'm still puzzled about how the security audits were performed without this information.  Perhaps I could get a copy of said audits, and this will clarify things?

The NCC's audit is on the website, and SWRI's audit was sent on the mailing list, so I have those.  It doesn't look like Cure53's audit is on the website however, so could I get a

[2019-07-03 22:28] JustinCappos commented on #55
You can find the Cure53 audit here:  https://theupdateframework.github.io/audits.html  I don't recall any SEI audit, but may have forgotten.

It isn't that the auditors didn't have this information.  They read the code and/or spec to get this information.

Also, in the future it is probably best to send a message to the list to ask basic questions.  We have a general rule not to add to obsolete is

[2019-07-08 20:04] jhdalek55 commented on #123
Just to clarify because my notes on this point are incomplete---is this issue being moved to a later version, or are we doing something with it in the deployment document?

[2019-07-08 20:52] iramcdonald commented on #123
Hi Lois,

Hmm...

There are two separate uses of encryption here:

(1) Used in the (hopefully) TLS/1.2+ transport layer connections, to
absolutely
prevent eavesdropping (and thus easy reverse engineering) of update images
on the wire to the vehicle (and to Image Repository and elsewhere in the
back
office servers from Suppliers and OEM Quality Control folks).

(2) Used in the individual update ima

[2019-07-08 21:12] jhdalek55 commented on #123
Thanks, Ira. I was thinking we had deflected this question to a later version or to the Deployment document, but if we can address it in the Standard, so much the better.

[2019-07-10 15:43] #123 closed

[2019-07-26 16:08] mnm678 opened #129 "Clarify that delegations MUST be supported"
The description in Metadata about Delegations sounds like support for delegations is a MAY, when instead support for delegations is required, but each Targets metadata file MAY include delegations.

[2019-07-29 07:01] patrickvacek commented on #129
Closed by https://github.com/uptane/uptane-standard/pull/130.

[2019-07-29 07:01] #129 closed

[2019-09-05 12:14] patrickvacek opened #135 "Deployment considerations URL is broken"
Try going to https://uptane.github.io/uptane-standard/uptane-standard.html#DEPLOY and follow the link to https://uptane.github.io/deployment/introduction.html. Should we fix that URL to redirect to https://github.com/uptane/deployment-considerations, or should we change the URL in the standard?

While we're at it, most of the time that the deployment doc is mentioned in the standard, it is not cit

[2019-09-05 13:57] jhdalek55 commented on #135
First off, thanks for picking this up, Patrick.
Obviously we have to fix the broken link. The question at this point is which of the two links should it point to at this time--the stable, but perhaps a bit out of date Google doc, or the very much in progress repo. My inclination is towards the latter, but given that the layout of the repo is still very raw, the stable document is probably a better

[2019-09-05 14:00] iramcdonald commented on #135
Hi,

I disagree Lois.  A standard should only point to stable documents.  So the
"old"
Deployment Considerations should be the corrected link in the standard.

Patrick - thanks for finding this rather important flaw.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Prin

[2019-09-05 14:06] jhdalek55 commented on #135
Actually we really do agree, Ira. I said my inclination was to point to the repo but my recommendation was the stable doc. Sorry if my engaging in a bit of rhetorical argument structure obscured my meaning.

Lois

[2019-09-09 17:04] #135 closed

[2019-09-25 18:34] mnm678 opened #143 "Unique Value in Version Report to Prevent Replay"
ECU version reports need an element that is guaranteed to change each update cycle. However, ECUs may have a fairly inaccurate source of time that does not change with every version report. If the time is not guaranteed to change, some other element, such as a counter or nonce, must be included in the version report. The director should check this element to ensure the version report is not replay

[2019-09-26 14:40] iramcdonald commented on #143
Hi Marina,

Looks fine to me.

Note that a counter is actually preferable to a random nonce, because
it makes ECU Version Manifest sequence correlation straightforward
(for Audit Trail logging).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IE

[2019-09-30 21:44] allen-cain commented on #143
Hi @mnm678 -

Thank you for this comment.

I have a couple of comments/questions:

Current v1.0 spec Section 5.4.2.1.2 indicates a _'cryptographic_ nonce' and _'latest known time'_ is included in the payload.
`     Is your proposal to change _'cryptographic nonce'_ with _'counter'_, -or- to add more detail as to the use of the cryptographic nonce, -or- to add a _'counter'_ as an addition required

[2019-09-30 22:04] mnm678 commented on #143
@allen-cain

In the case that the Time Server is used, your description is accurate. The nonce is used for the time server and can be used to prevent a replay.

The concern (as I understand it) is that in cases where the Time Server is not used a cryptographic nonce is a lot of overhead for ECUs. A counter would also suffice to prevent a replay attack.

So the proposal here is to update the standa

[2019-10-01 00:03] iramcdonald commented on #143
Hi,

Marina summarized the thinking very well.

Let me amplify by saying that the IETF NTP WG is approaching
finalization of NTS for NTP, which will give high security to NTP
and would be *far* preferable to any Uptane-specific Time Server.

ITU-T, ETSI, ISO, and others will certainly adopt Secure NTP
(including in the automotive software update standards), so the
useful lifetime of the Uptane Tim

[2019-10-07 14:55] jhdalek55 commented on #143
Marina, do you want to do a first pass at creating a pull request for this topic that incorporates Ira's comments? The discussion certainly can continue here, but I think it can be better addressed by trying to get the essence of this issue into actual words.

Thanks

Lois

[2019-10-10 16:14] #143 closed

[2019-10-21 10:32] tkfu opened #145 "Migrate standard generation to Metanorma"
The [Metanorma](https://www.metanorma.com/) project looks really promising; let's think about migrating the standard document to that format for future releases.

[2019-10-29 17:11] jhdalek55 opened #146 "Adding Out of Scope items to the Standard"
Per @cajun-rat
I noticed this line in the "Out of Scope" items for Uptane "Malicious
mirrors of package repositories, which may substitute original packages
with malicious packages with matching version numbers."Is there a
description of the cases where that vulnerability is 'real'?

Also, we never seem to explicitly talk about compromise of the ECU
software. I think this is clearly out of scope,

[2019-10-29 20:13] tkfu opened #147 "Bug: Standard currently requires all metadata to be downloaded on each update check"
As currently written, the standard says that all four metadata files from both repositories must be downloaded every time a vehicle checks for updates. This shouldn't be necessary:

* When we download the timestamp metadata, it contains a hash of the snapshot metadata file; if the current snapshot file we have on disk matches that hash, we don't need to re-download it.
* Similarly, the snapshot me

[2019-10-29 20:16] tkfu commented on #147
Note that this is an important issue for automotive OEMs, especially U.S.-American ones; minimizing mobile data transfer is often a key concern when evaluating any connected car services. Top-level targets metadata, especially, can sometimes be quite large depending on repository management and delegation choices.

[2019-10-29 20:48] trishankatdatadog commented on #147
Yeah, this should be clarified.

[2019-10-29 23:01] iramcdonald commented on #147
Hi,

I agree with Jon's rationale and Trishank's assent.  This should
be clarified.

Now that the IEEE-ISTO Uptane Alliance project has concluded,
all errata should be published through the Uptane website and
the Linux Foundation/JDF.  We should ask Justin about how to
proceed, since our JDF project is still formation in-progress.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Cha

[2019-10-30 10:48] patrickvacek commented on #147
A third point that we discussed but isn't mentioned here: there's no need to download anything from the Image repo if the Director indicates there are no new updates to install.

[2019-10-30 10:55] JustinCappos commented on #147
It may not be the most important thing but downloading the image repo's timestamp and snapshot is still helpful from a security standpoint in this case.  It helps to prevent / limit mix-and-match attacks later...

[2019-10-30 11:08] tkfu commented on #147
That could be a MAY or a SHOULD though, right? Or left to deployment considerations?

[2019-11-06 16:41] jhdalek55 commented on #147
i think actually two things require actions here. The first is correcting the error and the second is how we post the errata.

@tkfu would you be able to write up the PR to address the former? And can @JustinCappos and/or @iramcdonald suggest how we handle the errata?

[2019-11-21 18:31] jhdalek55 commented on #146
Re-reading this, it seems that there are two issues here. One has to do with adding an out-of-scope item. The other seems to be asking if a use case can be be provided to prove whether a listed out of scope item is a real vulnerability. Can someone address one or the other of these issues?

[2019-11-26 10:58] patrickvacek opened #149 "Snapshot check for Targets metadata filenames"
Step 6 of https://uptane.github.io/uptane-standard/uptane-standard.html#check_snapshot (How to check Snapshot metadata) reads "Check that each Targets metadata filename listed in the previous Snapshot metadata file is also listed in this Snapshot metadata file. If this condition is not met, discard the new Snapshot metadata file, abort the update cycle, and report the failure. (Checks for a rollba

[2019-11-26 11:12] patrickvacek commented on #149
Further information: TUF also has the same requirement, but whereas Uptane says nothing about delegation revocation, TUF says (in 2.1.2 Targets role), "Any delegation can be revoked at any time: the delegating role needs only to sign new metadata that no longer contains that delegation." However, as currently written, the Snapshot metadata would still have to list that delegation indefinitely, des

[2019-11-26 15:17] JustinCappos commented on #149
The problem here relates to an attacker that tries to do a rollback attack as follows:

1. target foo is version 8 and attacker wants to roll it back to version 1.  Snapshot lists foo version 8

2. A new snapshot is listed with foo removed.  ECUs update and remove the old snapshot metadata, losing information about what the version of foo should be.

3. A new snapshot is listed with foo version 1.

[2019-11-26 15:42] zabbal commented on #149
I think this is one of the cases which has to be part of uptane-tests - it's easy enough to overlook during implementation yet it's a realistic attack scenario.

[2019-11-27 13:59] patrickvacek commented on #146
I agree that there are two issues. I've attempted to address the second one in https://github.com/uptane/uptane-standard/pull/150. As far as the other one (about malicious mirrors), the line that @cajun-rat quoted from includes a link to the Mercury paper, which describes the attack in section 5.6. Is that good enough?

[2019-11-27 16:54] jhdalek55 commented on #146
I'll leave it to others to address your pull request. I'm fine with your suggestion for the second portion.

Lois

[2019-12-02 18:41] mnm678 commented on #146
I agree that the link to the Mercury paper is sufficient for demonstrating the vulnerability. The other part of this issue can be addressed with @patrickvacek's pull request.

[2019-12-03 08:20] patrickvacek commented on #146
Closed by #150.

[2019-12-03 08:20] #146 closed

[2019-12-09 04:12] jhdalek55 commented on #149
@zabbal Can you perhaps present this as an issue to address on the Test repo pages? Thanks.

[2019-12-09 04:15] jhdalek55 commented on #149
And, if the attack @JustinCappos  mentioned is dealt with in the Test document, is a further change needed in the Standard?

[2020-01-03 12:47] patrickvacek commented on #147
I've pushed a [PR with a fix for this](https://github.com/uptane/uptane-standard/pull/151), with the optimizations given as MAYs to accommodate @JustinCappos's suggestion that downloading the Image repo's Timestamp and Snapshot may actually be useful. However, I realized the top-level targets metadata file is not currently possible. Please see the PR for details.

[2020-01-03 13:00] patrickvacek opened #152 "Does partial verification require Root metadata?"
The standard is currently inconsistent about whether partial verification on a Secondary requires Root metadata. For example:

* Section 5.4.1.1 item 1 ([Build-time prerequisite requirements for ECUs](https://uptane.github.io/uptane-standard/uptane-standard.html#build-time-prerequisite-requirements-for-ecus)) reads "Partial verification ECUs MUST have the Root and Targets metadata from the Directo

[2020-01-03 17:08] jhdalek55 commented on #149
This issue has been sitting here for about a month-plus. @patrickvacek how should we move forward? Should we address this in the test document, or do we need a change in the Standard itself?

[2020-01-03 18:13] jhdalek55 commented on #120
This issue was tabled shortly before we finalized the Standard. @JustinCappos, do you still believe its an issue that requires addressing? If so, how should we move forward with this?

[2020-01-04 20:43] #147 closed

[2020-01-04 20:50] JustinCappos commented on #120
I'd like to discuss this issue in a forthcoming meeting.  I'd like us to have smaller discussions over a few weeks and on this list as it seems this is more contentious and so I don't want to rush this through.

I understand the use cases are different, but we happen to use a common mechanism in TUF to address both cases.  The fact that we decided in Uptane not to support this actually surprised m

[2020-01-05 02:25] jhdalek55 commented on #120
We can open this discussion at our Tuesday meeting and then continue it on the discussion threads, here or on the mailing list.

The agenda already has time allocated for brainstorming the next set of work to be done on the standard, so please bring this up.

Lois

[2020-01-05 22:43] iramcdonald commented on #120
Hi,

Third use case (from IEEE 1609 WAVE/DSRC):

Current local policy updates (triggered by geolocation changes which also
*sometimes*
already trigger maps updates in current vehicles).   Cross a state or
national border and
vehicle laws and regulations change.   So do the automotive safety
infrastructure
authoritative servers for ITS registration and root certificates.

Cheers,
- Ira

Ira McDonal

[2020-01-06 08:41] patrickvacek commented on #149
If I recall our last conversation on this topic correctly, the currently best practice is indeed to leave deleted/revoked delegations in the Snapshot metadata. Otherwise, there is no easy way to prevent a rollback attack that abuses the revocation functionality. I'm interesting in finding a resolution to this, but I don't have a solution in mind. @JustinCappos may have thought about this more and

[2020-01-06 15:45] jhdalek55 commented on #149
Ok. I'm not looking to shut the issue down. But, there hadn't been any discussion in a while, so I thought a little prodding was necessary.

[2020-01-06 16:14] JustinCappos commented on #120
So is this something where both updates need to have already been
downloaded and the system should switch to the right version?  Is this
something where one would keep wiping and reinstalling as you cross state
lines?

On Sun, Jan 5, 2020 at 5:43 PM iramcdonald <notifications@github.com> wrote:

[2020-01-06 16:25] iramcdonald commented on #120
Hi Justin,

From my IEEE 1609 colleagues, I think the typical mode would be wiping
and reinstalling policies/regulations as you cross state or national
borders.

This is a current topic in IEEE 1609, because it would be desirable that the
actual ITS registration and root certificate servers would already be known
by the vehicle (although that obviously falls apart if you ship your vehicle
by boat

[2020-01-06 20:54] trishankatdatadog commented on #149
Wasn't this issue resolved elsewhere, where we said that if you use `root` to rotate the `timestamp` and `snapshot` keys, you can reset everything back to 1, and you can also delete revoked delegations?

[2020-01-07 09:50] patrickvacek opened #153 "How to prevent infinite root.json fetches?"
In section 5.4.4.3 ([How to check Root metadata](https://uptane.github.io/uptane-standard/uptane-standard.html#check_root)), we continue to check for new versions of root.json until the server stops providing them. What if a server were to act maliciously and continue to provide new versions infinitely? Should we enforce a limit to the number of possible root versions, or the number accepted in on

[2020-01-07 10:15] patrickvacek commented on #149
That sounds reasonable, but it doesn't entirely mitigate the attack that @JustinCappos had described above. You could still (accidentally or intentionally) rollback a delegation to an earlier version with the new Snapshot.

[2020-01-07 15:30] JustinCappos commented on #152
The root metadata isn't used by partial verification ECUs.  I think this is an error that should be fixed.

[2020-01-07 15:48] JustinCappos commented on #153
If an attacker can provide signed, valid versions of root metadata you have a bigger problem than someone generating a lot of files to update.  The root keys are kept offline so there is a manual process to make a change addition.  I can't see a way where this could happen in practice assuming they're managing keys and deploying Uptane according to the guidelines.

I'd mark this wontfix if we had

[2020-01-07 15:48] #153 closed

[2020-01-07 15:57] trishankatdatadog commented on #153
In the reference implementation, we set an [upper bound to the number of root key rotations](https://github.com/theupdateframework/tuf/blob/a6314a0ea27faf1300ec6732ae5a03555463dddd/tuf/settings.py#L111-L113).

[2020-01-07 17:41] trishankatdatadog commented on #149
@patrickvacek That is only possible if: ECUs delete revoked delegations if they are missing from any new `snapshot` (which is not what the TUF specs says to do), or if attackers have enough `root` keys to rotate `timestamp` and `snapshot`, no?

[2020-01-08 09:15] patrickvacek commented on #149
Yeah. So I think this falls into the category of "not your biggest concern in this scenario" since if the attackers have root keys they can basically do anything with the repo.

Okay, I think I'm satisfied here. So basically, if you rotate the Timestamp and Snapshot keys (and push new Root metadata with the new keys), you can clear out revoked delegations in the Snapshot and the ECU should respect

[2020-01-08 15:46] trishankatdatadog commented on #149
@patrickvacek Yes, I think a clarification would be a great idea. Would you mind terribly much sending a quick PR, and I will be happy to review and merge? Thanks!

[2020-01-15 16:12] #149 closed

[2020-01-30 17:29] jhdalek55 opened #156 "Goals for Version 2.0.0"
On our 1/21 call we spent some time discussing versioning issues and whether we were ready to set a timetable for our next major and minor releases. It was decided that, as a group, we should set some goals for what our next major release (V.2.0.0) should include. This thread has been opened to initiate that conversation. We will be discussing these goals in upcoming phone meetings, but you can us

[2020-01-30 17:37] jhdalek55 commented on #152
At our 1/21 phone meeting, the discussion was that there was a broader issue at work here that required further discussion. Can someone on this thread define the bigger picture to be addressed so we have a basis to continue this discussion, both here and in our next meeting? Thanks.

[2020-01-30 20:36] DaveNew02 commented on #120
I'd like to ensure that folks are not thinking about an "either/or" situation, where only 1) or 2) is loaded.  In particular, when approaching a (e.g.) state line, it would take some time (>0) to download a change, so both of them must reside in the target ECU for some (>0) time.  That places requirements on the ECU to hold multiple images.  Maybe this is already assumed for FOTA (Firmware Other t

[2020-01-30 21:19] iramcdonald commented on #120
Hi Dave,

Thanks for your good observations.

ETSI, ITU-T, and ISO standards committees are now describing these
border crossing use cases in ITS (Intelligent Transportation System)
standards.  ISO and IEEE 1609 folks are looking into scalable data
distribution protocols and architectures for these large lumps of data
that will have important safety considerations.

Cheers,
- Ira

Ira McDonald (Mu

[2020-02-04 15:14] zabbal commented on #156
The #120 seems like rather natural fit.

[2020-02-04 15:23] cameronmott commented on #120
Use cases for consideration:

1. SCMS Certificate Revocation List
The current implementation for SCMS requires a Certificate Revocation List, which needs to be distributed to all vehicles. Certain (multiple) entities need to have the authority to update the list with misbehaving certificates. The CRL could be distributed by regional DOTs to vehicles that are traveling in their region. Additionally

[2020-02-07 08:14] patrickvacek commented on #152
I made [an issue in the Deployment Considerations](https://github.com/uptane/deployment-considerations/issues/40) that explains the broader issue that I'm interested in.

However, while reviewing the existing text of the Standard, I realized that I still think there is an inconsistency in the text, which is explained in my [comment here](https://github.com/uptane/uptane-standard/pull/154#discussio

[2020-02-12 18:56] jhdalek55 commented on #120
Thanks for the input @cameronmott. Can we perhaps get a re-statement of this issue to incorporate all the topics this thread has embraced? Or if we might be talking multiple issues here, could we perhaps separate them into different issues?

Lois

[2020-02-13 07:51] zabbal commented on #120
I think it's better to create separate issues and link them to this one. Unless we're absolutely sure that all those distinct use-cases would be fixed using exactly the same change to the spec.

[2020-02-18 15:16] tkfu opened #157 "Render unofficial release version and post to website"
We need to:

* Tag one particular commit as **1.0.1**
* Render HTML, plaintext, and PDF versions of this document
* Post those to uptane.github.io, along with a notice that this is an unofficial version

[2020-02-18 15:22] tkfu commented on #152
Standards call on 18.02.2020 concluded that we should add some clarification to the standard on this point, as well as give some more examples in deployment considerations.

[2020-02-18 17:26] jhdalek55 commented on #157
I checked with Justin and we are free to unofficially post Uptane 1.0.1 under our repo whenever we are ready.

[2020-02-27 17:13] jhdalek55 commented on #120
@zabbal can you or perhaps @JustinCappos or @cameronmott either rephrase this issue or divide it as suggested above? I think a re-clarification of what we are trying to resolve might help us move forward on this.

[2020-02-28 09:47] zabbal commented on #120
@JustinCappos could give a reference to the TUF spec to put this into context? Also, what should be changed in Uptane to "port" it from TUF?

[2020-03-03 15:19] patrickvacek commented on #152
Closed by https://github.com/uptane/deployment-considerations/pull/42 and https://github.com/uptane/uptane-standard/pull/158.

[2020-03-03 15:19] #152 closed

[2020-03-03 16:37] jhdalek55 commented on #120
On the 3/3 Standards call, we decided we needed the reference from the TUF spec before we could decide if we are dealing with one or multiple issues here. @JustinCappos can you provide this reference at your earliest convenience?

[2020-03-04 18:34] #157 closed

[2020-03-06 00:37] trishankatdatadog commented on #120
ECU identifier

[2020-03-12 17:13] jhdalek55 commented on #145
@tkfu we have never talked much about this project. Do you think its worthwhile raising a discussion at or next meeting about moving to a different format for our work?

[2020-03-12 20:40] cameronmott commented on #120
Along the lines of considering options, the spec could allow for an ECU to have a universally accepted ID/serial number that would be used instead of the unique ECU identifier. This "global" ECU identifier would be used by entities that do now know what ECUs should be receiving the update, and instead would like all of the ECUs to receive and verify an update.

[2020-03-12 21:20] JustinCappos commented on #120
When I first read this, I really liked this idea and had written a post
about how this might work but in that process I think I may have found a
problem.  If the director key is trusted to also sign things with this
special ECU ID, then this defeats the security properties we want to have.
If the director key isn't trusted, then you're effectively just doing the
same as this proposal by having a t

[2020-03-13 07:14] tkfu commented on #145
I actually started looking into this last week, but got busy with other things before I managed to get a prototype. I'd say leave this open (but dormant) for now, and I'll let you know when there's some development so we can discuss.

[2020-03-13 09:39] zabbal commented on #120
If we get back to the ticket description, it mention 2 cases: the former assume constant, repetitive updates while the latter is "once and very early in a lifetime of ECU" kind of update.

Can we address the latter by introducing special version-related rules without breaking security properties? Smth like "this (targets?) role is trusted to sing special/missing ECU ID update only if the version =

[2020-03-13 12:16] trishankatdatadog commented on #145
What are the key differences between Metanorma and what we're using now?

[2020-03-17 14:28] tkfu opened #161 "How should we handle updates that are location-focused?"
There are certain types of updates, like maps, rules-of-the-road, or emergency traffic notifications, that are relevant to vehicles based on their specific location. How can Uptane be extended to help secure these use cases?

Note: this issue is split off from #120 to consider the location-specific use case. Discussion of the factory flashing/updating use case for non-ECU-targeted updates continue

[2020-03-17 14:30] tkfu commented on #120
Further discussion of the location-specific, on-the-road cases should be moved to #161; we'll continue to discuss the "once and very early in a lifetime of ECU" use case here.

[2020-03-18 02:36] kyusuk commented on #161
Interesting topic. By the way, maps and rules are static, while emergency traffic notification is dynamic and needs real-time communication. We may need to consider Uptane principle for data stream for later case.

[2020-03-18 07:49] patrickvacek commented on #161
I don't agree. The *might* be static, and it's true that emergency notifications are likely to change more quickly and perhaps demand a higher level of dynamic control, but maps and rules can absolutely change over time.

[2020-03-23 16:40] zabbal commented on #120
On a related note, I'm curious about Section 5.4.4.6 - https://uptane.github.io/papers/ieee-isto-6100.1.0.0.uptane-standard.html#rfc.section.5.4.4.6

In particular Step 4: "Check that the version number of the previous Targets metadata file, if any, is less than or equal to..." - could we use "if any" bit for this issue? Or the case of unversioned Targets/Snapshot/Timestamp metadata is intended fo

[2020-03-31 14:59] patrickvacek commented on #161
To summarize some of our discussion on the call and my understanding:

* There might again actually be two issues issues here:
1. Emergency government override, which should have a higher authority than the OEM. This may require two Directors (one from the government and one from the OEM) or this may be outside of Uptane as we know it.
2. Maps, rules-of-the-road, or other non-emergency information

[2020-03-31 15:01] patrickvacek commented on #120
To summarize some points from the call:

1. The "if any" refers to whether their was a previous Targets metadata file. There might not be one the first time that you receive such a file. Still, your point stands that an absent version or version of zero could have a special meaning, presumably if and only if there is no previous Targets metadata file, or the previous version also lacks the version

[2020-03-31 15:50] iramcdonald commented on #120
Hi,

RFC 5870 defines the "geo:" URI scheme and should be used
as the basis for vehicle location metadata:

https://tools.ietf.org/html/rfc5870

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO

[2020-03-31 16:53] JustinCappos commented on #161
The emergency government override isn't in scope here.  It would be a
separate issue (multi-director / image repo) as you correctly pointed out.

On Tue, Mar 31, 2020 at 10:59 AM Patrick Vacek <notifications@github.com>
wrote:

[2020-04-01 06:17] patrickvacek opened #162 "How should we handle emergency updates?"
Governments and regulatory bodies may require automakers to grant them full control over a vehicle in emergency situations. How can Uptane be extended to allow secure access for such a situation?

This may require two Directors and Image Repositories (one each from the government and the OEM). Delegations are not good enough to solve this, as the government will have a higher authority than the OE

[2020-04-01 06:18] patrickvacek commented on #161
That makes sense to me. I've created https://github.com/uptane/uptane-standard/issues/162 to cover the government emergency use case (item 1 in my previous comment) while we can continue discussing non-emergency location-based updates (item 2 in my previous comment) here.

[2020-04-01 12:43] JustinCappos commented on #162
I just want to make a minor comment.  It *is* possible to do this with delegations on the same repository, but either the government or OEM will have to control the repository, which may not be desirable / permitted.

[2020-04-01 12:49] iramcdonald commented on #162
Hi Justin,

It may be technical possible to do with delegations.  But not legally
possible.
The Registration Authorities and Certificate Authorities in ITS safety
*must*
be owned/managed by government authorities.  They cannot be delegated
from OEMs.  And vice-versa.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Ac

[2020-04-02 15:26] cameronmott commented on #162
This is an interesting issue, indeed. We will need clarity on whether this is a design requirement or is handled outside of Uptane. My current expectation is that this is outside of Uptane but I'd like to explore the possibilities.

Some complications that I would anticipate that need to be addressed:
1. Interoperability between OEMs
    If a government agency is to have the ability to override fu

[2020-04-10 15:28] jhdalek55 commented on #161
Could we get some additional feedback and/or maybe a draft PR here before our next meeting?

[2020-04-14 07:17] patrickvacek commented on #161
Should we approach this by changing the Standard to explicitly allow it, or should we add a chapter to the Deployment Considerations that lays out how to do it? I'm leaning towards the latter with the aim of keeping the "default" or "normal" use case as simple as we can.

[2020-04-14 12:26] iramcdonald commented on #161
Hi,

I agree with Patrick that discussing this in the Deployment
Considerations for now makes the most sense.  Perhaps
after some deployment experience and reviews, we might
want to eventually say something minimal in the Standard
(while still keeping the main stuff in the Standard simple).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co

[2020-04-27 17:51] jhdalek55 commented on #161
PR#44 has been merged on the Deployment pages. Have we sufficiently buried this issue?

[2020-04-28 07:27] patrickvacek commented on #161
In my opinion, this has been addressed and we should focus on the other open issues.

[2020-04-28 07:27] #161 closed

[2020-05-05 13:14] zabbal opened #163 "Update hash function examples"
That's a minor nitpicking but still. We use couple of hash function examples like sha512-224 and SHA512-256. In the https://csrc.nist.gov/publications/detail/fips/180/4/final those are referred to as SHA-512/224 and SHA-512/256 respectively. Let's drop this eyesore and avoid confusion with sha256 by using SHA-224 and SHA-3 instead. I know that SHA-512/224 is not the same as SHA-224 but in this con

[2020-05-05 13:53] iramcdonald commented on #163
Hi Max

I disagree with this change.  Lack of precision is dangerous.  And SHA-3
is a whole family of hash algorithms w/ different output sizes and default
parameters.  SHA-224 is certainly not a legitimate tag (in either NIST
SP800 specs or the IETF's IANA algorithm registries).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TC

[2020-05-05 14:52] jhdalek55 commented on #156
This issue is being left open as a place to introduce discussion of any potential "breaking changes--or changes to the Standard that could potentially impact backwards compatibility with existing implementations. It is not an issue that requires immediate deliberations.

[2020-05-05 15:07] jhdalek55 commented on #120
In the 4/28 Standards Meeting, it was decided that this use case could be addressed with an addition to the Deployment pages, as any type of exception mentioned in the Standard could potentially lead to insecure behavior. @tkfu offered to draft text for the Deployment pages to address this issue.

[2020-05-05 15:09] trishankatdatadog commented on #163
I agree. In fact, if we are to be even more precise, we should say things like `SHA2-256` and `SHA3-256` to distinguish between the two.

[2020-05-05 15:15] iramcdonald commented on #163
Hi,

I agree with Trishank.  The IANA TLS Parameters registry always
distinguishes
between SHA2 and SHA3 families of hash algorithms.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Intern

[2020-05-05 16:18] jhdalek55 commented on #162
On the 4/28 Uptane Standards call, it was decided we would put this issue on hold for the time being, pending the deliberations of  other standards teams. A discussion of this use case might be appropriate on the Deployment pages if a volunteer wanted to frame such a discussion.

[2020-06-19 15:41] jhdalek55 commented on #162
On the 6/9 Uptane Standards call it was decided that though this issue remains on hold in terms of the Standard, we  may want to issue a white paper that summarizes the status quo for this issue and current efforts to resolve it.

[2020-06-19 16:14] jhdalek55 commented on #120
@tkfu --can you remind me if this was addressed? No worries if it hasn't. I'm just trying to assess any open issues on the Standard and Deployment pages.

Lois

[2020-06-19 16:17] jhdalek55 commented on #156
As we are not likely to be introducing a 2.0.0 version anytime soon, I'm recommending we close down this issue. It has not served its intended purpose of identifying new  issues to address, so I see no reason to keep it open.

[2020-06-19 16:23] jhdalek55 commented on #163
@zabbal  given the comments from @iramcdonald and @trishankatdatadog, what action, if any, is required here?

[2020-06-19 17:27] iramcdonald commented on #156
+1

Stay safe,
- Ira

*Ira McDonald (Musician / Software Architect)Co-Chair - TCG Trusted
Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary - IEEE-ISTO Printer
Working GroupCo-Chair - IEEE-ISTO PWG Internet Printing Protocol WGIETF
Designated Expert - IPP & Printer MIBBlue Roof Music / High North
Inchttp://sites.google.com/sit

[2020-06-22 17:13] zabbal commented on #163
Created PR which incorporates feedback from the comments: https://github.com/uptane/uptane-standard/pull/166

[2020-06-23 06:02] patrickvacek commented on #163
Fixed by https://github.com/uptane/uptane-standard/pull/166.

[2020-06-23 06:02] #163 closed

[2020-07-03 02:31] #156 closed

[2020-07-03 02:32] jhdalek55 commented on #156
As noted above, closing this because V.2.0.0 is not on our horizon in the short-term,

[2020-07-16 10:37] tkfu opened #168 "Should a metadata file still be valid if it meets the threshold of valid signatures, but also includes one or more invalid signatures?"
Title mostly says it all, but I'll flesh out a couple of examples:

Root metadata says valid top-level targets keyids `a`, `b`, `c`, and `d`, with a threshold of 2. Should the following two metadata files be considered valid?

* Signed by `a`, `b`, and `x`, where `x` is not present at all in root metadata
* Signed by `a`, `b`, and `c`, but `b`'s signature doesn't actually match the signed content

[2020-07-16 13:44] JustinCappos commented on #168
I think that both of these MUST be considered valid.  (If you feel the spec is ambiguous, we likely should clarify it.)

The first case can happen when you include x in a newer version of root metadata (for example the next iteration), so this has to be handled correctly or adding / rotating keys is a pain.

Something like the second case could happen when you are changing / adding signing algorit

[2020-07-16 17:45] tkfu commented on #168
I think it's closer to a SHOULD than a MUST.

The first issue can be avoided in root rotations if you just include one extra intermediate version: version n+1 has a union of the keys in version n and version n+2, version n+2 removes the old keys. It's harder to see a way around the second issue, but I don't think it's fatal. For example, you could elect to ignore signing algos you don't understand

[2020-07-16 18:51] iramcdonald commented on #168
Hi Jon,

Strictly speaking, a new MUST means a major version.  But if this would be
a clarification of a previous implicit MUST, we could slip it into a minor
version.

At least in IEEE-ISTO Printer Working Group, we never break the conventions.
So we add (often) numerous new SHOULDs to v1.1, but NO new MUSTs.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)Co-Chair - TCG Trusted
Mobi

[2020-07-28 19:20] allen-cain-tm opened #169 "Requiring "Secure Time""
The standard states `"ECUs MUST have a secure source of time."` (Section 5.4) and further elaborates that this may be an external or internal source of time (Section 5.4).
My understanding is that this is included to prevent rollback and freeze attacks.
Separately, the Deployment Considerations states: `"If the ECU’s time is set too far ahead, it will detect that the current valid metadata is expi

[2020-07-28 19:21] allen-cain opened #170 "Deployment Considerations - CONDITIONALLY REQUIRED"
My understanding is that the Deployment Considerations document is intended to provide an implementer/adopter guidance on things they should consider when deploying an Uptane solution.
Considering this, should Deployment Considerations have "CONDITIONALLY REQUIRED" requirements?

[2020-07-28 19:21] allen-cain opened #171 "Image Repository Allow Encrypted Images"
The standard states that encrypted images are optional for Director repository (Section 5.3.2) & provides CONDITIONAL REQUIREMENTS for encrypted images on Director repository (Section 5.2.3.1.1).
Additionally, the standard is silent to the possibility of encrypted updates on the Image repository.
Separately, the Deployment Considerations makes reference to `"unencrypted images from the Image repos

[2020-07-28 19:21] allen-cain opened #172 "Deployment Considerations - Time Server Key Compromise"
The Deployment Considerations gives an overview of a "Secure Source of Time" with more details on the "Time Server", including effects to the vehicle when needing to update the Time Server key.
Additionally, the Deployment Considerations discusses how to handle Key Compromise for Uptane-related Repo's & ECU keys.

Considering this, I believe there is a gap in discussing the effects of a Time Serve

[2020-07-28 19:21] allen-cain opened #173 "Deployment Considerations References to "Recall""
The Deployment Considerations "Key Management" page has several references to `recall`.

<ins>**Proposal:**</ins> Remove all references to `recall` in favor of terminology allowing an OEM to safely and securely handle the revocation, rotation, and updating of cryptographic material.

[2020-07-28 19:21] allen-cain-tm opened #174 "Must all private keys be unique?"
1) Uniqueness of ECU Private Key
When discussing the `ECU key` in the Standard, Section 5.4.1 states `this is a private key unique to the ECU...`.
On this topic, the Deployment Considerations states `These keys should be unique to the ECU`.
<br/><ins>**Proposal:**</ins> Ensure consistency by allowing the ability for these keys to not be unique per ECU in the Standard.

~~2) Multiple Primary Scenar

[2020-07-28 19:22] allen-cain opened #175 "Standard Inconsistency"
Section 5.4.2.5 allows for a Secondary to <ins>not</ins> receive the latest attested time due to `not [having] the capacity to verify a time message`.
Yet, Section 5.4.3 & Section 5.4.3.1 requires all ECUs to verify the latest attested time.

<ins>**Proposal:**</ins> Update Sections 5.4.3 & 5.4.3.1 to optional for ECUs which do not have the capacity to verify a time message.

[2020-07-28 19:22] allen-cain opened #176 "Deployment Considerations Clarifications"
In Deployment Considerations section > Secure Time Source > Changes to all ECUs  - states the following: `At build time, ECUs will receive an attestation of the current time as downloaded from the Time Server.`.

Two points.
1) What is the definition of `build time` -- build code, ECU assembly, vehicle assembly, port, dealer?
2) If ECUs must receive an attestation of the current time, then this se

[2020-07-28 19:46] JustinCappos commented on #176
Your proposal seems sensible.  It also may be worth being even more vague about the timeframe.

A random thought, can we just say "at some point before the first update"?

[2020-07-28 19:48] JustinCappos commented on #174
Is there a reason we wouldn't just update the deployment considerations?  The standard is messier to change and I as far as I know MUST is the right term here.

[2020-07-30 00:02] allen-cain commented on #174
I believe there is benefit in allowing flexibility for an implementer/adopter to design their key management system.
As such, believe it is beneficial for both Standard and Deployment Considerations to allow for this flexibility.

[2020-07-30 15:54] mnm678 commented on #174
I think the choice to make this a SHALL in the standard was intentional to ensure that each Secondary ECU does not get conflicting updates from different Primaries, and to ensure that the Director has a consistent view of the ECUs in a vehicle. If we changed it to a SHOULD, I think we would need to add some clarification (possibly in the deployment considerations) about how to handle these events

[2020-07-30 16:32] iramcdonald commented on #174
Hi,

An overarching public standards process rule here:

If you either add *or* remove a SHALL, then that's a major change (breaks
compatibility).

The option for an Uptane Standard v2.0 release this year is NOT on the
table.  So no
Uptane Standard SHALL can be changed (or weakened to CONDITIONAL) in Uptane
Standard v1.1.0 release.

All - please pay attention to this constraint in discussing the g

[2020-07-31 21:35] jhdalek55 commented on #120
On the 7/23 Standards call, the group agreed to close this issue. Can someone with right privileges do so?

[2020-08-03 06:38] #120 closed

[2020-08-14 20:41] cwaldren opened #177 "Device Report - Filename and Hash requirement"
[ **5.4.2.1.2. ECU version report:** ](https://uptane.github.io/papers/uptane-standard.1.0.1.html#version_report)

Why `MUST` the filename and length of the image be included in the report? That is, why are the hashes not sufficient to uniquely identify the image to the Director?

[2020-08-17 14:27] jhdalek55 commented on #162
@patrickvacek  or @tkfu ---can we get this issue flagged as a milestone for V.2.0.0?

[2020-08-17 14:29] patrickvacek commented on #162
Done.

[2020-08-17 14:32] jhdalek55 commented on #162
That was quick. Thanks.

Lois

On Mon, Aug 17, 2020 at 10:29 AM Patrick Vacek <notifications@github.com>
wrote:

[2020-08-17 15:05] jhdalek55 commented on #177
Can someone address Casey's question here? Since we at the cut-off point for which issues will be addressed in V.1.1.0, we need to know of there is something here to be resolved. Given the comment of @iramcdonald on issue #174 that any change of a SHALL means a breaking change, if this is undoing a MUST, I believe if it is an issue, it must be held for 2.0..0.

[2020-08-17 15:15] iramcdonald commented on #177
Hi Lois,

I agree that downgrading this MUST (or removing the filename and length
fields) is a
breaking change and thus any change request goes to v2.0.0.

Casey - I see your point about the hashes, BUT all of the regulatory
context (e.g., for
mandatory recalls) requires a strong software image identifier and not just
a hash.
Since short hashes CAN collide, they should not be used by the Director

[2020-08-17 16:53] cwaldren commented on #177
Understood. It would be helpful to have the definition of "strong software image identifier" fleshed somewhere in the standard, as a justification for usage of filename and length. As I read it, it seems the hash + filename + length are in fact used for multiple purposes, which is confusing.

 **5.4.2.4. Download and verify images**

 **5.4.3.4. Verify image**

The ECU is not using the length in e

[2020-08-18 14:12] tkfu commented on #168
So, given the unanimous consensus here, I think we can just move this issue to deployment considerations, and consider it a clarification. I'll close this once I open up the other one.

[2020-08-19 23:07] tkfu commented on #177
I think Ira's adequately answered why both hash and length are required. Let me respond to your suggestion about a "strong image identifier":

As Ira pointed out, although we say "filename", in practice this can be anything, and is usually quite a lot more rigourous. Exactly what shape that rigour takes is covered by other standards, so I don't think we need to rehash it in Uptane. If you want to

[2020-08-19 23:09] tkfu opened #178 "Image verification procedure doesn't specify that the length should be checked"
In #177, @cwaldren pointed out that the standard doesn't require the client to verify that the image it has downloaded is the right size. I believe this is just an oversight we should fix. The only question, I think, is whether it's a MUST or a SHOULD.

[2020-08-20 02:41] cwaldren commented on #177
Thanks, this is quite helpful. Looking back, most of my confusion was due to reading

as implying that no other information could be included in the report, whereas in reality other information - such as including custom metadata - is left unspecified.

----------------------

For the usage of the term "filename", I'll admit it didn't occur to me that it could be arbitrary and used by the Director

[2020-08-20 06:51] iramcdonald commented on #178
Hi Jon,

I agree that it's an oversight (not checking the size of an image).

And I'm being a broken record.  BUT, if we want a new MUST in the
Standard, then it's a breaking change and requires a 2.0 release.  So
I suggest it be fixed (for 1.1 release) w/ a SHOULD and a rationale.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)Co-Chair - TCG Trusted
Mobility Solutions WG*

*Co-Chair

[2020-08-20 07:02] iramcdonald commented on #177
Hi Casey,

Thanks.  I agree that adding the relevant passage from TUF makes sense.

While I realize that TUF came out of a different universe than automotive
software, it's unfortunate, IMO, that TUF never required a strong software
identifier.  The UNECE Software Update regulation (and ITU-T X.1373)
certainly requires a strong software identifier.  And conflating that with
the
traditional use of

[2020-08-28 01:29] jhdalek55 commented on #170
@Iramcdonald. Your insight on this issue is requested. Thanks.

[2020-08-28 12:56] iramcdonald commented on #170
Hi,

Yes, it would be reasonable for the Deployment Considerations to make
frequent use of CONDITIONALLY REQUIRED, as Allen suggested.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)Co-Chair - TCG Trusted
Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary - IEEE-ISTO Printer
Working GroupCo-Chair - IEEE-ISTO PWG I

[2020-08-28 14:44] iramcdonald commented on #169
Hi,

Interesting comment.  I don't follow the logic of why an ECU w/ a later
time would *unintentionally* reject an earlier signature or build date.

For any update on rollback protection, we should explicitly reference
SAE J3101 clauses and align terms.  I'm not sure that ISO 21434
has rollback protection (it should, but is probably too high-level).

However, this issue has to be tagged for v2.0.

[2020-08-28 14:47] iramcdonald commented on #175
Hi,

I agree - this is an outright bug in the current Standard!

We should not defer this consistency fix to v2.0.0.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)Co-Chair - TCG Trusted
Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary - IEEE-ISTO Printer
Working GroupCo-Chair - IEEE-ISTO PWG Internet Printing P

[2020-08-28 15:06] iramcdonald commented on #176
Hi,

I agree with Allen's proposal.

I disagree with Justin's more obscure timeframe.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)Co-Chair - TCG Trusted
Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary - IEEE-ISTO Printer
Working GroupCo-Chair - IEEE-ISTO PWG Internet Printing Protocol WGIETF
Designated Exper

[2020-08-28 17:49] trishankatdatadog commented on #169
Sorry, I'm a bit confused. Just because an ECU clock is ahead of the "real" current time, doesn't mean it would reject earlier signatures (doesn't matter when it was signed), only what is now considered "expired" metadata, no?

[2020-08-28 18:14] iramcdonald commented on #169
Hi Trishank,

But the "expired" metadata is determined by the signature on the metadata,
right?

The idea of a DoS attack on an individual ECU by corrupting its own RTC
seems
vanishingly unlikely to me.  Distribution of current time in vehicles is
OEM-specific,
but there are usually only one or two trusted ECUs in a whole vehicle for
time
source.  Rationale implementations *never* trust GPS time.

[2020-08-28 22:26] trishankatdatadog commented on #169
Agreed. There may be an escape hatch for ignoring the signed expiration time, if need be, and I don't think this is even a possibility in the standard right now. Definitely a 2.0.0 thing if it ever happens.

[2020-08-30 18:00] jhdalek55 commented on #175
Can someone suggest the appropriate wording for a PR here? It seems like it should be a simple issue to address, though we probably will need to review the document to make sure this inconsistency doesn't exist elsewhere.

[2020-08-30 18:07] jhdalek55 commented on #176
If I am reading this correctly, this clarification is in the Deployment and does not involve a Standards change. Therefore, @patrickvacek  or @tkfu can you move this to the Deployment pages? And can we open a pull request using Allen's proposed language? I'd be happy to open this request myself if we additional discussion is not needed.

[2020-08-30 22:47] jhdalek55 commented on #170
The issue posted here is simply whether we should allow this option. What, if anything, would actually need to be changed in the Deployment pages? If we are agreed that conditionally required is permissible, do we need a PR to make this decision official?

[2020-08-30 23:20] jhdalek55 commented on #177
Is this issue to be included in the versioned document to accompany 1.1.0? If so, will this be part of it, or should this be flagged for 2.0.0?

[2020-08-31 11:43] iramcdonald commented on #177
Hi Lois,

If we leave the MUST substantially alone in the Standard (as Jon agreed with
my comment), we can add words (if anyone has a good suggestion) to the
Deployment Considerations in v1.1.0.

Since there are a number of practical approaches to a "strong software
identifier"
and no obvious consensus among OEMs and suppliers about the format, I think
that Jon's made a good point about not trying

[2020-09-01 14:44] tkfu commented on #170
As discussed in the call on 1/9/2020, CONDITIONALLY REQUIRED and SHALL are both acceptable in best practice/deployment documentation. We can use them where appropriate.

[2020-09-01 14:44] #170 closed

[2020-09-01 14:51] jhdalek55 commented on #178
Make this a should and submit as a pull request as per discussion in 9-1-20. But tag as 2.0.0 the issue of making image size a MUST.

[2020-09-01 15:21] #178 closed

[2020-09-13 22:59] jhdalek55 commented on #175
Adding wording on 9/13 that should address this issue.

[2020-09-13 23:07] jhdalek55 commented on #176
@tkfu or @patrickvacek ...can you move this to the Deployment pages? If that is done, I can use Allen verbiage to open a pull request.

[2020-09-14 00:23] jhdalek55 commented on #178
@tkfu should we open a new issues for 2.0.0.  for the bigger issue of changing the need to verify image to a MUST?

[2020-09-14 00:52] jhdalek55 commented on #177
Should this be closed now? Or should we re-write this to encompass the "should to must" requirement for V.2.0.0?

[2020-09-14 06:49] patrickvacek commented on #176
I don't have the rights to do it, but you can still open the PR in the Deployment pages and reference this issue from this repo.

[2020-09-14 09:35] tkfu commented on #178
Yes, definitely.

[2020-09-14 09:37] tkfu commented on #177
I'm calling it closed. We should open a new issue and tag it for 2.0.0 for the "should -> must" change, to keep things clean.

[2020-09-14 09:37] #177 closed

[2020-09-14 15:13] jhdalek55 opened #181 "Change the requirement to verify that a downloaded image is the right size to a MUST"
This follows up on a problem initially raised in Issue #178. The Standard should be changed to make checking the size of downloaded images a MUST. This is being held for version 2.0.0 as it is a breaking change.

[2020-09-14 15:15] jhdalek55 commented on #178
Issue #181 was opened to remind us of the need for a breaking change in version2.0.0.

[2020-09-14 15:21] jhdalek55 commented on #177
Issue #181 now addresses the should to must change for 2.0.0.

[2020-09-14 17:30] jhdalek55 commented on #181
Can someone tag this as a 2.0.0 milestone. I can't figure out how to do that. Maybe I don't have the right privileges.

[2020-09-17 14:38] jhdalek55 commented on #175
Closed this issue via PR#180

[2020-09-18 07:01] patrickvacek commented on #175
Fixed by https://github.com/uptane/uptane-standard/pull/180.

[2020-09-18 07:01] #175 closed

[2020-11-18 09:30] patrickvacek opened #185 "Standard vs Standards"
There are six places where we say "the Uptane Standard" or "this Standard". There are three places where we say "Standards", as in, "Uptane Standards" or "these Standards". The plural sounds weird to me. What's the going recommendation here?

[2020-11-18 09:33] pattivacek opened #186 "Secondaries without secondary storage"
In [section 5.4.2.6](https://uptane.github.io/uptane-standard/uptane-standard.html#rfc.section.5.4.2.6), we say, "Each Secondary SHALL store the latest copy of all metadata required for its own verification." In [the following section](https://uptane.github.io/uptane-standard/uptane-standard.html#rfc.section.5.4.2.7), we then say, "For Secondaries without storage [...]". Other sections also refer

[2020-11-18 09:34] patrickvacek opened #187 "Delegations: "target name must match""
In the [delegation resolution section](https://uptane.github.io/uptane-standard/uptane-standard.html#rfc.section.5.4.4.7), we write, "For the delegation to apply, it MUST include the hardware identifier of the target, and the target name must match one of the delegation’s image paths."

Should the second "must" be capitalized, and can we do that without a major version change? It seems like this w

[2020-11-18 10:35] patrickvacek commented on #185
Thanks! Fixed by https://github.com/uptane/uptane-standard/pull/184, to which I added another commit.

[2020-11-18 10:36] iramcdonald commented on #186
Hi Patrick,

A couple of intertwined thoughts here:

(1) Change "secondary storage" to "protected storage" (a term being used
across specs
in TCG, SAE, Global Platform, and other SDOs to emphasize that the relevant
metadata,
keys, etc., are useless if they are not *reliably* stored).

(2) I have never liked the idea that an Uptane Secondary could exist with
some minimum
amount of computational res

[2020-11-18 10:38] iramcdonald commented on #187
Hi Patrick,

It's a typo that the second "must" is lowercase.  It should just be changed
to "MUST"
as that was clearly the intent all along.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair - TCG Metadata Access Protocol SG*

*Chair - Linux Foundation Open Printing WGSecretary

[2020-11-18 10:44] patrickvacek commented on #187
Thanks. I added another commit to https://github.com/uptane/uptane-standard/pull/184 that fixes this.

[2020-11-18 10:46] patrickvacek commented on #186
Interesting, I haven't heard that term before. An internet search mostly returns some proprietary Windows tool. I think this might require a bit more discussion before I make any changes.

What do you mean? I think there's either a typo or I'm missing something obvious... how else would you have your Secondaries?

[2020-11-18 16:22] iramcdonald commented on #186
Hi Patrick,

Sorry - up all night w/ IETF 109 Virtual Conference sessions.

On item (2) I meant "without minimum computing resources and protected
storage", because in that case it's not a legitimate Secondary, IMO.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair - TCG Metada

[2020-11-18 19:51] jhdalek55 commented on #185
I agree. If we are referring to the "Uptane Standard" or the "Standard" (but still referring to the Standard document, I agree it should be capitalized.

[2020-11-19 08:27] patrickvacek commented on #186
Got it. Yes, I think we share the same concern: if you can't even store Targets metadata, then how can you check versions for rollback attacks? Maybe we need to rethink how we phrase this in the Standard.

[2020-11-19 08:55] iramcdonald commented on #186
Hi Patrick,

Somewhat in jest... What about an Uptane Tertiary?  A really
resource-constrained
Secondary who "trusts" the Uptane Primary (via in-vehicle authentication
methods)
and (implicitly) the Uptane Director (via transport protocol endpoint
authentication)
to only forward valid firmware updates (e.g., via UDS diagnostic
interfaces).

In practice, that means there need to be in-vehicle entiti

[2020-11-19 10:23] patrickvacek commented on #186
To me, this sounds like what we've been calling a "legacy Secondary", i.e., an ECU that doesn't implement any Uptane verification and generally gets flashed by an installation manager based on the Primary's metadata verification. In practice, that's where most Secondaries in the field are still at.

[2020-11-19 16:25] #185 closed

[2020-11-19 16:25] #187 closed

[2020-11-19 17:39] jhdalek55 commented on #186
@patrickvacek ...so should this be flagged for 2.0.0?

[2020-11-19 17:57] iramcdonald commented on #186
Hi Patrick,

I understand what you mean.  But I'm *strongly* opposed to using the
term "legacy Secondary" into the Uptane Standard or Deployment Best
Practices.  We don't have to use "Tertiary" (my humor), but we *really*
SHOULD NOT overload the term "Secondary" with that "legacy" hand
waving.

Lois - all of that stuff in my previous note about future content in Uptane
v2.0.0 of course belongs els

[2020-11-19 18:13] jhdalek55 commented on #186
@iramcdonald. With your permission, I was going to take that "wish list" for 2.0.0 and throw it in the agenda for our Tuesday meeting. One of the two agenda items I mentioned was reviewing what's already on our 2.0.0. list. I'd like to throw these things into the mix as well.

[2020-11-19 21:47] iramcdonald commented on #186
Hi Lois,

Permission granted.

Since the various key SAE, ISO, and IETF specs are either published or
going to be
published in 2021, I was thinking it was time to give some "teeth" to some
Uptane
Standard requirements and/or Deployment recommendations.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility

[2020-11-19 22:14] jhdalek55 commented on #186
Thanks, Ira. Please make sure the comments stay here till I can move them.

[2020-11-20 08:41] patrickvacek commented on #186
Ira, I hear that concern. I agree that "legacy Secondary" is a really ambiguous term and we should avoid it. The problem is the phrase we use now "Secondary without secondary storage" is not much better. I think these are actually addressing two separate categories, both of which need better names. Here is the way I've always broken down types of Secondaries from the Uptane perspective:

1. Second

[2020-11-20 09:26] iramcdonald commented on #186
Hi Patrick,

But "non-Uptane Secondary" is inherently ambiguous, because it's still
overloading "Secondary".

We need to avoid the ambiguity of "non-Uptane (or whatever) Secondary"
to mean something that is not a titlecased "Secondary" at all.

No validation is the Wild West.  Unless we come up with a proper term and
define it as something like "an ECU that trusts an upstream component
(e.g., an U

[2020-11-20 15:43] jhdalek55 commented on #186
I think @patrickvacek has identified a valid concern here. I agree that more specific terminology is called for here. But, I do think if the goal is clarity then we HAVE to consider any potential label from all sides. For the sake of being able to meet our self-imposed deadline, which is that we decide to release as of our next meeting, can we clearly mark this as an issue for 2.0.0?  I'm taken on

[2020-11-20 18:04] iramcdonald commented on #186
Hi Lois,

Yes, we can push it to v2.0.0.

I think we can resolve appropriate terminology sooner and change it in
v1.2.0.
It's a key practical issue for Uptane deployments in real automobile models
in
the next couple of years.

Cheers,
- Ira

*Ira McDonald (Musician / Software Architect)*

*Chair - SAE Trust Anchors and Authentication TF*
*Co-Chair - TCG Trusted Mobility Solutions WG*

*Co-Chair -

[2020-11-20 21:10] mnm678 opened #189 "References to rejected TAP 5"
[TAP 5 has been rejected in TUF](https://github.com/theupdateframework/taps/blob/master/tap5.md), but the standard still refers to this document. The TAP was not rejected for a security-related reason, so this isn't an immediate concern, but it might be better for us to move the relevant content directly into Uptane or remove the references in the standard.

A first step could be to get some feedb

[2020-11-20 21:11] mnm678 opened #190 "Slow retrieval attack protection"
In the threat model, we state that Uptane protects against slow retrieval attacks. However, full protection against slow retrieval attacks requires cooperation from the network stack which is not described in the standard and probably out of scope of Uptane. For this reason, we recently removed slow retrieval attacks from the TUF specification (see theupdateframework/specification#111). To resolve

[2020-11-20 21:26] trishankatdatadog commented on #189
I never liked TAP 5, TBH, it was always too complicated for its own good.

[2020-11-21 01:30] jhdalek55 commented on #189
I saw that, and was going to raise it as a question when I was done reviewing the document. Thanks for making this an issue so we can address it.

[2020-11-24 14:47] jhdalek55 commented on #190
My inclination is to do option 1, but I would like to hear from those who better understand the issue.

[2020-11-24 18:37] mnm678 commented on #190
In the 11/24 standards call, we decided to add a SHOULD to the standard to address slow retrieval attacks.

[2020-11-24 21:38] jhdalek55 commented on #189
During the Uptane Standards meeting on 11/24/20, we decided to hold off on approving the release of V.1.1.0, in part because we felt we needed a bit more time with this issue. We can address it in several ways--change the SHALL to a SHOULD to make it conditional, delete the reference, or point towards its substitute, TAP 13 https://github.com/theupdateframework/taps/pull/118. If possible, try to r

[2020-12-01 10:15] patrickvacek commented on #189
@JustinCappos suggested that we might be able to simply replace the TAP 5 references with TAP 13. From a quick review, this seems viable. However, someone more knowledgeable in these use cases should make the call.

[2020-12-01 11:29] trishankatdatadog commented on #189
Exactly. I'm in strong favor for removing TAP 5, and do not think we should even replace with TAP 13 unless there are strong use cases.

[2020-12-01 16:31] mnm678 opened #194 "Make slow retrieval attack prevention a SHALL"
In #193, we added a check for slow retrieval attacks to the standard. During discussion in that pr, we decided that this protection should be a SHALL in a future version of the standard.